[2020-04-30 17:50] arturovt commented on #179
I would be happy if you make a PR with that fix, since you have an Angular 5 app and you can debug it. Unfortunately, the 5 version is very old and deprecated. Even the 7th version is not under support anymore. What would I do is:
[code]

[2020-04-30 19:04] arturovt commented on #179
So if you have a wish to make a PR - go on :heart:

[2020-04-30 19:05] rDr4g0n commented on #179
Yep, testing one out right now :D

[2020-04-30 19:29] rDr4g0n commented on #179
I went ahead and made 2 PRs. One is as you described above. The other is a bit more concise. Merge whichever you prefer!

https://github.com/single-spa/single-spa-angular/pull/180
https://github.com/single-spa/single-spa-angular/pull/181

[2020-04-30 19:48] arturovt commented on #179
The second one has much less code. Could you do `git commit --amend` and change commit message to `fix(single-spa-angular): separate router patch for Angular 6+ and older`, this will also run Prettier, I assume you've run `git commit --no-verify`.

Maybe we could do something like this except calling `splice` every time?
[code]

[2020-04-30 20:45] rDr4g0n commented on #179
I have made the requested change and verified that it works with angular 5. I also editing the commit message and force pushed so there will be only one commit.

As for prettier, it looks like that stuff was setup in master for 4.x, and the change I am making was forked from the 3.x branch. Is this a problem?

[2020-04-30 20:49] arturovt commented on #179
Ah, I forgot.

[2020-05-01 19:02] arturovt commented on #175
angular.json only specifies the path to polyfills.ts. Our webpack config strips polyfills file since Angular apps have to contain only `main.js` and lazy-loadable chunks.

This shouldn't be done. zone.js library has to be loaded in the root-config that orchestrates all applications.

[2020-05-01 20:54] joeldenning commented on #179
Fix released in https://github.com/single-spa/single-spa-angular/releases/tag/v3.3.2

[2020-05-01 20:54] #179 closed

[2020-05-03 09:16] friendly-tech commented on #105
@joeldenning - How do you share these via import map, there is plenty of info around making your micro front ends use externals, but no info on how to actually share those modules/externals from the host app..

Do we use a public CDN or is there a way to bundle these into host app and expose them to be comsumed by the micro front ends?

[2020-05-04 11:40] MarcoBomfim commented on #175
@arturovt, that's what I'm trying to do in the past couple of days. Finding a way to set the ZoneJS to be included only inside the root config.

Currently, the app registration is not being made in a <script> tag inside the root config, but it is a .js function, which receives a list of applications, an register them afterwards. I'm starting to think that Zone is not being imported by the "childre

[2020-05-04 14:09] adriano-di-giovanni opened #183 "Need to reinstall node modules after installing single-spa-angular"
### Demonstration

As you can see from the full log below, the first `npm run serve:single-spa` fails because of a missing module. I've solved the issue by reinstalling the modules.

I also tried to create the single-spa application without using create-single-spa: I can say that this issue arises after installing single-spa-angular (`ng add single-spa-angular`).

[code]
### Expected Behavior

I'd

[2020-05-04 16:41] joeldenning commented on #105
One thing to note is that Ivy Compiler strictly disallows and discourages sharing of the core libraries. So if you're using Angular 9 + Ivy, you won't be able to do it. More info at https://twitter.com/Joelbdenning/status/1253781652486017024.

Here are some resources and examples of how to share dependencies with import maps:

- https://single-spa.js.org/docs/recommended-setup#sharing-with-import-

[2020-05-05 00:44] visweswaranr commented on #11
Were you able to fix it @danutzcodrescu ? I have the same error

[2020-05-05 00:59] visweswaranr commented on #11
@joeldenning I am also getting the same error now. And it works fine for me in the regular angular builder configuration of webpack.
![image](https://user-images.githubusercontent.com/4468963/81026979-d917a000-8e30-11ea-984b-2284f3b2690d.png)

The only difference between the 2 builders is that for the custom one, I use the zone.js from the parent app. If I comment out the use of any DI, then it al

[2020-05-05 02:59] visweswaranr commented on #11
Nevermind, it was the es7 reflect that I needed to import.

[2020-05-05 04:15] joeldenning commented on #11
Glad to hear you got it working.

[2020-05-08 06:30] andreas-becker commented on #148
For me the following helped to fix the problem.
Open the file "_extra-webpack.config.js_" in your preferred editor
Remove the line "_library: 'YourAppName'_"

Save and try to build again

[2020-05-11 02:02] mmxstar commented on #102
angular has the same problem too. @joeldenning

[2020-05-11 10:38] arturovt commented on #102
@mmxstar could you provide a _minimal reproducible example_?

[2020-05-11 12:03] oskar-szwajkowski opened #184 "canDeactivate is not invoked when changing single-spa apps with browser back/forward buttons"
### Demonstration

Hello, I have run into bug (at least I think it is one) regarding invoking `canDeactivate` guards while changing single-spa applications with back / forward browser buttons.

Steps to reproduce:

1. Create parent single-spa application
2. Create child single-spa application with `canDeactivate` guard, can pop up confirm button or console.log, doesn't matter
3. Navigate to child

[2020-05-12 09:43] orosro commented on #130
@richardbladh  Could you provide an example on how you did it? Thank you

[2020-05-12 11:56] richardbladh commented on #130
In app.component.ts in your Angular 9 app.
`export class AppComponent implements OnDestroy {
    ngOnDestroy() {
        // Fix for Angular 9 + SingleSpa. Remove when the issue is fixed: https://github.com/single-spa/single-spa-angular/issues/130
        // Solution (seems to work for now): Cleanup the DOM manually on destroy.
        const element = getTheElementFromSomeGlobalRegistryThatYouveSet

[2020-05-12 17:08] arturovt commented on #184
Provide a _minimal reproducible example_, please.

[2020-05-14 15:42] subodhkumarWM opened #185 "Unable to build Angular 7 projects using the documentation"
Trying to build artefacts for Angular7 projects,
Steps to replicate:
* ng new <project_name>
* ng add single-spa-angular
* ng build --prod

getting the below error,
[code]

[2020-05-14 15:42] #185 closed

[2020-05-14 16:08] subodhkumarWM commented on #185
Thanks a lot for the confirmation @joeldenning

[2020-05-14 19:17] friendly-tech opened #186 "Multiple calls to platformBrowserDynamic().bootstrapModule in main.single-spa.ts"
Im exporting multiple modules/entry points from my `main.single-spa.ts` file as my childApp exposes smaller modules with a single component to be used as parcels as well as a main module used as an application - reason for this is i have components i want to share as well as the main application.

[code]

The the other end after i do
[code]

This all works fine when i run my apps using `ng serve`

[2020-05-14 22:33] joeldenning commented on #186
Don't have time for a full, proper response right now but here's how I usually expose both a main app and a parcel or component from main.single-spa.ts:

[code]

^ This way the entire in-browser module is an application, but it also contains some named exports that are parcels. It's also entirely possible and fine to do it the way you had where `main` is the application.

[2020-05-15 07:04] friendly-tech commented on #186
I assume you are calling `return platformBrowserDynamic().bootstrapModule(SomeModule);` in your bootstrap function for each of the components (and the app) - you have a module per exposed parcel component.

Dont you get an error during mount time when your app is built with `npm run build --prod` and you have this in you angular.json.

[code]

[2020-05-15 09:46] orosro commented on #130
Thank you,

I'm working on a POC and I'm going to use this solution for the moment. I saw that there are also some errors with the AnimationEngine, removing it from the singleSpaAngular bootstrap method "fixed" the unmounting process.

[2020-05-15 12:23] HemTech opened #187 "lazy load app style"
I’m trying to create separate bundle of my style sheet
I’m implementing multiple themes and want to load css file runtime base on user request. I have implemented it with normal angular 8 application and able generate separated bundle for each theme (ng build)  so can load the require theme at run time. Below is my angular.json configuration.

We are using @angular-builders/custom-webpack:browser

[2020-05-15 13:26] filoxo commented on #187
Are you reporting a bug?

[2020-05-15 16:43] joeldenning commented on #186
That's what I would expect, yes. I personally don't use single-spa-angular as heavily as some of the other frameworks, so the exports naming pattern I'm describing is what I've done with react/vue.

What error are you getting?

[2020-05-15 17:31] friendly-tech commented on #186
I get the error
‘No NgModule metadata found for 'Xy’ ‘

Note - Xy could be anything after optimisation but it’s pointing to AppModule

If I remove one of the calls to platformBrowserDynamic()... then everything works fine

Also the error is only in prod build.

Something to do with AOT not handling multiple calls to this...

[2020-05-15 19:15] arturovt commented on #186
@friendly-tech

You can't have more than 1 `bootstrapModule` expressions.

https://github.com/angular/angular-cli/blob/08ec8318c1494e2548eae522a4d8720a7e6ec8c9/packages/ngtools/webpack/src/transformers/replace_bootstrap.ts#L99-L100

The compiler is looking for the first matching `bootstrapModule` statement in `main.ts` file and replaces it with `platformBrowser().bootstrapModuleFactory(AppNgModule

[2020-05-15 19:41] friendly-tech commented on #186
Interesting..
I dont see How you can expose multiple parcel from an angular app in this case, i tried adding multiple bootstrap components to single module but this leads to a few issues.

1.You need to dynamically choose the template in the bootstrap function based on passed in params, which you cant do - i tried a hack setting domElement.innerHTML inside bootstrap func but got error 2 below.

2.

[2020-05-15 19:46] arturovt commented on #186
Sorry, I don't know what you're trying to achieve. I just mentioned that the behaviour you're observing with multiple `bootstrapModule` calls is by design.

[2020-05-15 20:04] HemTech commented on #187
I think the feature is missing in custom-webpack then we can consider as issue.

[2020-05-15 20:17] friendly-tech commented on #186
Found a way to do it using [DoBootstrap](https://angular.io/api/core/DoBootstrap) and changing the html content of the dom element so they match up (essentially switching out the component you want to bootstrap and render based on args passed) - so one module with multiple entry components and a dynamic way to choose which is bootstrapped and rendered.

Something like

[code]

[code]

[2020-05-15 20:25] arturovt commented on #186
Glad you've found a solution.

You could actually store that property in `singleSpaPropsSubject` thus you can avoid having static properties.
You could also have lazy-loadable components, since if you've got 10 components and you wanna render only 1 then other 9 will be bundled too. `switch + import(...).then(...)` will do the trick.

[2020-05-15 20:30] #186 closed

[2020-05-15 22:49] jimmyhdolores opened #188 "single-spa Not found in version 4.1.0"
In version 3.0.1 single-spa is loaded, but now in this version 4.1.0 it no longer loads and therefore causes an error in the singleSpaPropsSubject class, note that you use the command ng add single-spa-angular

[2020-05-16 00:33] joeldenning commented on #188
`npm install --save single-spa`

single-spa-angular@3 and single-spa-angular@4 both have a peerDependency on single-spa. We made it a peer dependency because single-spa-angular@4 works with single-spa 3, 4, or 5 and we wanted to give people the option to use those versions if they are already on an older version.

The difference with single-spa-angular@4 is that single-spa is imported for its type

[2020-05-18 14:48] arturovt commented on #187
Could you provide a _minimal reproducible example_?

[2020-05-18 14:54] MarcoBomfim commented on #188
I was just about to open the PR but noticed that single-spa is already a dependency (?):
- [package.json:114](https://github.com/single-spa/single-spa-angular/blob/master/package.json#L114)

Or do you mean to throw it up as a devDependency?

[2020-05-18 15:19] joeldenning commented on #188
This project uses ng-packagr, which is a bit weird in that the package.json at the root of the project is not the one published to npm. See code below that shows that single-spa is a peerDependency:

https://github.com/single-spa/single-spa-angular/blob/ff2acca6fc66c12ad876d1dc883f45748822becf/src/package.json#L28

^ This is the package.json that needs to be updated.

[2020-05-18 18:58] MarcoBomfim commented on #188
I was overcomplicating things for some reason. Thanks!

[2020-05-19 00:23] joeldenning commented on #183
This one slipped under my radar. I don't remember this being an issue last time I tried out single-spa-angular@4. I'll try to get around to this one soon.

[2020-05-19 06:07] Sally-yu commented on #157
你好，我也遇到同样的问题，重新挂载app1，存储的复用快照会报错。有什么新进展吗

[2020-05-19 07:40] varora1406 commented on #113
I also have a situation, but with different code.
recreated that situation with https://github.com/varora1406/coexisting-angular-microfrontends/commit/7073a82e237d47fbb809beb3e12a861c2d91c4d3.

Any helpful comment from community on it?

[2020-05-19 15:47] joeldenning commented on #113
To solve this bug, we need Angular router to ignore [the single-spa popstateevent](https://single-spa.js.org/docs/api#popstateevent) if it was the app that triggered the navigation by calling `pushState()`.

@arturovt and I have discussed this but haven't found a solution for it. We have both shifted our attention to other work right now, but would gladly accept a PR for anyone who has an idea of

[2020-05-19 15:51] joeldenning commented on #113
Another thing - the single-spa core team is proposing a new dom event called `statechange` that would better facilitate multiple SPA routers on the page at the same time. The root of this URL infinite redirect bug is Angular's handling of multiple routers on the same page, and that statechange event would provide a clearer path for Angular's code to handle this properly. The proposal can be found

[2020-05-19 16:32] joeldenning commented on #113
Here's the proposed workaround:

- If a popstate event was caused by this application calling pushState, ignore it.
- Otherwise, re-render by calling this.ngZone.run()

Here's an idea of what the code might be for it:

[code]

[2020-05-20 13:44] MarcoBomfim commented on #175
Using the [coexisting-angular-microfrontends](https://github.com/joeldenning/coexisting-angular-microfrontends) repo, we could pinpoint the difference on the configuration that were causing this issue.

It seems that on v3.0.1, the builder used for `build` and `serve` are single-spa's and not Angular's builders:
**v3.0.1 angular.json**:
[code]

**v3.1.0 and beyond**:
[code]

Also, another thing to

[2020-05-20 13:44] #175 closed

[2020-05-21 15:32] arturovt commented on #130
@orosro

if you've encountered any issues you might want to open an issue and _the most important_ to provide a _minimal reproducible example_. I will try to help you to resolve those issues.

[2020-05-21 16:22] joeldenning commented on #188
This was resolved in https://github.com/single-spa/single-spa-angular/pull/193. @filoxo added this as part of the angular schematics, which i think is an even better solution.

[2020-05-21 16:22] #188 closed

[2020-05-21 17:06] joeldenning commented on #113
The fix for this is released for Angular 9 projects under the `alpha` dist tag. See https://github.com/single-spa/single-spa-angular/releases/tag/v4.1.0-alpha.0.

We plan on backporting the fix to single-spa-angular@3, as shown in #192. I'll post here once a new 3.x is released.

Could people please try out 4.1.0-alpha.0 and let us know if it fixes the issue for them? We'd like to get as many peop

[2020-05-21 17:08] joeldenning commented on #113
One note about the fix:

**You must upgrade to single-spa@>=5.4.0** for the fix to work!

[2020-05-21 18:27] joeldenning commented on #113
This fix has been backported for Angular 2-8 via https://github.com/single-spa/single-spa-angular/releases/tag/v3.4.0. Note that you must use single-spa@>=5.4.0, and add the extra single-spa providers to your code in order for it to work.

Please comment here after having tried it out to let us know if it's working for everyone.

[2020-05-21 20:58] gubertcalixto commented on #113
Tried to use the v3.4.1 in my repo and unfortunately had the following error
![image](https://user-images.githubusercontent.com/28396856/82605208-f1efb780-9b8b-11ea-8a17-7d11c6969d79.png)
Thing I did before test it:

1. Update single-spa.min.js import from
System.import('https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.5/system/single-spa.min.js')
to
System.import('https://cdnjs.cloudflare.co

[2020-05-21 21:02] joeldenning commented on #113
This looks like an error with differential loading (es5 vs es2015). single-spa-angular@3 doesn't use ng-packagr right now - @arturovt can you comment on what our options are to support differential loading for single-spa-angular@3?

@gubertcalixto what you can try is to use the es2015 version of your bundled output while testing the bug - that one will call classes with `new` correctly

[2020-05-21 21:24] gubertcalixto commented on #113
Test it over again, this time building the app and accessing **main-es5.js** and it **worked just fine** (main-es2015.js did not work, with same error as above).
Anyway, this button below finally does not make infinite loop anymore.
![image](https://user-images.githubusercontent.com/28396856/82607896-1057b200-9b90-11ea-877b-1161c5a183fe.png)

THANK YOU GUYS 👍

[2020-05-22 06:15] aniketavhad opened #195 "Custom props not allowed in mount lifecycle"
I need to register `globalEventDistributor` as custom props to communicate between MFE's.
So for that, I were passing props to mount lifecycles, But unfortunately that is no longer works.
Here is my sample code,

[code]
But now its giving me error as saying,

Can anybody help me, how to pass props to mount lifecycle

[2020-05-22 07:13] arturovt commented on #113
I was testing so fast that I forgot about differential loading.... :grimacing:

I will think about what we can do with that.

[2020-05-22 15:04] joeldenning commented on #195
This looks like a typescript-only error, not a runtime error. Single-spa still passes props into the lifecycle functions.

What version of single-spa and single-spa-angular are you using? single-spa-angular@4 now uses the `LifeCycles` type from single-spa, which is defined in the single-spa repo:

https://github.com/single-spa/single-spa/blob/48034c1474cb2829359edc58747aecf7879933f9/typings/single

[2020-05-22 19:57] arturovt commented on #184
Any progress on this?

[2020-05-22 19:58] arturovt commented on #187
Any progress on creating a reproducible example?

[2020-05-22 20:04] arturovt commented on #195
It doesn't work because the compiler tries to infer a _callable_ type and meets `LifeCycleFn<T> | Array<LifeCycleFn<T>>`. And its message is pretty clear `Type 'LifeCycleFn<{}>[]' has no call signatures`, that means that this type cannot be used as a function expression.

This will work:
[code]
You have to tell the compiler that you know what you're doing and you're there is a function expression

[2020-05-22 20:04] #195 closed

[2020-05-22 20:07] arturovt commented on #157
Any progress on creating reproducible example?

[2020-05-26 04:32] varora1406 commented on #113
For me as well, this fix of `alpha` release is good till now.

[2020-05-26 04:44] joeldenning commented on #113
For those using single-spa-angular@3, we released https://github.com/single-spa/single-spa-angular/releases/tag/v3.5.0 which has support for differential loading. With all the feedback positive so far on the 4.x alpha release, I think we should just release this as latest. @arturovt do you agree?

[2020-05-26 06:57] aniketavhad commented on #195
@arturovt  Thanks for the solution you provided, My issue got resolved.

[2020-05-26 07:30] subodhkumarWM opened #199 "Error while running 'ng add single-spa-angular@3' with version 3.5"
Steps:
Angular cli v7

[code]

Gets below error
[code]

[2020-05-26 14:37] arturovt commented on #113
I would want to hear feedback from @matt-gold since he was very active in helping to test out our code changes.

[2020-05-26 16:41] joeldenning commented on #199
Done

[2020-05-26 16:54] oskar-szwajkowski commented on #184
Preparing reproduction repo ATM

[2020-05-26 17:01] oskar-szwajkowski commented on #184
Repo that reproduces issue, with instructions in README.md:

[Repo](https://github.com/oskar-szwajkowski/single-spa-angular-issue-184)

[2020-05-26 18:49] arturovt commented on #184
Thanks! I will have a look asap.

[2020-05-26 23:41] joeldenning commented on #199
The fix for this is released in https://github.com/single-spa/single-spa-angular/releases/tag/v3.5.1.

[code]

[2020-05-26 23:41] #199 closed

[2020-05-27 05:11] jimmyhdolores commented on #59
As they do in the case that Image by Sass is loaded for example

.body-row {

background: url ("/ assets / images / myimage.jpg") without repetition bottom right;
}

I set the setPublicPath but keep throwing 404

[2020-05-27 06:23] ashuaggarwal94 opened #201 "Zone error coming up after the navigation(Cannot read property 'run' of undefined)"
After navigating from the portal application we are getting in the console.

Log trace:
core.js:6228 ERROR TypeError: Cannot read property 'run' of undefined
    at eval (single-spa-angular.js:21)
    at eval (single-spa.min.js:2)
    at Array.forEach (<anonymous>)
    at et (single-spa.min.js:2)
    at m (single-spa.min.js:2)
    at ZoneDelegate.invoke (zone-evergreen.js:364)
    at Object.onInvo

[2020-05-27 09:05] arturovt commented on #184
Hey Oskar! Thanks for reproduction, that is appreciatable!

I was able to reproduce your issue and the problem is that `unmount()` for the child app is called before the `popstate` is dispatched.

So there are 2 possible ways to navigate from `/page-child` to `/parent-1`:
1) To click on the link `<a href="/parent-1"` which calls `router.navigateByUrl(...)`, notifies router that he has to check gua

[2020-05-27 16:15] jimmyhdolores opened #202 "Load image background url Sass"
As they do in the case that Image by Sass is loaded for example

.body-row {

background: url ("/ assets / images / myimage.jpg") without repetition bottom right;
}

I set the setPublicPath but keep throwing 404

Libs:
- @angular/core version: 9.1.7
- single-spa-angular version: 4.0.1

[2020-05-27 16:41] joeldenning commented on #184
The browser fires this PopStateEvent, not single-spa. Back/Forward button clicks trigger browser PopStateEvents

Interesting, thanks for the good description. I'm not very familiar with Angular's CanDeactivate interface, but just read about it at https://angular.io/api/router/CanDeactivate. I have a few questions about it that might shed light on options for single-spa-angular applications:

1. Th

[2020-05-27 16:48] joeldenning commented on #59
Hi @jimmyhdolores, good question. CSS and Sass that call `url()` need to include the [webpack public path](https://webpack.js.org/guides/public-path/#root) as the prefix to their URLs. In the context of Angular, the webpack public path is referred to as the "deploy url" / `--deploy-url`.

For single-spa-angular, the [`assetUrl` function](https://single-spa.js.org/docs/ecosystem-angular#angular-ass

[2020-05-27 16:51] joeldenning commented on #202
This question was first asked in https://github.com/single-spa/single-spa-angular/issues/59#issuecomment-634432405. I responded in https://github.com/single-spa/single-spa-angular/issues/59#issuecomment-634795136. Could you confirm if the options described there work?

[2020-05-27 16:55] joeldenning commented on #201
What version of Angular and single-spa-angular are you using? Could you please share the contents of main.single-spa.ts? Specifically I am interested in whether `NgZone` and single-spa extra providers are being passed into singleSpaAngular(). The stacktrace indicates that one of the following lines is throwing an error, due to ngZone not being set up properly. The simplest explanation for this wou

[2020-05-27 16:56] joeldenning commented on #201
Another question, if you're using Angular@<9 is if you're sharing dependencies between multiple microfrontends.

[2020-05-27 16:58] joeldenning commented on #170
After discussing this with Artur, I am closing this. The reason is that destroying the entire Angular platform would disallow sharing a platform between microfrontends. Sharing a platform is important for performance, since that means that `@angular/core`, `@angular/common`, etc only have to be downloaded once in the browser, instead of once per microfrontend.

[2020-05-27 16:58] #170 closed

[2020-05-27 17:23] jimmyhdolores commented on #202
Hello, thanks for the prompt response, I will carry out the tests and we will confirm

[2020-05-27 17:33] arturovt commented on #184
2. Navigation is always asynchronous itself:

https://github.com/angular/angular/blob/a62c1c441c67616ce5eacc7e8dcfe169316d4552/packages/router/src/router.ts#L497

And can deactivate checks behaviour only relies on the return value of `canDeactivate()` method since it can return `boolean | Observable<boolean> | Promise<boolean>`:
[code]

3. No. Guards are a part of the navigation lifecycle, so it s

[2020-05-27 18:32] jimmyhdolores commented on #202
hello, I tried the options that I provide, but angular 8 and 9 apparently forces to put a '/' forward and because of that it gives the following error

más detalle aqui https://github.com/angular/angular-cli/issues/10004

![prueba1](https://user-images.githubusercontent.com/10909792/83057417-7e7ef780-a01c-11ea-8c87-85d9089d3116.png)

Because of that, you cannot concatenate the public variable PATC

[2020-05-27 20:31] joeldenning commented on #184
Hmm one option might be to add some logic to single-spa-angular's `unmount` function to wait for the scheduled navigation to finish before calling `destroy()`?

https://github.com/single-spa/single-spa-angular/blob/389a16cb186ed5fd975199ff2e4670084c47a84f/src/src/single-spa-angular.ts#L157

https://github.com/single-spa/single-spa-angular/blob/389a16cb186ed5fd975199ff2e4670084c47a84f/src/src/singl

[2020-05-28 03:37] Sally-yu opened #203 "How to use Angular RouteReuseStrategy with Single-SPA?"
I make a demo based on coexisting-angular-microfrontends project; there 3 applications ,like this:

        singleSpa.registerApplication(
            'app1',
            function () {
                return System.import('app1');
            },
            function (location) {
                return location.pathname.startsWith('/app1');
            }
        );

        singleSpa.registerApplic

[2020-05-28 03:38] Sally-yu commented on #203
angualr ver is 8.2.3

[2020-05-28 05:07] ashuaggarwal94 commented on #201
Hi Joel,

Thanks for the quick reply!!

main.singlespa.js
import { enableProdMode, NgZone } from '@angular/core';

import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { Router } from '@angular/router';
import { ɵAnimationEngine as AnimationEngine } from '@angular/animations/browser';

import { singleSpaAngular, getSingleSpaExtraProviders } from 'single-spa-angular';

[2020-05-28 06:53] arturovt commented on #184
The problem is that if can deactivate checks are not passed then the app shouldn't be unmounted, but it still will. Thus it's an extra work w/o purpose.

[2020-05-28 08:21] HemTech commented on #187
I'm working on a release this week so will share an example by Saturday.

[2020-05-28 09:13] arturovt commented on #187
That's great! Looking forward.

[2020-05-28 09:43] arturovt commented on #203
Could you provide a minimal reproducible example? *Please* :slightly_smiling_face:

[2020-05-28 10:21] Sally-yu commented on #203
@arturovt  OK, here is the repo
[https://github.com/Sally-yu/angular-with-single-spa](url)

[2020-05-28 10:37] arturovt commented on #203
Thank you, I will have a look asap!

[2020-05-28 11:18] Sally-yu commented on #203
@arturovt  THX a lot!
just run
`npm i`
`npm start`
or the yarn command in /app1  /app2 /app3 /navbar /root-html-file, just like coexisting-angular-microfrontends.

some tips like this image;
![image](https://user-images.githubusercontent.com/20413765/83134460-faf60100-a116-11ea-9b47-8f78f44ac29d.png)

If use static cache in reusestrategy, the same error

I try to hack mount & unmout function to ke

[2020-05-28 14:38] lukszymanski opened #204 "Application not working with webpack externals"
Hi there,
i'm trying to use single-spa-angular combined with [webpack externals](https://webpack.js.org/configuration/externals/) to have a single vendor bundle at host app level that can be shared between all microfrontend apps.

**How to reporoduce?**
1. create an two angular apps (hostApp, microApp) within your workspace (i'm using [nx extension](https://nx.dev/angular/cli/overview))
2. add sin

[2020-05-28 15:49] joeldenning commented on #201
I'm wondering if this is occurring when a popstate event is fired to the Angular platform before the single-spa-angular application is mounted. If so, the following might be a good fix?

[code]

@arturovt can you comment on this, and whether it's possible for a popstate event to fire before the application has been mounted?

[2020-05-28 15:58] arturovt commented on #201
Can we see a reproducible example?

[2020-05-28 16:18] joeldenning commented on #184
By calling `pushState` before doing the canDeactivate checks, Angular makes the navigation occur. There is no such thing as canceling navigation on a browser level - that's an Angular construct that doesn't fit how browsers work.

My proposal is a workaround to Angular's odd behavior - since we can't prevent the initial pushState from happening, single-spa will reroute. That reroute will result in

[2020-05-28 16:20] arturovt commented on #204
Sharing dependencies is not possible in Angular 9.

[2020-05-28 16:21] joeldenning commented on #204
Angular 9 with the Ivy Compiler enabled does not support sharing dependencies between separate microfrontends. You can read more about that at https://twitter.com/Joelbdenning/status/1253781652486017024.

My understanding is that Angular 10's Ivy compiler may support this.

If you'd like to share dependencies with Angular 9, it is possible but only if you turn off the Ivy Compiler and go back to V

[2020-05-28 16:23] arturovt commented on #184
Not sure. As I said `unmount()` is called _before_ the `popstate` is fired. Angular does not even have time to run the check. Angular calls `replaceState` after checking guards.

[2020-05-28 17:01] joeldenning commented on #184
`popstate` fires **after** navigation, and unmount is called **during** navigation. The way that Angular is telling the browser to navigate is by calling pushState/replaceState, which is what triggers the single-spa reroute function that results in unmount being called.

[2020-05-28 17:17] arturovt commented on #184
Is `pushState` or `replaceState` called when clicking "back" button?

[2020-05-28 17:55] marprzsgo commented on #179
Hello guys, I know this is closed and also not sure if it is the right place to ask but I really need some help.
I just started my journey into the micro frontends world and I am trying out single-spa-angular.
Well, I was able to run a small POC with Angular 9 but I have this requirement where we need to use Angular 5 and this is because we have many apps in this Angular version, in a monolith pro

[2020-05-28 18:22] joeldenning commented on #184
No they are not, good catch. Thinking this through again, I realize I have been assuming this is during normal navigation, not during back/forward buttons. This means that much of what I said above was based on bad assumptions and is wrong.

In regards to back/forward buttons, there is no way to tell a browser to "prevent" the back/forward navigation from occurring. Angular's canDeactivate approac

[2020-05-28 18:22] #184 closed

[2020-05-28 19:07] joeldenning commented on #179
Here are some references that might help in modifying the webpack config:

https://single-spa.js.org/docs/recommended-setup#build-tools-webpack--rollup

https://github.com/single-spa/single-spa-angular/blob/master/src/webpack/index.ts

[2020-05-28 19:14] oskar-szwajkowski commented on #184
I'm not that much into angular's internals, but from what you are speaking, I have 2 questions then.

1. If angular does 'back' and 'forward' browser buttons navigation in 'false' way as you said, how are we able to display window.prompt before navigating with browser button, and never reach different url? Does the url change happens so fast that we only can spot it by subscribing to some kinds of

[2020-05-28 20:02] marprzsgo commented on #179
Thanks a lot @joeldenning , I am going to try following that guide.

[2020-05-29 05:48] ashuaggarwal94 commented on #201
@joeldenning I also tried to debug the issue and feel the same. But will try and get u the repo by today.

Thanks,
Ashutosh

[2020-05-29 07:11] HemTech commented on #187
The minimal rep here: https://github.com/HemTech/Lazyloading

I have created application having portal (normal angular 8 app) and Header(single spa app) projects. In angular.Json, I have added configuration to bundle themes into two separate files.

**Portal:**
"styles": [
              "projects/portal/src/styles.scss",
              {
                "input": "projects/portal/src/styles/themes/l

[2020-05-29 17:48] joeldenning commented on #184
If the page is "unloading," you can use the [`beforeunload` event](https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event) to do the prompt and then call `preventDefault()` on that event if you don't want to let them leave.

However, when navigating between routes in an SPA, there is no `beforeunload` event since the page is not unloading/reloading. As far as I know, there is n

[2020-05-29 17:53] arturovt commented on #187
I just cloned your repo, ran `ng build --project header` and Webpack generated separate files for `lazy` CSS:

![image](https://user-images.githubusercontent.com/7337691/83289915-724a9400-a1ee-11ea-94d8-ee7f5d2c243e.png)

[2020-05-29 19:16] arturovt commented on #203
You didn't tell any steps to reproduce:

![image](https://user-images.githubusercontent.com/7337691/83296820-138b1780-a1fa-11ea-8fcf-5440864ade03.png)

What should I do to reproduce it?

[2020-05-29 20:07] arturovt commented on #187
And I actually wouldn't load styles like that:
1) you have to inject `script` element and set its `src` to `http://APP/header-light-theme.js`
2) each `.js` bundle with CSS inside also contains `css-loader/runtime` and `style-loader`

You've got a dynamic import and you can inject styles w/o having to specify implicit paths:
[code]

P.S. this is just a pseudo-code :point_up:

And somewhere else in

[2020-05-30 10:53] HemTech commented on #187
Thank you so much! @arturovt - I will use style-loader.

If you use ng build –configuration=production –project=header then it will not generate theme.css files.
In angualr.json - we have an entry for customwebconfig to use Single-spa-angular/lib/webpack.

Below code of our singe-spa-webpack removed the css and merge in to main bundle.

// @ts-ignore
  const mergedConfig = webpackMerge.smart(confi

[2020-05-30 20:22] arturovt commented on #187
Yes, you're right. I forgot to build with `--prod` flag.

Styles are not emitted in separate files because `MiniCssExtractPlugin` is removed from Webpack config.

I'm just wondering if it has to be removed completely.

We've got such code:
https://github.com/single-spa/single-spa-angular/blob/389a16cb186ed5fd975199ff2e4670084c47a84f/src/webpack/index.ts#L73

Which replaces `mini-css-extract-plugin

[2020-05-30 23:28] arturovt commented on #204
Why didn't you provide a _minimal reproducible example_? I can't always spend my time going through steps manually. I'd rather spend this time fixing some bug or helping you to resolve the issue than trying to reproduce it manually :disappointed:

 ---

`microApp throws import error` - this is falsy. `hostApp` throws this error. As you didn't provide reproducible example I had to guess what's wron

[2020-06-01 01:54] werts commented on #201
@ashuaggarwal94 the same,this.ngZone.run is not a function,because this.ngzone is undefined

[2020-06-01 01:58] werts commented on #157
@arturovt sorry,We have given up using route-reuse-strategy

[2020-06-01 05:33] ashuaggarwal94 commented on #201
@arturovt I tried creating a repo but the problem is it's not reproducible in the small repo that I was trying to build. I will try and give the repo to you asap.
Thanks,
Ashutosh

[2020-06-01 10:31] lukszymanski commented on #204
Thanks for a quick reponse.
Sorry for not providing an example, my bad.  Here's a repository https://github.com/lukszymanski/single-spa-angular-nx-demo

In my case host application is not an angular app. It's just some html with vendor files that's why i've provided vendors in angular.json.

Having this setup the errot is thrown when loading `microApp`/`microApp1` but the problem is placed in micr

[2020-06-01 10:38] ashuaggarwal94 commented on #201
@werts  hey my issue is resolved. I was using singlespa.navigatetoUrl function in the child application which was causing the issue. As of now, I have changed back to using the router lib.

Thanks,
Ashutosh

[2020-06-01 11:42] ashuaggarwal94 commented on #201
HI @joeldenning , @arturovt ,

sample repo: https://github.com/ashuaggarwal94/issue201

Thanks,
Ashutosh

[2020-06-01 11:46] arturovt commented on #201
Thanks, I will have a look asap.

[2020-06-01 13:27] ashuaggarwal94 commented on #201
@arturovt   thanks, and do let me know in case any other detail is required.

Thanks,
Ashutosh

[2020-06-01 13:29] werts commented on #201
@ashuaggarwal94 Ok,i will try that! Thanks

[2020-06-01 16:08] shashravi9 opened #205 "Is it possible to load two subroute of an application in two different section of same page?"
**Question:**
Is it possible to load two subroute of an application in two different section of same page?

Note: I'm using Angular 8

**Additional context**
I have a single-spa root app and a sub application.
In the root app is it possible to load one sub-route(app/subroute1) in one <div> element and another sub-route(app1/subroute2) in another <div> element?
<div id="sub1>
        // app1/subrou

[2020-06-01 16:08] #205 closed

[2020-06-01 19:01] arturovt opened #206 "[BUG] NgZone reference gets overridden when dependencies are shared"
After I started investigating _sharing dependencies approach_ in Angular I have noticed that `ngZone` gets overridden by the last mounted application here:

https://github.com/single-spa/single-spa-angular/blob/389a16cb186ed5fd975199ff2e4670084c47a84f/src/src/extra-providers.ts#L73-L75

So if we've got 2 active applications:
* both of them will call `setNgZone(ngZone)`
* since `SingleSpaPlatformLo

[2020-06-02 15:32] filoxo opened #208 "Angular-cli 8 with create-single-spa fails with error"
### Demonstration

1. switch to node v10 (I used nvm)
2. globally install \@angular/cli@8.3.23 (`npm i -g @angular/cli@8.3.23`)
3. Run create-single-spa by running `npx create-single-spa`
4. Respond to prompts

### Expected Behavior

The angular-cli should be able to find and use the single-spa-angular schematic to successfully create a new Angular single-spa application.

### Actual Behavior

Obs

[2020-06-02 16:07] filoxo commented on #208
[single-spa-angular@4 does not work with Angular 2-8. Only Angular 9](https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0). create-single-spa does not specify a version (because as a generic tool, it assumes the latest tooling versions).

I was make some progress after this failure by:

- reverting the changes that happened before the process failed (`git reset --hard`)
- running

[2020-06-02 16:13] filoxo commented on #208
Hmm the above appears to be because at some point, something is upgrading single-spa-angular to the latest version rather than keeping the pinned version that is specified with the `ng add` command.

[2020-06-02 17:22] shashravi9 commented on #205
Thanks for sharing some light. I will go through the documentation provided.

Also, my root application doesn't have anything except a index.html and a package.json to serve it.

[2020-06-02 21:29] joeldenning commented on #113
This fix is published under the `latest` dist-tag. Release notes at https://github.com/single-spa/single-spa-angular/releases/tag/v4.2.0.

[2020-06-03 13:47] JasonEdLewis commented on #130
@richardbladh Does this assume that the element was placed on the DOM using the DomElementGetter ?

[2020-06-03 16:59] joeldenning commented on #206
Good catch - yes let's switch to an array of ngZones.

[2020-06-03 17:04] joeldenning commented on #208
This is due to Angular schematics. When you run `ng add single-spa-angular@3.5.1`, it kicks of a process known as "schematics" that are defined within the single-spa-angular project. The schematics can modify the package.json, angular.json, and create/edit files.

For single-spa-angular@3, the schematics add `single-spa-angular` as a dependency to the package.json. The code for that is shown below

[2020-06-04 08:04] Vallerious opened #209 "Schematics generate a buggy template for the 'bootstrapFunction'"
### Demonstration

1. Create a new angular 8 project
2. Run "ng add single-spa-angular@3.0.0"
3. Do the manual steps described in the docs.
4. Register the application in 'coexisting-angular-microfrontends'
5. Try the new route

### Expected Behavior
The new route works and content is seen.
### Actual Behavior
Observe error:
[code]

### Workaround:
As seen from the error message, we have to call '

[2020-06-04 14:47] matt-gold commented on #113
@arturovt
The bug is fixed for me on single-spa-angular 4.2.0 + single-spa 5.4.2 👍

[2020-06-04 15:16] filoxo commented on #209
Which version of single-spa-angular ends up in your project's package.json?

[2020-06-04 15:24] filoxo commented on #209
We currently check to see if your project has routing, and only inject the getSingleSpaExtraProviders based on that. https://github.com/single-spa/single-spa-angular/blob/master/schematics/ng-add/_files/src/main.single-spa.ts.template#L8

[2020-06-04 17:34] joeldenning commented on #209
It looks like we implemented this in single-spa-angular@4, but not in single-spa-angular@3. See the code below from the 3.x branch that shows that the schematics are wrong:

https://github.com/single-spa/single-spa-angular/blob/fd72066faf3b3c632126f2e0eeca70ce4ec51a40/src/schematics/ng-add/_files/src/main.single-spa.ts.template#L19

I would gladly review a PR to fix this.

[2020-06-05 06:30] shashravi9 opened #211 "Can I serve single-spa Sub Application both as normal and in root app using single dist build?"
### Question
Hello,
I am using angular 8 for my Sub application and it works well with root app using single-spa. But, my question is can a single dist build serve as both a normal application(runs independently in browser) as well as a Single-spa sub app?

Please suggest me how it can be done. I need to run in both ways (host Sub-app independently as well as accessible from Root-app as well)

[2020-06-05 08:23] Vallerious commented on #209
Wow @filoxo that was fast 🗡️ I wanted to make a contri.

[2020-06-05 13:39] arturovt commented on #201
@joeldenning as I mentioned in chat that this issue was fixed after upgrading version.

[2020-06-05 14:50] filoxo commented on #209
Sorry @Vallerious! We definitely would love to have you contribute sometime. #208 perhaps?

[2020-06-05 15:01] filoxo commented on #211
I believe this is a duplicate of #92 and the answer remains the same. So I'll close this for now but feel free to ask additional questions.

[2020-06-05 15:01] #211 closed

[2020-06-05 15:04] filoxo commented on #202
This appears to be solved.

[2020-06-05 15:04] #202 closed

[2020-06-05 15:11] hiaparna opened #212 "Loading Angular8 app with React 16 application"
### Adding Angular8 application to run along with multiple single-spa react application (which are running fine). The Angular application runs fine standalone but it's not working along with Singla-spa.

### Environment
Angular application:
    "single-spa": "5.2.0",
    "single-spa-angular": "4.2.0",
React application:
     "single-spa": "5.0.0",
    "single-spa-react": "2.9.0",

Getting this err

[2020-06-05 16:15] joeldenning commented on #201
Yes can you confirm @werts @ashuaggarwal94 what version of single-spa-angular you are using?

[2020-06-05 16:17] joeldenning commented on #209
This fix is released in https://github.com/single-spa/single-spa-angular/releases/tag/v3.5.2

[2020-06-05 16:17] #209 closed

[2020-06-05 16:19] joeldenning commented on #212
See https://single-spa.js.org/docs/ecosystem-angular#zonejs and https://github.com/joeldenning/coexisting-angular-microfrontends/blob/2f0df6313e665de07a469e9bc569967e7707e756/root-html-file/index.html#L22

You must include ZoneJS as a global script in order for Angular to work.

[2020-06-08 05:40] ashuaggarwal94 commented on #201
@joeldenning , for both the portal and the child I am using 5.5.1.

[2020-06-08 06:33] Sally-yu commented on #203
I have hacked single-spa-angular for my own project,Thx a lot.

[2020-06-08 06:33] #203 closed

[2020-06-08 16:16] joeldenning commented on #201
`5.5.1` is a `single-spa` version, but my question is what is the the `single-spa-angular` version. Specifically I'm interested to know whether you're using single-spa-angular@3 or single-spa-angular@4. And then which exact version within those that you are using.

What version of single-spa-angular you are using?

[2020-06-08 16:20] joeldenning commented on #201
From your example repo, it looks like you're using single-spa-angular@4.1.0:

https://github.com/ashuaggarwal94/issue201/blob/77b28aaf31aca933b4912e26121517628373c56b/ish-cec/package.json#L26

https://github.com/ashuaggarwal94/issue201/blob/77b28aaf31aca933b4912e26121517628373c56b/ish-cec/package-lock.json#L10712

Try upgrading to single-spa-angular@4.2.0, which changed this behavior:

https://git

[2020-06-08 16:20] #201 closed

[2020-06-08 18:19] ashuaggarwal94 commented on #201
Thanks @joeldenning @arturovt for the help the issue got resolved after updating the package!!!

[2020-06-08 22:51] matt-gold opened #218 "Lazy-loaded modules fail to load in --prod mode: "TypeError: Cannot read property 'call' of undefined""
If you have more than one single-spa-angular application running in --prod mode, only one of the applications will be able to access its lazy-loaded modules. Accessing lazy-loaded modules subsequently from other single-spa-angular apps will fail with "TypeError: Cannot read property 'call' of undefined".

### Demonstration
*MINIMAL DEMO*
https://github.com/matt-gold/coexisting-angular-microfronten

[2020-06-09 08:57] varora1406 commented on #113
Was working on this issue, it's reproducible.
Interesting fact related to better situation is also attached in code
https://github.com/varora1406/coexisting-angular-microfrontends/tree/issue-inifnite-url-loop

[2020-06-09 11:49] arturovt commented on #218
Thanks for reproduction. I will try to have a look this evening.

[2020-06-09 18:12] joeldenning commented on #113
Reopening this while we investigate the repo provided by @varora1406.

[2020-06-10 17:18] shashravi9 opened #219 "is it possible pass SubApp's prefix from root-app configuration Instead of doing it in every sub-app."
### Question
I was wondering is it possible pass SubApp's prefix from root-app configuration instead of doing it in every sub-app.

For example,
subApp1 will have a prefix as subapp1 for every subroute . i.e like subapp1/subroute1 , subapp1/subroute2 etc.
subApp2 will have a prefix as subapp2 for every subroute . i.e like subapp2/subroute1 , subapp2/subroute2 etc.

my question is it some how possi

[2020-06-11 20:57] KevinCathcart opened #220 "Webpack config has hard-coded "app3" library name"
The Webpack configuration has a hard-coded library name of "app3" as seen here:

https://github.com/single-spa/single-spa-angular/blob/6e3f36c22afbf5a75526aa5bf8e140dff6f85553/src/webpack/index.ts#L5-L9

That is both really weird, and is likely to cause problems in some scenarios.

It definitely causes problems if one decides they want a `libraryTarget` of `system` instead of `umd`, (perhaps becau

[2020-06-11 22:47] joeldenning commented on #220
Agreed that's weird - I'm not sure when/how that snuck in. Let's change it. I just verified that this is in both single-spa-angular@3 and single-spa-angular@4.

Can we not get the Angular project name via something like this?

[code]

Would that perhaps not work with Angular Workspaces?

[2020-06-11 22:53] joeldenning commented on #220
Yes for systemjs usage, the output.library  option should be deleted via custom webpack builder

[2020-06-11 23:25] KevinCathcart commented on #220
Yeah, in a multiple project workspace, there is no easy way to tell which of the various projects just invoked the custom-webpack builder, except using the new third parameter.

That said, multi-project workspaces are probably not common under single-spa. I’d personally be fine with having the default pull from there if there is only one project, and error for the multi-project workspace case if t

[2020-06-12 03:04] jimmyhdolores commented on #202
This information should be added to your documentation, unless you have found a better way to use the routes in Sass.

[2020-06-12 03:29] kiddliu opened #221 "Navigation triggered outside Angular zone, did you forget to call 'ngZone.run()'?"
### Demonstration

After spending hours on shared dependencies, I finally managed to get it working with Angular@9.1.9 + zone.js@0.10.3 + single-spa@5.5.3 + SystemJS@6.3.2, except a warning 'Navigation triggered outside Angular zone, did you forget to call 'ngZone.run()'?'

In my root config file, it's
[code]

### Expected Behavior
There should be no sunch warning.

### Actual Behavior
The warning

[2020-06-12 15:28] filoxo commented on #221
This sounds like it could be related to #206.

[2020-06-12 16:09] joeldenning commented on #220
Yes, I agree. Let's add jsonpFunction to the single-spa-angular webpack config.

Do you think we should consider switching the libraryTarget from `umd` to `system`? For Vue we have it set to UMD, but for react we have it set to `system`. The single-spa recommended setup encourages SystemJS, and when the libraryTarget is system it is no longer required (or encouraged) to set `output.library`, which

[2020-06-12 16:10] joeldenning commented on #202
Sure, would you like to add it to the documentation? Here is the file to change: https://github.com/single-spa/single-spa.js.org/blob/master/website/versioned_docs/version-5.x/ecosystem-angular.md

[2020-06-12 16:14] joeldenning commented on #221
This is a duplicate of https://github.com/single-spa/single-spa-angular/issues/53. As @arturovt said in that issue, this can be considered normal behavior. Angular has a hard assumption that there is only one zone on the page and only one router on the page - single-spa does not fit with those assumptions. I would accept a PR that patches Angular methods such that the warning is suppressed, but do

[2020-06-12 17:49] arturovt commented on #221
This is one of the problems of sharing dependencies in Angular and why I'm not promoting it. `isInAngularZone` is a `static` method, not an instance method. When you share dependencies you basically get 1 `NgZone` class and N instances of `NgZone`, depending on the N of your applications.

When dependencies are shared then:
1) there are 1 `PLATFORM_INJECTOR`
2) there are N `NGZONE_INJECTOR`s

`isI

[2020-06-12 21:04] KevinCathcart commented on #220
I'm not sure the benefits of not having to set library is really that significant, given that we would still want to set the jsonpFunction to something unique.

Honestly, though, I'm rather indifferent about the default libraryTarget.

It turns out that that third parameter to `extra-webpack.config.js`, only applies to @angular-builders/custom-webpack 9.2 which is still only in beta.

Perhaps it i

[2020-06-13 00:41] jimmyhdolores commented on #202
Thank you, I will make the pull request

[2020-06-13 17:05] arturovt commented on #113
@varora1406 you didn't provide any steps to reproduce it. What do I have to do?

[2020-06-13 18:02] varora1406 commented on #113
@arturovt sorry for that.
just try to switch randomly with routes fast. You will get the results in a minute or two most probably.

[2020-06-13 19:12] varora1406 commented on #113
I have also added a button in latest commit, which can help you recreate bug easily

[2020-06-13 22:13] akhilshastri commented on #220
@joeldenning & team firstly, thanks for this amazing project. i was trying to build nx workspace using single-spa,  while debugging, found this issue. I just want to highlight another use case of Angular workspace with nx.
I think, it would be useful if this plugin also respect "customWebpackConfig" configuration, which will give developer more control to customise.

![image](https://user-images.g

[2020-06-14 02:45] KevinCathcart commented on #220
@akhilshastri I’m not clear on what you mean. single-spa-angular is already using the custom-webpack builder. When you run the schematic, it generates an extra-webpack.config.js file, in which it calls a function that applies some webpack changes. You can then apply any additional customizations you want. You can access any custom properties set in`customWebpackConfig` by adding a second parameter

[2020-06-14 14:25] akhilshastri commented on #220
@KevinCathcart   nx does not have anything similar but what you are proposing i agree. my intention was to give control to developer for setting value of libraryName.

[2020-06-14 14:52] KevinCathcart commented on #220
Yeah fair. I’ll go with that approach for the PR. It is basically
equivalent to what I proposed, and is cleaner.

So a value set there would be the first source. If not present, it will
fall back to trying to auto detect from angular.json. (Mostly for the
benefit of existing users). If that fails, it will use a hard coded
default, and print a message, suggesting the user may want to set the value

[2020-06-15 01:26] kiddliu commented on #221
Yes, I turned off Ivy but leave AOT on.

[2020-06-15 08:05] varora1406 opened #222 "unable to successfully run tests of this library"
### Demonstration
clone the project, run `yarn install` and then `yarn test`

### Expected Behavior
All tests should pass

### Actual Behavior
index.spec.ts test is failing due to `/` in path

Below is the console information

[2020-06-15 08:30] arturovt commented on #221
There is not 1 zone, there are as many zones as bootstrapped applications.

Sharing dependencies with Angular doesn’t fit in single-spa scenario. Other solutions are possible and working since there are a lot of people that already have running single-spa apps.

And what do you mean by “for future apps”? What will change for future apps?

[2020-06-15 17:41] arturovt commented on #222
:thinking: I'm on `master` w/o anything modified.

![image](https://user-images.githubusercontent.com/7337691/84688748-89a4b380-af48-11ea-9aa7-3b6688fdcf68.png)

[2020-06-15 17:45] arturovt commented on #222
What OS are you using?

[2020-06-15 20:48] joeldenning commented on #113
Someone contacted me in the single-spa slack workspace this morning saying that they had found a change that might work as a solution. The change is to modify `skipNextPopState` to be a number that acts as a counter - every time pushState/replaceState is called, it is incremented; and every time that popstate is fired it is decremented. He said that it's possible for multiple pushStates and replac

[2020-06-15 20:53] joeldenning commented on #220
@akhilshastri

This sounds unrelated to this issue and should be discussed in a different issue or in the [single-spa slack workspace](https://join.slack.com/t/single-spa/shared_invite/enQtODAwNTIyMzc4OTE1LWUxMTUwY2M1MTY0ZGMzOTUzMGNkMzI1NzRiYzYwOWM1MTEzZDM1NDAyNWM3ZmViOTAzZThkMDcwMWZmNTFmMWQ)

@KevinCathcart

Sure, I think that this change makes sense.

Agreed.

Do you have interest in submitting

[2020-06-16 01:41] kiddliu commented on #221
@arturovt I was thinking sharing deps may work now but not quite sure if it works tomorrow with future versions of Angular.

Thank you for confirming this. I'll close this ticket. You guys are truly wonderful creating single-spa and being so active in the community. Thank you!

[2020-06-16 01:41] #221 closed

[2020-06-16 03:35] varora1406 commented on #222
Windows 10

[2020-06-16 10:56] KevinCathcart commented on #220
I’m working on a pull request, have something mostly done, was hoping to
push it as a draft yesterday, but was a bit too busy.

Hopefully I can get to it this evening.

[2020-06-16 14:39] filoxo commented on #222
This does appear to be platform-specific. I wonder if the tests should attempt to convert those path strings into path objects (https://nodejs.org/api/path.html#path_path_parse_path) and then compare those.

@varora1406 would you be willing to contribute a fix?

[2020-06-17 07:29] ajithgadgeon14 opened #223 "An unhandled exception occurred: Collection "single-spa-angular" cannot be resolved. See "/tmp/ng-VEvanI/angular-errors.log" for further details."
### Demonstration

Tried to run -> ng add single-spa-angular in angular project version 8.2.
reference link: https://single-spa.js.org/docs/ecosystem-angular/#schematics

### Expected Behavior

Angular schematics are processed when you run ng add single-spa-angular.

The single-spa-angular schematics perform the following tasks:

Install single-spa-angular.
Generate a main.single-spa.ts in your pr

[2020-06-17 15:08] joeldenning commented on #223
Hi @ajithgadgeon14 - for Angular 8 you should use single-spa-angular@3.x instead of single-spa-angular@4. Try running either of the following commands, instead?

[code]

[2020-06-17 16:20] friendly-tech commented on #187
any update on this - we also would like to load a theme/css file at runtime depending on the customer.
I have tried reversing some of the webpack shenanigans done by `singleSpaAngularWebpack` but unable to understand whats needed.

[2020-06-17 17:14] jimmyhdolores commented on #218
Any solution for this problem? that happens to me too

[2020-06-17 21:04] jimyhdolores opened #224 "¿How to load third-party text fonts"
### ¿How to load third-party text fonts
 I have a package installed and which I use its sources, and add them to the angular.json file

[code]
When I test it locally it works, but in production it does not, it still points to the main path, that is, to the project that registers the applications, I hope you can help me.

Libs:
- @angular/core version: 9.1.7
- single-spa-angular version: 4.2.0

[2020-06-18 10:03] shashravi9 commented on #219
Thanks @joeldenning and @matt-gold for your answers.
To give more understanding on my question, here is an example.

sample code of Sub-application 1:

main.single-spa.ts
[code]

app-routing.module.ts
[code]

app.component.ts
[code]

app.module.ts
[code]

app.component.html
[code]

-----------------------------------------------------------------------------------------------------------

Sub Appl

[2020-06-18 10:31] amilaI commented on #218
Same here!

[2020-06-18 12:32] amilaI commented on #218
Any solution so far ?

[2020-06-18 16:27] joeldenning commented on #187
I am not planning on looking at this issue anytime soon. If others would like to jump in to help out, that would be great.

[2020-06-18 16:28] joeldenning commented on #224
When you build for production, are you providing the `--deploy-url` flag? Example at https://github.com/joeldenning/coexisting-angular-microfrontends/blob/925dd8ec4f7f149eeba305f4e3cc4e9783abf3db/app1/package.json#L11

The `--deploy-url` flag tells Angular the base URL to use when loading assets in a production build.

[2020-06-18 16:37] joeldenning commented on #219
We generally do not encourage setting the APP_BASE_HREF to be anything but `/`, even if your application is only active for a specific URL prefix. The reason is that doing so prevents you from linking from app1 to app2, since all Angular links will be auto prefixed with the APP_BASE_HREF.

Example: https://github.com/joeldenning/coexisting-angular-microfrontends/blob/925dd8ec4f7f149eeba305f4e3cc4e

[2020-06-18 16:37] #219 closed

[2020-06-18 20:48] jimmyhdolores commented on #224
in your example you put --deploy-url / dist / app1 does this have to do with setting your angular.json?

"outputPath": "dist / app1"

or should the domain where the application in production is being deployed go? example:

--deploy-url mydomain.com

[2020-06-18 23:20] Den-dp opened #226 "'Error: Collection "single-spa-angular" cannot be resolved' while running `ng add single-spa-angular@3.5.1`"
`ng add single-spa-angular@3.5.1` (and `3.5.2`) fails to run on `angular@7` project.

### Demonstration
[code]
[code]
[code]
[code]

### Expected Behavior

Schematics should be installed without errors.

### Actual Behavior

[code]
---

Probably related with #199

[2020-06-19 15:33] jimmyhdolores commented on #224
Well, I tried it in various ways with --deploy-url but it doesn't take effect, it still makes the call from the root of the container (my root config application that registers to the other applications) some tip?

[2020-06-20 22:11] arturovt commented on #218
Sorry for delay guys, I was stuck at work...

I was able to reproduce it. Thanks again @matt-gold for providing reproductions, it is appreciated! :heart:

The quick fix that I've done:
[code]

The problem is that there is a hardcoded value `app3` for the library name which forces Webpack to load chunks in the wrong way.

What Webpack does when you click the link is:

* resolve chunk id and URL to

[2020-06-20 23:44] jimmyhdolores commented on #218
Thanks for sharing @arturovt  , well in my case I solved it by adding singleSpaWebpackConfig.output.library and adding the public path, save it in a file called "set-public-path" and it contained

[code]

and I call this file inside "main.single-spa.ts"

[code]

In this way it does not throw the error until now, I will continue testing, thanks for your time.

[2020-06-21 01:26] amilaI commented on #218
Thanks @arturovt for the fix. much appreciated!

[2020-06-21 17:07] jimmyhdolores commented on #226
For angular 7 you have to do the manual installation https://single-spa.js.org/docs/ecosystem-angular#manual-installation;  in my case I used version 3.3.2 of single-spa-angular, if you have problems with routing you have to register the application
https://github.com/single-spa/single-spa-angular/issues/218#issuecomment-647065612

[2020-06-22 16:41] joeldenning commented on #224
It has to do with where the code is hosted.

You can try Angular's `rebaseRootRelativeCssUrls` option. See https://github.com/single-spa/single-spa.js.org/pull/282/files and https://angular.io/cli/build

[2020-06-22 16:54] joeldenning commented on #226
Angular 7 uses a [custom single-spa Angular builder](https://github.com/single-spa/single-spa-angular/blob/3.x/src/builders/single-spa-webpack-builder.ts) to modify the webpack config instead of using the official Angular custom webpack builder. The reason is that the custom webpack builder did not exist until Angular 8.

The schematics should work in Angular 7. Any help fixing this would be appre

[2020-06-23 05:02] varora1406 commented on #222
This is resolved with #228, closing this issue now

[2020-06-23 05:02] #222 closed

[2020-06-23 10:48] architechcro opened #230 "Loading additional scripts in Angular 9 cli"
**Describe the bug or question**
Main application is done in preact, and "child" app is done in Angular 9 cli.
Adding additional scripts as described in https://single-spa.js.org/docs/ecosystem-angular#scripts
results in error:  "Unhandled Promise rejection: Unable to dynamically transpile ES module"
In standalone Angular app script is loaded as part of [scripts] in angular.json.

**To Reproduce**

[2020-06-24 18:03] Den-dp commented on #226
@joeldenning looks like it's broken since 3.5.0 and mainly because we stop publishing `builders.json` and `schematics.json` https://github.com/single-spa/single-spa-angular/commit/3dfe1eb1268011fb92a70f3fb035cc31c29864f6#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R32

Will provide a PR shortly

[2020-06-25 04:49] architechcro commented on #230
I am using Option 2

I've managed to solve it

[code]

[2020-06-25 18:08] joeldenning commented on #226
Released in https://github.com/single-spa/single-spa-angular/releases/tag/v3.5.3

[2020-06-25 18:08] #230 closed

[2020-06-25 18:08] joeldenning commented on #230
Happy to hear you solved it

[2020-06-25 20:42] Den-dp commented on #226
Great! Thanks for responding to this so quickly. I really appreciate it.

[2020-06-25 20:42] #226 closed

[2020-06-29 14:57] filoxo commented on #208
I wonder if this was resolved in https://github.com/single-spa/single-spa-angular/pull/231. I'll do some testing in the near future.

[2020-06-29 16:55] joeldenning commented on #208
Yeah that PR looks promising for fixing this.

[2020-07-01 02:52] adisreyaj opened #232 "Compatability issues with Angular 10"
### Demonstration

1. Upgraded the CLI to latest Angular 10.
2. Created a new Angular project
3. Ran the `ng add single-spa-angular` schematics
4. I kept both using *Routing* and *Browser Animations* options
4. Added the `APP_BASE_HREF` and `EmptyRouteComponent` in `AppModule`
5. Served the application using the npm script `npm run serve:single-spa`

### Outcome
Once we run the the serve comnand,

[2020-07-01 03:11] adisreyaj commented on #232
Looks like `ɵBrowserPlatformLocation` should be imported from `@angular/common`.

Ref: [Angular Github](https://github.com/angular/angular/blob/10.0.x/packages/common/src/private_export.ts)

[2020-07-01 03:15] adisreyaj commented on #232
I guess the issue is because `ng add single-spa-angular` instead of installing the version 4, is installing v3. So the schematic is failing to identify the Angular version I guess.

[2020-07-01 05:28] phonethantko commented on #208
Hi, the error

Hi, I am getting the same error from running the single-spa-angular 3.5.3 with the Angular 9 application.

It appears that ɵBrowserPlatformLocation has been deprecated from '@angular/platform-browser' but the code from 3.5.3 release is still importing from that old package instead of '@angular/common'.

[2020-07-01 05:32] phonethantko opened #233 "Issue in single-spa-angular 3.5.3 with Angular 9 apps"
_Originally posted by @filoxo in https://github.com/single-spa/single-spa-angular/issues/208#issuecomment-637651944_

Hi, I am getting the same error from running the single-spa-angular 3.5.3 with the Angular 9 application.

It appears that `ɵBrowserPlatformLocation` has been deprecated from '@angular/platform-browser' but the code from 3.5.3 release is still importing from that old package instea

[2020-07-01 05:47] filoxo commented on #233
Yes, single-spa-angular@4 is intended to support Angular 9. You should use version 4 instead.

For more info, read:
- [v4.0.0 release notes](https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0)
- [v4.2.0 release notes](https://github.com/single-spa/single-spa-angular/releases/tag/v4.2.0) which is the latest 4.x release at the time of this writing.

I'm closing this since it is not

[2020-07-01 05:47] #233 closed

[2020-07-01 15:47] joeldenning commented on #232
Why was this issue closed? I am reopening. We should discuss what is needed for Angular 10 support and then implement it.

[2020-07-02 06:37] varora1406 commented on #113
@joeldenning no pull request is opened yet for this issue.
can you share implementation approach details?

[2020-07-02 13:16] arturovt commented on #232
It is:

https://github.com/single-spa/single-spa-angular/blob/a4cc1633bf0b8f39c57484a51e7895561818c37b/src/src/extra-providers.ts#L2-L7

![image](https://user-images.githubusercontent.com/7337691/86363342-5ae44800-bc7f-11ea-95a8-117998b0e743.png)

[2020-07-02 13:19] arturovt commented on #232
Interesting, that's true.

[2020-07-02 15:56] joeldenning commented on #113
Hi @varora1406, my previous comment details the implementation. I'll add a few more links for anyone who's interested in submitting a pull request with the change:

https://github.com/single-spa/single-spa-angular/blob/a4cc1633bf0b8f39c57484a51e7895561818c37b/src/src/extra-providers.ts#L15

https://github.com/single-spa/single-spa-angular/blob/a4cc1633bf0b8f39c57484a51e7895561818c37b/src/src/extra

[2020-07-02 16:15] joeldenning commented on #232
That seems like it is related to the following code? I'm not sure why that code would stop working in Angular 10.

https://github.com/single-spa/single-spa-angular/blob/a4cc1633bf0b8f39c57484a51e7895561818c37b/schematics/ng-add/dependencies.ts#L27

[2020-07-02 16:40] joeldenning opened #234 "Problems with mounting the same parcelConfig multiple times"
### Demonstration

[code]

### Expected Behavior

When you mount the same single-spa-angular parcelConfig multiple times, multiple independent parcels should be created.

### Actual Behavior

When you mount the same single-spa-angular parcelConfig multiple times, only one of them really works. See more at https://single-spa.slack.com/archives/CGETM8T5X/p1593605815279300

This is caused by the [opt

[2020-07-02 19:38] arturovt commented on #113
It'd also be great if we reproduce that behavior in our tests before making that change. And after the change is done we'll be able to see if that code change really fixes that issue.

[2020-07-03 15:54] adisreyaj commented on #232
I have actually tried again and it is still installing `single-spa-angular: ^3.5.3`.

1. Created a new angular project with Angular CLI v10.0.0
2. Ran the `ng add single-spa-angular`

Here is the dependencies list from `package.json`:

[code]

[2020-07-06 03:47] joeldenning commented on #220
This is released in https://github.com/single-spa/single-spa-angular/releases/tag/v4.3.1 for Angular versions 9-10.

We should also make this change in the `3.x` branch for Angular versions 2-8. I'll keep this issue open to track that.

[2020-07-06 03:49] joeldenning commented on #220
Just saw the 3.x PR. It is at https://github.com/single-spa/single-spa-angular/pull/236

[2020-07-06 04:02] joeldenning commented on #232
We didn't fix anything related to this, so it is not surprising that it isn't working yet. My comments above were to help brainstorm a solution - if anyone would like to send in a pull request with a fix, that would be appreciated.

[2020-07-06 06:28] adisreyaj commented on #232
Yup..I was just trying to confirm the issue and add some additional info if needed.

[2020-07-07 03:19] joeldenning commented on #113
Here's the conversation from Slack about this.

![image](https://user-images.githubusercontent.com/5524384/86700214-2a2d4700-bfce-11ea-84ad-96ffd0df4cef.png)

I don't know Dmitry's Github handle, but if you're watching this thread Dmitry could you please comment on whether your solution has worked?

[2020-07-07 04:23] DmitryBrus commented on #113
@joeldenning
I didn't observe infinite loop, only one redundant redirection.
Before opening PR I'd like to be sure that I can clearly reproduce the issue, unfortunately I do not see it happen on new  repo, I tried and played around, set two redirection close one another but still no luck.
The only place it happen for me in our pretty big app, I tried to remove one by one all irrelevant parts and s

[2020-07-07 04:35] varora1406 commented on #113
@DmitryBrus you can try it at https://github.com/varora1406/coexisting-angular-microfrontends/tree/issue-inifnite-url-loop
I am also going to start work from today after office hours on this to fix 👩‍🚀

[2020-07-07 04:59] jimyhdolores opened #237 "how to use Parcels in angular"
### Question
Hello, I have used the CLI single-spa to create a Parcel project since, according to the documentation, this type of microfront is recommended to be able to share UI components in different frameworks, in the CLI it shows the options of which language to use, I chose React; Now I want to use this Parcel in an Angular project, but I can't find examples of how to do it, do you have any

[2020-07-07 16:23] filoxo commented on #237
We have not yet had the time to document Angular Parcels, and the issue is tracked on the documentation repo https://github.com/single-spa/single-spa.js.org/issues/199

[2020-07-11 12:55] R0muald commented on #237
Would that be possible to get access to the angular app that you use to test out the Parcel component? I'm trying to get it to work with a simple spa app without success:
[code]
[code]
**PS :** The "spa-site" is a spa application that works great when mounted with `registerApplication()`

[2020-07-12 00:13] filoxo commented on #237
@R0muald this [coexisting-angular-microfrontends repo](https://github.com/joeldenning/coexisting-angular-microfrontends) would likely be a good candidate to use.  You'll have to fork it but your changes might also be a good example to  contribute.

[2020-07-13 05:37] rajanvisakh opened #242 "getSingleSpaExtraProviders() not working with angular 8,spa3 and single-spa angular-3"
https://github.com/single-spa/single-spa-angular/blob/301906db79b369dd681bdfff86619c9bea83e9f8/schematics/ng-add/_files/src/main.single-spa.ts.template#L22
![ll](https://user-images.githubusercontent.com/68216146/87274294-094a8180-c4f9-11ea-8188-df7baac3f735.png)

[2020-07-13 05:38] rajanvisakh commented on #242
im not able to acces the custom props value inside my angular component.Is this due to this?

[2020-07-13 05:38] #242 closed

[2020-07-13 06:10] rajanvisakh opened #243 "getSingleSpaExtraProviders() not working with angular 8,spa3 and single-spa angular-3"
![ll](https://user-images.githubusercontent.com/68216146/87276265-9bed1f80-c4fd-11ea-9772-ac581a6a34f6.png)
https://github.com/single-spa/single-spa-angular/blob/301906db79b369dd681bdfff86619c9bea83e9f8/schematics/ng-add/_files/src/main.single-spa.ts.template#L22

[2020-07-13 06:11] rajanvisakh commented on #243
im not able to acces the custom props value inside my angular component.Is that due to this?

[2020-07-13 14:23] R0muald commented on #237
Thanks for the reply.
To do that, I would need to transform the root-html app into an angular app. I will also need to remove the spa-layout since the Parcel will be mounted and unmounted from the angular app that will load/unload those routes.
Is that a faire statement? Do you see a different way to explain the usage of Parcel?

Please let me know, so I can create the reference app and share it.

[2020-07-13 16:56] joeldenning commented on #242
No, the extra single-spa providers are related to fixing navigation issues. Not related to props. You should be able to access props through the `singleSpaPropsSubject`. See https://single-spa.js.org/docs/ecosystem-angular#custom-props for more documentation on this.

[2020-07-13 16:57] joeldenning commented on #243
No, the extra single-spa providers are related to fixing navigation issues. Not related to props. You should be able to access props through the singleSpaPropsSubject. See https://single-spa.js.org/docs/ecosystem-angular#custom-props for more documentation on custom props. You can read more about the single-spa extra providers at https://single-spa.js.org/docs/ecosystem-angular#basic-usage

[2020-07-13 17:05] joeldenning commented on #237
Parcels were implemented in https://github.com/single-spa/single-spa-angular/pull/122 by @ricardofct.

@ricardofct could you comment here with example usage? We need to add this to the documentation.

[2020-07-13 18:41] R0muald commented on #237
Hi,
I created a `root-angular` app that follows the `root-html-file` but with an angular routing instead of the `single-spa-layout` routing.
It's a basic angular app with lazy loading. The setup I have regarding to the spa micro-app:
- `navbar` registered as an application (to insure that application and parcel can work together)
- `app1` loaded as parcel under `/app1` route
- `app2` loaded as par

[2020-07-13 19:43] gauravpandvia commented on #113
@joeldenning @arturovt After the version 3.4.1 fix of infinite redirection, it came back haunting again in our app. But this time it was weird, as it was not happening consistently but intermittently. Seeing the above comments as @DmitryBrus said it is happening when there are two close redirection routing in the angular app. Since in a more complex big app, it is quite visible and pertinent but I

[2020-07-13 19:49] filoxo commented on #237
@R0muald I think you went the wrong direction with that. You do not have to implement the root-config with Angular in order to use Parcels, and [using a framework in the root-config is something we actively discourage](https://single-spa.js.org/docs/faq/#should-i-have-a-parentroot-app-and-children-apps). A Parcel is ["a chunk of functionality meant to be mounted manually by an application"](https:

[2020-07-13 20:20] R0muald commented on #237
Yes, I figured that I was stretching the usage of Parcels.
The issue I want to solve with Parcel:
- Have more control on when, where to load those micro-app without depending only on the route,
- Have a framework at the root to provide dynamic loading of micro-app and better communication between them

Is there anything that stop an application to be loaded as a parcel?

[2020-07-13 21:04] filoxo commented on #237
Those are good questions. I'd recommend joining our [Slack workspace](https://join.slack.com/t/single-spa/shared_invite/enQtODAwNTIyMzc4OTE1LWUxMTUwY2M1MTY0ZGMzOTUzMGNkMzI1NzRiYzYwOWM1MTEzZDM1NDAyNWM3ZmViOTAzZThkMDcwMWZmNTFmMWQ) to ask those questions because this issue is for tracking single-spa-angular Parcels documentation, and I'd rather not clutter it with tangential information.

[2020-07-13 22:01] R0muald commented on #237
Will update my fork to follow your recommendation

[2020-07-15 06:59] celian-garcia commented on #232
Hey guys I made exactly the same process for my project (described in Demonstration part of the issue).
Am I the only one that had to do these moves :
##### Update the ``main.single-spa.ts`` file
[code]
->
[code]

##### Updated the single-spa version
[code]
[code]

I think that's pretty all I remember on my side in addition to what you already did of course.

Ah yes I updated as well the version o

[2020-07-16 16:02] joeldenning commented on #113
Thanks for the repo demonstrating the issue. I do not plan on working on this issue, but welcome anybody who does to discuss it here and/or submit a pull request.

[2020-07-16 16:04] joeldenning commented on #232
Hi @celian-garcia, the changes to the `import`s were part of the Angular 8 to Angular 9 migration and are documented in https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0. Angular 10 also uses single-spa-angular@4.x, so anybody upgrading from Angular <= 8 to Angular 10 will need to make those changes.

[2020-07-16 17:41] pravinparab opened #244 "Data path "" should NOT have additional properties(customWebpackConfig)"
while running single spa application, I am facing below issue

**Schema validation failed with the following errors:
  Data path "" should NOT have additional properties(customWebpackConfig).**

[2020-07-16 18:19] celian-garcia commented on #232
Okay thanks for the info. I didn't really migrate actually I just made ng new + ng add single-spa-angular but maybe I should have explicitely mention the version of single-spa-angular somehow.

[2020-07-17 15:49] joeldenning commented on #244
Hi @pravinparab, could you provide more information about this error? What version of Angular are you using? What commands did you run locally? What version of single-spa-angular are you using?

[2020-07-20 14:02] arturovt commented on #244
This error is thrown when you use the default Angular builder. You've got to use `@angular-builders/custom-webpack`.

[2020-07-20 22:02] Den-dp opened #249 "`ng add single-spa-angular@4` fails on fresh angular@10 project"
### Demonstration
[code]
[code]

### Expected Behavior
`ng add single-spa-angular@4` should work for fresh project generated via @angular/cli@10

### Actual Behavior
`ng add single-spa-angular@4` fails with the following error:
[code]

----

After some debugging, I found that it fails while parsing the tsconfig
https://github.com/single-spa/single-spa-angular/blob/cc96477d0f526a61c6603a535a0d4b077

[2020-07-20 22:04] Den-dp commented on #249
And the workaround is to remove the comment from `tsconfig.app.json`

[2020-07-20 23:16] Den-dp commented on #249
Also found that `ng add` inserts `"@angular-builders/custom-webpack": "^10"`
https://github.com/single-spa/single-spa-angular/blob/cc96477d0f526a61c6603a535a0d4b07741a416c/schematics/ng-add/dependencies.ts#L40-L49
but there is no `@angular-builders/custom-webpack@10` right now so this part will be a problem for some time.

Tried `^9` but get

[code]

Works with the latest beta `10.0.0-beta.1` tho.

[2020-07-21 02:41] joeldenning commented on #249
Hi there - Angular 10 support hasn't landed yet, although it seems like you have made considerable progress here in diagnosing the issue! See related https://github.com/single-spa/single-spa-angular/issues/232 where other Angular 10 issues have been discussed.

Are you open to sending in a pull request that fixes this?

[2020-07-21 15:20] helumalai commented on #232
Yes, we would like to upgrade our single-spa apps to Angular 10, and resolving this issue would be great. Happy to contribute my time if needed.

[2020-07-21 15:26] helumalai commented on #232
I did exactly the same.

[2020-07-21 17:01] joeldenning commented on #232
Hi @helumalai, yes if you have time and would like to contribute any changes needed for Angular 10 support, that would be greatly appreciated! @Den-dp has made a lot of progress on some related issues, as reported in https://github.com/single-spa/single-spa-angular/issues/249. I am happy to review pull requests to address the issues.

[2020-07-21 21:41] maximillianfx commented on #232
Hi, I'm using the single-spa CLI to create an angular app. I have made some changes to build and run the code (@celian-garcia thanks 😄 ) but I found this little problem when acessing the url playground:

`Cannot read property 'injector' of undefined - at single-spa-angular.js:198`

Have anyone faced this point?

Angular version: 10
Single Spa Angular: 4.2.0

[2020-07-21 22:16] celian-garcia commented on #232
Hi @maximillianfx I don't remember such an error. What is your main.single-spa.ts ?
Mine is like this :
[code]

[2020-07-21 22:23] maximillianfx commented on #232
Oh :/, my main.single-spa.ts:

[code]

[2020-07-21 22:27] maximillianfx commented on #232
I've read on the single spa docs the support for Angular 9. I will make a project using Angular CLI 9 and re-test.

[2020-07-22 15:36] maximillianfx commented on #232
Hello! Using [this](https://single-spa.js.org/docs/ecosystem-angular#angular-cli) approach and using angular in 9.1.7 the project is running!

[2020-07-22 15:53] adisreyaj commented on #232
It works on Angular 9 without any issues. Only problem is with 10. The schematic is somehow installing the version 3 of single-spa-angular instead of version 4

[2020-07-23 11:04] DmitryBrus opened #250 "Angular 10 throws warning if global styles used"
### Demonstration

1. Angular 10 clear install with angular cli
2. adding single-spa-angular, single-spa-angular should be manually updated to latest (4.3.1)
3. ng build

### Expected Behavior
build pass without errors and warnings

### Actual Behavior

Warning src\styles.scss depends on '!!../node_modules/css-loader/dist/cjs.js??ref--14-1!../node_modules/postcss-loader/src/index.js??embedded!../n

[2020-07-23 16:22] joeldenning commented on #250
Hi @DmitryBrus, good question. A webpack warning is usually fairly low priority to fix for this project, especially since we don't have things fully working in Angular 10 yet (https://github.com/single-spa/single-spa-angular/issues/232, https://github.com/single-spa/single-spa-angular/issues/249). However, if you'd like to dig into the warning and provide more insight into whether / how it impacts

[2020-07-24 11:02] pravinparab commented on #244
Hi @joeldenning ,

Issue has been resolved, Thanks :)

[2020-07-24 11:02] #244 closed

[2020-07-24 14:24] MedRAQAOUI opened #251 "Code compialation problem in single-spa-angular/internals/types.d.ts"
Hi,

On the code source file single-spa-angular/internals/types.d.ts for module single-spa-angular there is a compilation error.

import('@angular/core').NgZone syntax seems to be not correct

[2020-07-24 17:04] joeldenning commented on #251
Hi @MedRAQAOUI, could you provide more information about the error? Did you install single-spa-angular via `ng add single-spa-angular`? What version of single-spa-angular are you running? What version of Angular are you using?

[2020-07-24 20:12] MedRAQAOUI commented on #251
Hi Joel,

Thank you for your reply.
Yes single-spa-angular was installed via ng add single-spa-angular.

This is single-spa version :
"single-spa": "5.5.5",
"single-spa-angular": "^4.3.1",

And below  the stack :

Angular CLI: 9.0.7
Node: 12.16.1
OS: win32 x64

Angular: 9.0.7
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-d

[2020-07-27 07:39] MedRAQAOUI commented on #251
Hi,

"single-spa": "5.5.5", version was put manually , the original one it's >=4.0.0

Best reguards,
Mohamed RAQAOUI

[2020-07-27 16:49] joeldenning commented on #251
I tried this out locally with my local version of Angular CLI 9 and was unable to reproduce the issue. Could you provide a repository demonstrating the issue?

[2020-07-27 17:11] MedRAQAOUI commented on #251
![image](https://user-images.githubusercontent.com/31072563/88570714-d5b14080-d03c-11ea-809d-eeabc2a63066.png)

It's maby a typescript version issue ?

[2020-07-27 17:13] MedRAQAOUI commented on #251
This is after change syntaxe from import('@angular/core').NgZone  to NgZone :
![image](https://user-images.githubusercontent.com/31072563/88570932-2f196f80-d03d-11ea-968f-5a081d28811d.png)

[2020-07-27 17:14] joeldenning commented on #251
Please provide a github repo demonstrating the issue, as I mentioned in my last comment. Debugging without a github repo will be hard.

[2020-07-27 19:11] MedRAQAOUI commented on #251
![image](https://user-images.githubusercontent.com/31072563/88581445-77d92480-d04d-11ea-9697-707bd9ae6187.png)

I can't connect to repository on github.com from my company network :(

[2020-07-27 19:48] MedRAQAOUI commented on #251
[portal.zip](https://github.com/single-spa/single-spa-angular/files/4984115/portal.zip)

Here in attachement source code without node_modules directory.

npm install to show compilation  error

npm run serve:single-spa:portail for start server dev

[2020-07-27 21:52] filoxo commented on #130
Looks like the fix for this happened in https://github.com/angular/angular/pull/37600 and landed in [Angular 10.0.1](https://github.com/angular/angular/blob/master/CHANGELOG.md#1001-2020-06-26).

[2020-07-28 14:21] MedRAQAOUI commented on #251
Hi Joel,

I try to understand the issue , on repository git  single-spa/single-spa-angular there is the correct source code syntax in  src/internals/src/types.ts .

Is single-spa-angular/internals/types.d.ts a compilation of src/internals/src/types.ts  ?

[2020-07-28 14:34] MedRAQAOUI commented on #251
This code is introduced in PR feat(single-spa-angular): add possibility to have a zone-less application #182 on commit hash 81ebca381799cfc06ad95559de315cbf2ade2c22

[2020-07-28 15:03] MedRAQAOUI commented on #251
In fact dynamic import of NgZone in single-spa-angular/internals/types.d.ts  it does not seem to work.

[2020-07-30 11:42] eduardocalixtoviasoft commented on #224
As far as I know deploy url works, but still some cases are not cover by it, which means, for example, that css background url is not affected by it. Anyway our solution was to get all needed fonts in our loader, this way this files is available even if it's not getting from the app location.
Another possible solution (we think about it but we currently do not need it) is to do a post build altera

[2020-08-04 03:48] 3gwebtrain opened #258 "Angular Library components are required to refresh when switch between other apps, how to prevent this?"
In my micro front end, i have multiple applications. moreover all applications using library components.  my issue is:

1. When an application loads as first time, library component works fine. example modal-popup ( cancel, ok function)
2. If I switch in to other application, and visiting back to the previous app, the cancel or ok buttons in popup not works.

But, If I add a `*ngIf` condition on t

[2020-08-04 21:28] joeldenning commented on #258
Hi @3gwebtrain, that sounds like a weird issue. Could you provide more details about it? Which versions of Angular and single-spa-angular are you using? I do not spend much time diagnosing Angular issues most days, and would welcome any help in diagnosing and fixing it.

[2020-08-04 21:29] joeldenning commented on #258
Additionally, a repository that demonstrates the issue would be very helpful.

[2020-08-05 12:47] pravinparab opened #259 "ERROR in Cannot read property 'flags' of undefined"
Hi,

While running single spa application i am getting below issue

C:\New folder>npm run serve:single-spa:designer-app

WARNING: Running a server with --disable-host-check is a security risk. See https://medium.com/webpack/webpack-dev-server-middleware-security-issues-1489d950874a for more information.
WARNING: --deploy-url and/or --base-href contain unsupported values for ng serve. Default serve

[2020-08-06 04:45] pravinparab commented on #259
Hi joeldenning,

**Actually when i am running application without converting into single spa its working fine

so when i ran --> ng serve
that time module is converting as below**
Compiling @angular/core : es2015 as esm2015
Compiling @angular/cdk/keycodes : es2015 as esm2015
Compiling primeng/dom : es2015 as esm2015

**& when i convert application in single spa
that time module converting below**

[2020-08-06 16:53] joeldenning commented on #259
Thanks for the details - I don't plan on looking into this further but if anyone else has time to do so that would be appreciated.

[2020-08-08 04:14] pravinparab commented on #259
Hi joeldenning,

Thanks :)
Issue has been resolved.
Actually issue with typescript version that is present in @angular-builder so i upgrade @angular/builder to 10.0.0

[2020-08-08 04:14] #259 closed

[2020-08-09 19:31] arturovt commented on #251
This is not a _dynamic import_. It’s called _import type_ and was introduced in TS 2.9. This is a subtype of _type guard_ that ensures that we import only _the type itself_, and not the _NgZone_ class.

[2020-08-11 06:27] celian-garcia commented on #232
Hello, here is an example of a working project https://github.com/milobella/application-web, the project in itself is still in construction but the spa part is functional, with Angular ``10.0.3`` and single-spa-angular ``4.2.0``.

@joeldenning I would be happy to contribute to ameliorate but I don't really get what is needed at the end. Maybe there is some gaps in the schematic ? I will create soo

[2020-08-17 15:28] #249 closed

[2020-08-17 15:39] joeldenning commented on #249
Fix released in https://github.com/single-spa/single-spa-angular/releases/tag/v4.3.2

[2020-08-17 19:01] thehunckerma opened #261 "BrowserPlatformLocation not found ( Angular 10 )"
Hello, I really appreciate the time and effort you put into this library.
I'm trying to use your library with an existing angular 10 app and i get the following errors:

![image](https://user-images.githubusercontent.com/59918011/90432363-52768e00-e0c2-11ea-847a-973f4b7e987d.png)

![image](https://user-images.githubusercontent.com/59918011/90434056-bac66f00-e0c4-11ea-8fff-ec025bd6398b.png)

I fixe

[2020-08-17 20:53] joeldenning commented on #261
I don't know what is causing that issue and no longer spend time diagnosing and fixing issues for this repository (was too many hours spent on stuff I don't enjoy). There are a few others who jump in to comment on things who may be able to help here. One thing that might help is providing a repository demonstrating the issue.

[2020-08-18 10:02] thehunckerma commented on #261
Steps to reproduce ( with Angular CLI 10.0.5 ):
```ng new app```
```ng add single-spa-angular```
fix a small known issue by adding "main.single-spa.ts" to ```"files": [ ..``` in tsconfig.app.json
```npm run serve:single-spa```
and you get the errors.
Here's a repo
https://github.com/thehunckerma/single-spa-angular-issue

[2020-08-18 17:26] thehunckerma commented on #261
I will close this issue as angular 10 is not going to be supported.
for those who are looking for a solution i switched to Qiankun and it works perfectly.

[2020-08-19 07:05] sneeldeshmukh commented on #130
Tried with Angular [10.0.10 ](https://github.com/angular/angular/blob/master/CHANGELOG.md#1001-2020-06-26) still the issue persists

[2020-08-19 13:05] sneeldeshmukh commented on #130
And If it's fixed in  Angular 10.0.1. so is it now to be also fix from single-spa library as well (in any next version) , and If yes so is there any road-map will be helpful if someone can share insides on this.

[2020-08-19 15:12] joeldenning commented on #261
This is untrue - we'd like Angular 10 to be supported. We've had a few PRs improving support for it and hopefully will fully support it over time.

[2020-08-19 15:17] joeldenning commented on #130
My understanding is that this issue is not with single-spa itself, but with Angular. Single-spa calls `lifecycles.unmount()`, which is implemented here in single-spa-angular:

https://github.com/single-spa/single-spa-angular/blob/91b1513fa1db69851acfd8d0b7904cca18a0bbe7/src/src/single-spa-angular.ts#L157

The main thing that occurs in that method is that we call `.destroy()` on the mounted Angular

[2020-08-19 15:19] thehunckerma commented on #261
ah okey sorry 😅

[2020-08-20 07:50] sneeldeshmukh commented on #130
Already added in  **unmount** function
`singleSpa.unloadApplication(appName);`

Also the above function gets executed but the app doesn't fully unload and stay inside the Mounted Apps array
ie. by calling bellow function after unload I can see the app is still there
`singleSpa.getMountedApps()`

[2020-08-20 16:58] joeldenning commented on #130
You should not call `singleSpa.unloadApplication()` unless you want to **redownload the source code for the application**. This is often used for hot reloading and is not related to unmounting. I think you might be using it by mistake, as it has nothing to do with what is described in this github issue.

You have to wait for `unloadApplication` to finish before you call `singleSpa.getMountedApps()

[2020-08-28 19:06] edarioq opened #268 "How to Share NG Bootstrap and other Components Across the Application"
### Question
I am building a out demo to present to our team and have chosen Single SPA for an initial test run.

Currently I have 3 Angular Apps that all use NG Bootstrap and several other custom components (models, popovers, tooltips, etc...). What is the recommended way to share bootstrap, it's components, and the custom components across a Micro FE using Angular and Single SPA?

Everything was

[2020-09-09 18:22] jethas-bennettjones opened #270 "Cannot create a new Angular app using create-single-spa"
### Demonstration

Here are the options that I use:
![Capture](https://user-images.githubusercontent.com/62298251/92637926-c148a080-f296-11ea-8e9b-b8899537df1a.PNG)
![Capture](https://user-images.githubusercontent.com/62298251/92638044-ec32f480-f296-11ea-8092-23082da0a313.PNG)

### Expected Behaviour
Application can be build and run without issue

### Actual Behaviour
![Capture](https://user-image

[2020-09-11 15:02] filoxo commented on #270
(Also, I don't think this is an issue for create-single-spa since the Angular code was generated successfully. I'm more inclined to suspect that the Angular generator didn't work correctly when installing single-spa-angular. The reason I think this is because the start script is missing the app name, which create-single-spa doesn't add. I could be wrong though.)

[2020-09-11 15:06] jethas-bennettjones commented on #270
Hi @filoxo. I had initially tried it with the the latest version but it didn't work so that's when I switched to an older version.
I'll try it again and see if what you're saying about the naming is the issue.

[2020-09-14 10:29] diogolPereira opened #276 "Routes with outlets inside of lazy module"
I have a problem with routes with outlets inside a lazyloading module.

When i have childrens-routes with outles inside a lazyloading module single-spa can't interpret the route and stay in the parent route.

### Demonstration

APP1Routing module:

[code]

LazyModule routing:

[code]
Console don't display errors or warnings.

I create one fork with the example (https://github.com/diogolPereira/coe

[2020-09-15 09:43] 3gwebtrain opened #277 "How to communicate between parent and child using "Rxjs" observable approach with Angular-cli-spa"
From my parent application i required to connect and send some flags. at present I use the approach as:

[code]

it works. but my client is not accepting since we use the window object, which is open for all. I am trying to find a way to communicate using "rxjs" observable. in case of "angular-cli" with "single-spa" I am not find any solution / tutorial or examples. please need the help here.

I a

[2020-09-17 06:07] kush1995ptl opened #278 "Sometimes some micro front end is not loaded properly in single spa framework"
### Sometimes some micro front end is not loaded properly in single spa framework

### In my main index.html file, I had given following kind of `routes.`

`<single-spa-router>
    <div class="main-content">
        <route path="login">
          <application name="login"></application>
        </route>
        <route path="main">
          <application name="banner"></application>
          <appl

[2020-09-17 06:10] kush1995ptl commented on #278
Here is the code.

<single-spa-router>
    <div class="main-content">
        <route path="login">
          <application name="login"></application>
        </route>
        <route path="main">
          <application name="banner"></application>
          <application name="footerApp"></application>
        </route>
    </div>
</single-spa-router>

[2020-09-17 06:10] kush1995ptl commented on #278
`<single-spa-router>
    <div class="main-content">
        <route path="login">
          <application name="login"></application>
        </route>
        <route path="main">
          <application name="banner"></application>
          <application name="footerApp"></application>
        </route>
    </div>
</single-spa-router>`

[2020-09-17 20:13] joeldenning commented on #278
Hi @kush1995ptl, could you provide a demonstration of this issue? Sounds like a potential bug in single-spa-layout

[2020-09-18 05:11] kush1995ptl commented on #278
Yes Here I captured a video of it with some code and actual issue.

[https://drive.google.com/file/d/1lqCyC18r4i78CvFrCkXNfkp1N6HbkK2r/view](url)

[2020-09-18 16:53] joeldenning commented on #278
Hi @kush1995ptl - thanks for the video. Looks like it might be a bug in single-spa-layout. Could you share the code in a Github repo or zip file? I'll try it out locally and see if I can spot what's wrong

[2020-09-18 19:49] kush1995ptl commented on #278
Yes code is available in this repo.

[https://github.com/kush1995ptl/angularmfwithsinglespa](url)

I have mentioned steps to running the app in readme file of repo. Also the demo video as well as link of it is also attached in the repo.

[2020-09-21 04:19] joeldenning commented on #278
Thanks for providing the Github repo. This issue turned out to be related to the component selector for the app-root colliding between the different application. Each single-spa application should have its own unique selector for the app-root.

I have created https://github.com/kush1995ptl/angularmfwithsinglespa/pull/1 which fixes the issue. Documentation for this is at https://single-spa.js.org/d

[2020-09-21 04:19] #278 closed

[2020-09-21 05:21] filoxo commented on #278
Is it possible/worthwhile to have single-spa throw a warning if the domElement it finds to mount an application to is not empty? (this is sort of a spitball idea)

[2020-09-21 06:18] joeldenning commented on #278
Yeah that's a good idea.

[2020-09-22 13:01] kush1995ptl opened #279 "How to give route for 404 pages ?"
### I have 3 micro front end , Login,banner and footer. Now I am giving login as a default route coz I want to open login page first when hit the url in browser. So How can I provide 404 page for unregistered routes ? In single spa documentation it is mentioned that for 404 pages we need to give it as a default route, but I want login page as default.

###
`<single-spa-router>
    <div class="main

[2020-09-23 13:27] jethas-bennettjones commented on #270
I tried this with the latest version and it looks like it's been resolved.

[2020-09-23 13:27] #270 closed

[2020-09-23 21:10] joeldenning opened #280 "Add devtoolNamespace option"
### Description of Proposed Feature

Add `devtoolNamespace` to the webpack config. See https://webpack.js.org/configuration/output/#outputdevtoolnamespace

### In what way would you use it?

This would differentiate the source maps of microfrontends from each other.

[2020-09-24 08:06] plrthink commented on #113
Any updates on this? I'm still facing this issue which causes infinite loop between two routes.

[2020-09-24 08:12] ashuaggarwal94 commented on #113
@plrthink  You can try  imports: [RouterModule.forRoot(routes, { onSameUrlNavigation: "ignore" })], in angular routing module it worked for me!! maybe you can give it a shot!!!

[2020-09-24 08:30] plrthink commented on #113
Well, I don't think it would work since 'ignore' is the default value of the option onSameUrlNavigation.

[2020-09-24 08:47] plrthink commented on #113
And it's indeed not working after testing.

[2020-09-24 12:37] thanhbinhtran93 opened #281 "bootstrapFunction props param type should be AppProps & CustomProps"
### Demonstration
When I register an application and pass customProps

[code]

app1 is an Angular 9 application, in which I want to use that `apiKey`

[code]

### Expected Behavior
No Typescript error.

### Actual Behavior
I get the error `Property 'apiKey' does not exist on type 'AppProps'.`

The `singleSpaProps` param in the `bootstrapFunction` includes both the AppProps and CustomProps; therefo

[2020-09-25 16:38] joeldenning commented on #281
Hi @thanhbinhtran93, it looks like we need to add generics to the `singleSpaAngular` function:

[code]

Here's the line of code that should change:

https://github.com/single-spa/single-spa-angular/blob/f0facdc61a0ce9492f9eb7fa7a5233414f8b08aa/src/src/single-spa-angular.ts#L23

Would you be interested in submitting a pull request to fix this?

[2020-09-27 06:38] celian-garcia commented on #261
Hello @thehunckerma

By curiosity I had a look at [umijs/qiankun](https://github.com/umijs/qiankun) project . It is an interesting one that aim to industrialize the code of what we call sometimes a "portal" in Microfrontends (the core frontend that routes to the others) but it is using single-spa-angular actually. It is not a "concurrent".

Moreover it seems to be completely dependent on single-sp

[2020-09-27 06:51] celian-garcia commented on #261
Okay looking at the sinlge-spa-angular code https://github.com/single-spa/single-spa-angular/blob/master/src/src/extra-providers.ts
It makes me think that your are not using the latest version. You should try something like
``ng add single-spa-angular@4.4.2``

[2020-09-27 09:57] thehunckerma commented on #261
@celian-garcia Hello, I know qiankun is based on single spa that s why i wanted to use single spa in the first place but doing exactly what the documentation says didn t make it work
but thank you for the clarifications i will try it in my next project :D

[2020-09-28 13:56] thanhbinhtran93 commented on #281
@joeldenning Sure! I can do the pull request this week.

Since the singleSpa custom props is defined here:
https://github.com/single-spa/single-spa-angular/blob/f0facdc61a0ce9492f9eb7fa7a5233414f8b08aa/schematics/ng-add/_files/src/single-spa/single-spa-props.ts.template#L8

I'm thinking about also making the change in schematics  e.g.

[code]

Then in main.single-spa.ts.template:

[code]

[2020-09-28 16:18] joeldenning commented on #281
The custom props are already generic in https://github.com/single-spa/single-spa/blob/a8d6c8441d2e948d9e654229116479e7bc26e825/typings/single-spa.d.ts#L52

I think the signature for the singleSpaAngular function should be the following:

[code]

[2020-09-29 07:10] thanhbinhtran93 commented on #281
That's not enough since the bootstrapFunction also needs to know about the custom prop. The signature for bootstrapFunction should be:
[code]

The bootstrapFunction is defined inside BaseSingleSpaAngularOptions:
https://github.com/single-spa/single-spa-angular/blob/f0facdc61a0ce9492f9eb7fa7a5233414f8b08aa/src/internals/src/types.ts#L6-L10

So the BaseSingleSpaAngularOptions would become
[code]

Ho

[2020-09-30 20:57] gokuafrica opened #282 "Single-Spa-Angular not populating app-root element"
### Demonstration
1) Used create-single-spa cli to create a root config project and an angular project.
2) Followed [https://single-spa.js.org/docs/ecosystem-angular/#configure-routes](url) to configure everything.
3) Add layout mapping for the app.

root application index.ejs:<br />
[code]
When I switched the root application with [root-html-file](https://github.com/joeldenning/coexisting-angular

[2020-09-30 21:19] gokuafrica commented on #282
Found the issue. In the index.ejs file I shared above, I need to add zone.js to make angular work.
`<script src="https://unpkg.com/zone.js@0.10.3/dist/zone.js"></script>`
I am not familiar with angular but I am sure that for normal angular to work, this isn't required. For angular micro frontend, why do we need to add this?
Shouldn't this be documented?

[2020-09-30 21:22] #282 closed

[2020-10-01 01:05] filoxo commented on #282
It is included in every [root-config generated with create-single-spa](https://github.com/single-spa/create-single-spa/blob/master/packages/generator-single-spa/src/root-config/templates/src/index.ejs#L58), with a comment that has a [link to the documentation explaining why it's needed](https://single-spa.js.org/docs/ecosystem-angular/#zonejs). Can you provide any concrete suggestions on how you w

[2020-10-01 04:49] gokuafrica commented on #282
In Single-Spa-Angular documentation, zone js is mentioned at the bottom of the page. I would suggest moving it up before `npm run serve:single-spa`. Before the serving topic, it's more likely people won't miss reading about it.

[2020-10-02 15:35] joeldenning commented on #281
Resolved in #283

[2020-10-02 15:35] #281 closed

[2020-10-05 05:19] pravinparab commented on #62
Hi liuyiba,

have you got any solution for single spa child application routing ?
please share with me because i am also facing same issue

[2020-10-05 10:19] orosro commented on #187
I am working on a PR for adding an extra option when calling the function to generate the new webpack config: https://github.com/orosro/single-spa-angular/tree/issue-187-lazy-load-app-style

It fits for my needs, the one where I don't have any style file injected by the angular app, but I let the portal config handle the style injection/removal.

So in this case, all the styles would be rendered i

[2020-10-14 15:29] ramakrishnajkm opened #284 "Lazy load module not working in angular 8"
Not able loadChildren module using single spa in angular 8 . I’m getting below screenshots errors. Can you help please me out

### Environment

<pre><code>
Libs:
![643074AF-F3A1-4BF8-B80E-9A2AB92DE5A6](https://user-images.githubusercontent.com/72873258/96010976-66174a00-0e10-11eb-9c9c-a013caefaefd.jpeg)
![C6A69992-06FD-4892-9449-D4018BF65085](https://user-images.githubusercontent.com/72873258/9601

[2020-10-14 21:17] reshnaz commented on #62
@liuyiba, I followed the method described in the documentation and it worked for me. For example, below is how I have configured my routes in my routing module. APP_BASE_HREF will be "/":
*const routes: Routes = [
  {
    path: 'app1/subroute1',
    component: Component1,
    children: [
      {
        path: 'childofsubroute1',
        component: ChildOfComponent1,
      },
    ]
  },
  {
    pat

[2020-10-15 12:32] reshnaz commented on #62
This must have been silly to miss but this issue got fixed by adding <base href="/"> below the title tag in the container index.html  :)

[2020-10-23 14:52] dbpieter commented on #250
@joeldenning For reference,  I did a quick test with our app and removing the styles from the main entry array reduces bundle size to 1.61 MB where it used to be 2.15 MB. I don't know yet whether that's due to styles being included or optimization bailouts.

Since styles are inlined in main anyway when using single-spa, why is there a need to include them in the main entry config explicitely ?

[2020-10-23 15:08] filoxo commented on #208
Closing this since 1) I have not personally seen this come up again since, and 2) we don't seem to have received any other reports of it happening.

[2020-10-23 15:08] #208 closed

[2020-10-23 15:54] joeldenning commented on #250
Webpack only includes styles in the output javascript if the css is imported via `import './main.css'` or is a javascript entry. In the case of single-spa-angular, my understanding is that the css is not being imported inside of a javascript file, which means that we have to add it as a javascript entry in order for it to be included in the bundle.

[2020-10-23 16:24] filoxo commented on #284
Possible duplicate of #218. Perhaps the solutions provided in https://github.com/single-spa/single-spa-angular/issues/218#issuecomment-647050919 or https://github.com/single-spa/single-spa-angular/issues/218#issuecomment-647058204 can be helpful in solving this.

[2020-10-23 16:34] filoxo commented on #183
I noticed that this is still happening while working on https://github.com/single-spa/create-single-spa/pull/208.

[2020-10-23 16:40] filoxo commented on #206
Closing since this was resolved in #262 and released in 4.4.0.

[2020-10-23 16:40] #206 closed

[2020-10-23 16:42] filoxo commented on #220
Closing as this has also been released in https://github.com/single-spa/single-spa-angular/releases/tag/v3.6.0 for Angular 8 and below.

[2020-10-23 16:43] #220 closed

[2020-10-23 16:45] filoxo commented on #224
Closing since a solution seems to have been reached.

[2020-10-23 16:45] #224 closed

[2020-10-23 17:19] arturovt commented on #277
I don't think it's possible to communicate between applications w/o using `window` object. Saying this just because I googled a lot of examples/articles regarding that and all of them use the `window` object. Even the `vue-bus` or other related packages use the `window` object.

On my last job we wrote a simple small package which had an API something similar to Node's EventEmitter. Multiple appli

[2020-10-23 23:28] joeldenning commented on #277
You can import/export rxjs Observables, Subjects, etc between microfrontends via [cross microfrontend imports](https://single-spa.js.org/docs/recommended-setup#cross-microfrontend-imports)

Additionally, it's possible to share the same instance of the rxjs library between microfrontends is possible, by marking `rxjs` and its operators as webpack externals. More info at https://single-spa.js.org/do

[2020-10-26 10:16] Fox-Valentin opened #286 "how can use ngx-formly in single-spa application"
### Question
I use formly as dynamic form tool in my project.Here is my project profile:
### Environment
angular:~8.2.13
"primeng": "^10.0.2"  // UI
"single-spa-angular": "^3.6.0",
"@ngx-formly/core": "^5.0.0",
### Detail
When i navigate to the route "app1", the systemJS in root-config-html fetched the http://localhost:4201/main,js, and the main.js is download as static resource, but the selector

[2020-10-26 17:24] joeldenning commented on #286
Hi @Fox-Valentin, where is `<application name="app1">` coming from? Is it part of a single-spa-layout Layout Definition? Or part of an angular template?

[2020-10-27 02:32] Fox-Valentin commented on #286
Hi @joeldenning `<application name="app1">` is on the root-config-html,the hole tag like this
[code]
the app2 is normal angular app and randering correctly,but app1 with using ngx-formly didnt rendering,and the code in the app component oninit function didnt run.Thanks for replaying!

[2020-10-27 06:41] Fox-Valentin commented on #286
Hi @joeldenning ,i am sorry for bathering you or wasting time,i use the singleSpa.addErrorHandler to print the err message, and i found the err is about `Uncaught ReferenceError: __importDefault is not defined`; i mean that my issue is not refference with the single-spa

[2020-10-27 17:29] joeldenning commented on #286
Glad to hear you figured out what was the problem.

[2020-10-27 17:29] #286 closed

[2020-10-29 11:38] sanjanaadeshra opened #287 "Trying to integrate angular9 application"
### Trying to integrate angular9 application

### Production Environment

<pre><code>
Libs:
- @angular/core version:~9.1.7
- single-spa-angular version: ^4.0.1

</code></pre>

I am trying to use an application built in angular 10. I am trying to include the build in main root-html application, but getting the following error, can you please help me out with it.

[code]

[2020-10-29 19:38] joeldenning commented on #287
Angular 10 isn't fully supported by single-spa-angular. The issue title here indicates you're using Angular 10, but the code snippet you shared indicates 9.1.7. Which version of Angular is this for?

[2020-10-30 06:48] sanjanaadeshra commented on #287
With angular version 10 since compatibility was an issue, I've downgraded it down to 9.1.7, but still the same issue.

[2020-10-30 11:36] OriolInvernonLlaneza opened #288 "Sharing Angular (v9-10) via Webpack Externals throws "could not retrieve extra providers from the platform injector" error"
I've been trying to update our apps to Angular 9 or 10 as we are still on 8. We have Angular depencies externalized and shared from the root config to all MFEs and this has provoked a problem when trying to update. The process I've followed so far can be read on[ this thread on the slack channel](https://single-spa.slack.com/archives/CGETM8T5X/p1603443658129000).

The complete error thrown, althou

[2020-10-30 16:43] joeldenning commented on #288
I don't have plans to look into this myself in the near future, but welcome a PR to fix it.

[2020-11-02 10:22] arturovt commented on #288
Hey @OriolInvernonLlaneza

Thank you for provided reproduction. I've managed to clone it and to run locally. Basically what we have:
* you're sharing dependencies. You're also sharing Angular dependencies, that means that you've got 1 PLATFORM_INJECTOR per ALL apps
* you're not sharing `single-spa-angular`

What happens then? When writing `getSingleSpaExtraProviders()` it provides `PlatformLocatio

[2020-11-02 10:26] arturovt commented on #218
Hey @matt-gold
Can this issue be closed?

[2020-11-02 10:27] arturovt commented on #287
@sanjanaadeshra can you provide a minimal reproducible example?

[2020-11-02 10:28] arturovt commented on #284
@ramakrishnajkm could you provide a minimal reproducible example?

[2020-11-02 10:32] arturovt commented on #251
Closing this issue, since the import type was removed:

https://github.com/single-spa/single-spa-angular/blob/master/src/src/types.ts#L19

[2020-11-02 10:32] #251 closed

[2020-11-02 10:58] arturovt commented on #268
You can share all packages that you want via the systemjs-impormap, even Angular packages and ng-bootstrap:

[code]

Also you have to add all "sharable" package to Webpack's `config.externals`, something like that:
[code]

And that what you'll have, notice all packages are loaded by SystemJS (Angular, single-spa and ng-bootstrap). Buttons are `ngbButtons`:

![image](https://user-images.githubuserc

[2020-11-02 11:00] arturovt commented on #258
@3gwebtrain could you provide a minimal reproducible example?

[2020-11-02 11:23] arturovt commented on #130
Hey guys. I want to clarify things. I've checked that the application is removed successfully w/o using any hacks like `element.remove()`, etc.

P.S. I've checked with `angular@10.2.0`. The fix was published with `10.0.1` version: https://github.com/angular/angular/blob/master/CHANGELOG.md#1001-2020-06-26 (core: cleanup DOM elements when root view is removed).

That means that this function is not

[2020-11-02 11:25] arturovt commented on #261
Hey @thehunckerma

Was your issue resolved? Can this issue be closed?

[2020-11-02 11:43] arturovt commented on #232
Hey guys. I've checked the `ng add single-spa-angular` command with Angular 10, it installed the latest version:

![image](https://user-images.githubusercontent.com/7337691/97864528-64ef8380-1d11-11eb-8751-fa93375098a0.png)

[2020-11-02 12:03] thehunckerma commented on #261
Hello, yeah i guess so thanks :D

[2020-11-02 12:03] #261 closed

[2020-11-02 13:42] OriolInvernonLlaneza commented on #288
Oh.., I don't even know how it didn't even cross my mind to share single-spa-angular, I'm a little bit mad with myself right now :)
Thank you very much for the quick answer, I'll try tomorrow with our real apps and close the issue if I don't encounter any other problem.

[2020-11-02 17:47] joeldenning commented on #268
@arturovt did you have to turn off Ivy compiler in order for the sharing of dependencies to work? Or does it work even with Ivy?

[2020-11-02 17:49] joeldenning commented on #258
Closing due to inactivity, but feel free to reopen / comment further with an example demonstrating the problem

[2020-11-02 17:49] #258 closed

[2020-11-02 17:50] joeldenning commented on #130
Thanks for the update @arturovt - sounds like we can maybe close this issue?

[2020-11-02 17:52] joeldenning commented on #288
Thanks @arturovt! Closing this.

[2020-11-02 17:52] #288 closed

[2020-11-02 18:09] arturovt commented on #268
It works with Ivy. The **main** problem is that those bundles, that are coming from jsdelivr or unpkg, are not optimized by the Angular compiler.

[2020-11-02 18:10] joeldenning commented on #268
I thought the versions published on npm didn't include the POST_R3 functions?

[2020-11-02 18:16] arturovt commented on #268
You're right, I have forgotten to check the tsconfig, Ivy is explicitly disabled there, so it works with View Engine in the above example.
Ivy packages are possible to share from local node_modules, but not from CDN.

[2020-11-02 22:02] arturovt commented on #130
Yeah, closing it.

[2020-11-02 22:02] #130 closed

[2020-11-03 06:59] celian-garcia commented on #232
For me it works perfectly now.

[2020-11-03 10:17] arturovt commented on #232
Thanks for clarifying @celian-garcia
@adisreyaj was this issue resolved? Can it be closed?

[2020-11-03 15:52] awhitehouseWS commented on #237
I see the docs don't exist yet, but is there an example repo out there anywhere?

[2020-11-03 18:54] joeldenning commented on #237
The parcel component and module are not currently compatible with Angular 9+. I tried it locally just now.

[2020-11-03 18:55] joeldenning commented on #237
![image](https://user-images.githubusercontent.com/5524384/98028478-654c5500-1dcb-11eb-9de7-4516040ffe2a.png)

[2020-11-03 18:55] joeldenning commented on #237
![image](https://user-images.githubusercontent.com/5524384/98028502-6e3d2680-1dcb-11eb-8396-08752863ed1b.png)

[2020-11-03 18:55] joeldenning commented on #237
https://stackoverflow.com/questions/60726180/angular-9-value-at-position-x-in-the-ngmodule-imports-is-not-a-reference

[2020-11-03 19:00] arturovt commented on #218
Was talking to Matt in Slack, this can be closed.

[2020-11-03 19:00] #218 closed

[2020-11-03 19:14] awhitehouseWS commented on #237
ah, ok. thank you for the quick response. may look into it if I have time

[2020-11-03 20:44] saravanavel891 opened #296 "Angular route navigation issue"
### Demonstration
We are trying to load our application using single spa. we are able to load and it is working as expected. The only scenario it is failing is hard reload is not taking us to the right page where we were before. in our app routing module we have empty route also.

**routes Array**: `routes =  [{
    path: '',
    redirectTo: '/test/default',
    pathMatch: 'full'
  },
{
path: 'def

[2020-11-04 12:08] arturovt commented on #296
@saravanavel891 could you provide a minimal reproducible example?

[2020-11-04 13:52] arturovt commented on #223
@ajithgadgeon14 was the issue resolved?

[2020-11-04 16:21] arturovt commented on #243
Closing due to inactivity, but feel free to reopen / comment further with an example demonstrating the problem.

[2020-11-04 16:21] #243 closed

[2020-11-04 18:19] arturovt commented on #212
@hiaparna was the issue resolved?
@joeldenning can we close this issue due to inactivity?

[2020-11-05 10:52] hervedevos commented on #287
@joeldenning  Can you detail what's missing ? I integrated an Angular 10 app and I didn't encounter any issues for now...

[2020-11-05 11:37] arturovt commented on #287
@hervedevos this repository contains 5 Angular applications for integration purposes and they all use the latest Angular version (10.2.0). Joel probably meant the issue that was encountered this summer related to `ng add` command.

[2020-11-05 15:30] adisreyaj commented on #232
@arturovt Looks like the issue is solved.

[2020-11-05 15:30] #232 closed

[2020-11-06 16:13] joeldenning commented on #212
Sure let's close this. Feel free to reopen or comment further

[2020-11-06 16:13] #212 closed

[2020-11-06 16:15] joeldenning commented on #287
Yes @arturovt is right here - angular 10 is supported. When I last commented I wasn't sure if there were still problems with the schematics, but there are not.

Sounds like the issue is resolved here - closing this issue now.

[2020-11-06 16:15] #287 closed

[2020-11-06 16:39] joeldenning commented on #237
Also, here's a rough idea of how to use the component once it's successfully imported and installed:

[code]

[2020-11-06 20:45] #280 closed

[2020-11-07 14:24] arturovt commented on #157
@joeldenning can we close this issue due to inactivity? Unfortunately, the complete reproducible wasn’t provided.

[2020-11-07 14:26] arturovt commented on #113
Hey guys, we have released the fix in 4.6.0 version. Could anyone check if it resolves your issue? @varora1406 could you also check in your example?

[2020-11-07 14:27] arturovt commented on #223
@joeldenning can we close this issue due to inactivity?

[2020-11-08 17:47] arturovt commented on #177
Hey @dmeagor
It's been 7 months since this issue was opened and no one commented here thus I can take a look if it works correctly.

What do you mean by `Are there any issues integrating to UI Router with Angular 8/9?`?

* Does it mean that you have 2 coexisting microfrontends: the first microfrontend uses AngularJS and the second one uses Angular 8/9?
* Does it mean that you've got 1 microfronten

[2020-11-08 18:33] arturovt commented on #204
@lukszymanski I'm sorry for the delay. You issue is really informative and I've finally found out why it didn't work.

The problem was that our package `single-spa-angular/internals` was generated with the wrong UMD id by ng-packagr.

I was able to clone your git repo. Your Webpack config for micro-apps is not correct, you've got such externals:
[code]

`ng.{PACKAGE_NAME}` is not a correct UMD id

[2020-11-09 18:15] joeldenning commented on #157
Sure let's close

[2020-11-09 18:15] #157 closed

[2020-11-09 18:15] joeldenning commented on #113
Closing since the fix is published in 4.6.0 - we can reopen if that fix doesn't solve all cases.

[2020-11-09 18:15] #113 closed

[2020-11-09 18:15] #223 closed

[2020-11-09 18:42] #204 closed

[2020-11-09 18:57] lukszymanski commented on #204
cool! thank you for helping out! 💪

[2020-11-09 22:08] joeldenning commented on #98
An example of the parcel component is shown here: https://github.com/single-spa/single-spa-angular/releases/tag/v4.7.0

[2020-11-09 22:09] joeldenning commented on #237
The parcel component has been fixed in v4.7.0. The release notes have a link to an example, and @arturovt is putting together a PR for the documentation soon:

https://github.com/single-spa/single-spa-angular/releases/tag/v4.7.0

[2020-11-09 22:37] joeldenning commented on #204
This is published in https://github.com/single-spa/single-spa-angular/releases/tag/v4.7.0

[2020-11-10 16:12] jyoti0291 opened #300 "single-spa routing doesn't work after deployment to apache directory"
The root application always loads default app.

My deployment location is http://example.co.jp/emp

On load I am able to load the following default application

http://example.co.jp/emp#login

But when I try to navigate to my second app using  http://example.co.jp/emp/user/list, I get redirected to default app with following url:

http://example.co.jp/emp/user/list#login

The APP_BASE_HREF for my

[2020-11-10 17:40] joeldenning commented on #300
Hi @jyoti0291, I've transferred this issue to the single-spa-angular repo since it seems you're using Angular (APP_BASE_HREF).

Could you clarify what you expect to happen? Did you expect the URL not to have the `#login` part in it? Or what is wrong.

Additionally, if you could provide a demonstration of the issue, that would help a lot.

[2020-11-10 17:42] joeldenning commented on #237
Documentation is live at https://single-spa.js.org/docs/ecosystem-angular#parcels

[2020-11-10 17:42] #237 closed

[2020-11-10 17:43] joeldenning commented on #98
Documentation for parcels at https://single-spa.js.org/docs/ecosystem-angular#parcels

[2020-11-10 18:02] JudahMorrison commented on #113
Hello, single spa crew.
I have been dealing with this issue for a while and upgrading single-spa-angular to 4.7 and single-spa to 5.8.1 didn't seem to fix it for me.

[2020-11-10 18:03] jyoti0291 commented on #300
Thanks so much for quick response @joeldenning

`Could you clarify what you expect to happen? Did you expect the URL not to have the #login part in it? Or what is wrong.`

I want my second app to load when I hit http://example.co.jp/emp/user/list as per my following router configuration

<single-spa-router>
      <nav class="topnav">
        <application name="navbar"></application>
      </nav>

[2020-11-10 18:05] arturovt commented on #113
Could you paste your main.single-spa.ts?

[2020-11-10 18:07] JudahMorrison commented on #113
import { enableProdMode, NgZone } from '@angular/core';

import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { Router } from '@angular/router';
import { ɵAnimationEngine as AnimationEngine } from '@angular/animations/browser';

import { singleSpaAngular, getSingleSpaExtraProviders } from 'single-spa-angular';

import { AppModule } from './app/app.module';
import { en

[2020-11-10 18:35] arturovt commented on #113
I see, could you add NavigationStart to options in the same way you pass NgZone and Router?

[2020-11-10 20:04] JudahMorrison commented on #113
@arturovt You are truly an everyday superhero.

[2020-11-11 01:23] joeldenning commented on #300
Seems like you have two different paths: `/emp/user` and `/user`. The single-spa-layout config you showed only matches the `/user` route, not the `/emp` route. This could be caused by your link's href not starting with `/`. The link should be an absolute url -  not page-relative url.

[2020-11-11 08:37] jyoti0291 commented on #300
Could you please elaborate this? Are you talking about the path in single-spa-layout config?

Actually the application and the routing is working properly when I am deploying the application to the root of the apache server e.g. http://example.co.jp because base href is `/` for the application

And if I am deploying it inside a directory e.g. http://example.co.jp/emp, `emp` is a directory is apach

[2020-11-11 17:21] joeldenning commented on #300
`/emp/user` is the wrong URL for the user application, based on your single-spa-layout route definitions. This is what I mean.

[code]

[2020-11-11 18:07] joeldenning commented on #234
The issue here is that the `options` object inside of [this file](https://github.com/single-spa/single-spa-angular/blob/master/libs/single-spa-angular/src/single-spa-angular.ts) is reused when you mount multiple instances of a parcel.

Whenever we modify the `options` object inside of bootstrap, mount, or unmount, we need to do so in a way that accounts for the possibility of there being multiple

[2020-11-12 16:31] arturovt commented on #277
Closing since the guide has been added to single-spa docs.

[2020-11-12 16:31] #277 closed

[2020-11-14 19:42] arturovt commented on #284
@ramakrishnajkm unfortunately, I can’t say anything from these screenshots. Angular 8 uses another syntax for lazy loading tho, you have to replace it:
[code]
It's more imperative and doesn't have any side effects, compared to `loadChildren` which accepts string. At least we use this syntax in our integration applications.

Feel free to re-open with more information!

[2020-11-14 19:42] #284 closed

[2020-11-15 13:43] celian-garcia commented on #250
Hello, btw for the ones who don't want to see the warning, there is always the workaround to fill the field ``allowedCommonJsDependencies`` of your ``angular.json``

[code]
It is probably changing nothgin except the warning display and does not resolve any defect if there is.

But if we are sure that it is not a vulnerability, we can probably go to add it in the ``single-spa-angular`` schematic, W

[2020-11-17 04:11] petermikitsh opened #302 "Add fesm5 Angular Package Format (APF) builds"
### Description of Proposed Feature

From https://unpkg.com/browse/single-spa-angular@4.7.0/package.json, the following output formats are produced:

- main
- module
- es2015
- esm2015
- fesm2015

### In what way would you use it?

I am using single-spa-angular with an Ivy-enabled Angular app. Part of switching to ivy requires running `ngcc` postinstall (to make node_modules are ivy-compatible-- n

[2020-11-18 14:46] 3gwebtrain commented on #258
Thanks joe. that's nothing but server responding with late. it was fixed. sorry for late update.

[2020-11-18 14:57] 3gwebtrain opened #303 "How to share single angular library with all apps?"
I am using angular 8.x with "single-spa-angular": "3.1.0".
I have 4 separate sub apps. all it's assembled with container app. all works fine. I have created a angular library with generic components. **it's installed in all 4 apps and container app.** I really find it's unnecessary.

So how can all this 5 apps can use a single angular-library with them? what is the correct approach to implement th

[2020-11-18 19:22] arturovt commented on #303
https://single-spa.js.org/docs/recommended-setup/#cross-microfrontend-imports

[2020-11-19 02:01] 3gwebtrain commented on #303
@arturovt  thanks for your replay. Is there any demo repo we have? if so can you share me please?

[2020-11-19 10:49] daniloesk opened #304 "create-single-spa does not work with Angular 11"
**Describe the bug or question**
"Cannot find module '@schematics/angular/utility/json-utils'" when creating Angular parcel with npx create-single-spa. The success message at the end is misleading. =)
It looks like json-utils was removed in Angular 11.

**To Reproduce**
Run `npx create-single-spa --dir . --moduleType app-parcel --framework angular`.

**Expected behavior**
The Angular parcel is gen

[2020-11-19 14:39] filoxo commented on #304
Transferring this issue to single-spa-angular. This isn't an issue in create-single-spa but rather that the single-spa-angular generator isn't yet working with Angular 11. Angular 11 support was implemented in https://github.com/single-spa/single-spa-angular/pull/301 but that has yet to be released.

[2020-11-20 13:15] kmiasko commented on #113
@arturovt Doesn't resolve this issue for our team too. For easier reproduction try setting CPU Throttling in Performance tab in developer settings.

I've also cloned @varora1406 repo, updated packages, added NavigationStart to start method and i can still reproduce this.

[2020-11-20 13:28] arturovt commented on #113
@kmiasko

I've just cloned @varora1406 repo, updated packages, added NavigationStart to options and I can't reproduce it anymore:

![image](https://user-images.githubusercontent.com/7337691/99805304-fbf77080-2b44-11eb-8234-780035898ffe.png)

Could you provide a minimal reproducible example?

[2020-11-20 14:24] kmiasko commented on #113
@arturovt Are you sure you're using issue-inifnite-url-loop branch?

[2020-11-20 17:33] joeldenning commented on #304
I just released https://github.com/single-spa/single-spa-angular/releases/tag/v4.8.0 - try again and see if it works now?

[2020-11-20 20:36] daniloesk commented on #304
That makes a lot of sense, but since single-spa-angular was not used directly, create-single-spa should handle it somehow. Maybe it is a good idea to limit the Angular version so it does not break with new releases.

I will test it as soon as I can.

[2020-11-21 07:42] varora1406 commented on #113
Hi guys, sorry I have been away for some time.

@arturovt I can't see button added by me in your screenshot. Please confirm if you are checking at `issue-infinite-url-loop` branch.
![image](https://user-images.githubusercontent.com/24986539/99870676-12f89a00-2bfb-11eb-8911-e1079133656d.png)

[2020-11-23 16:46] daniloesk commented on #304
I just ran the same command and the command ended with no errors.

[2020-11-23 16:46] #304 closed

[2020-11-23 16:52] filoxo commented on #304
I disagree. That logic for handling compatible versions should be contained inside of the single-spa-angular generator.

[2020-11-23 17:50] joeldenning commented on #304
Agreed - the single-spa-angular project is where we change things to support new versions of Angular

[2020-11-23 17:58] daniloesk opened #306 "custom-webpack@^11 not found"
### Demonstration
Executing `npm install` just after creating the Angular 11 parcel produces the error "No matching version found for @angular-builders/custom-webpack@^11".
This is using single-spa-angular@4.8.0, after the fix from #304 .

Created the project here:
https://github.com/daniloesk/single-spa-errors/tree/single-spa-angular%23306

Command logs:
[code]

[code]

### Expected Behavior
`npm

[2020-11-23 18:15] filoxo commented on #306
The issue is this line: https://github.com/single-spa/single-spa-angular/blob/6d2e2527afd49c240fc9e2dffa030f6bda07f5dd/schematics/ng-add/dependencies.ts#L40
The assumption is that every major release of angular will have an accompanying release of the underlying tooling. I wonder if the logic in the schematic should check if that version exists before saving it into the package.json.

As a work ar

[2020-11-23 22:33] arturovt commented on #302
@petermikitsh I don't think it's an issue since Angular officially dropped fesm5 and esm5.

If you are not using Angular CLI to build your application or library, and you need to be able to build es5 artifacts, then you will need to downlevel the distributed Angular code to es5 on your own.
Angular CLI will automatically downlevel the code to es5 if differential loading is enabled in the Angular p

[2020-11-24 07:05] arturovt commented on #302
Closing as "not an issue".

[2020-11-24 07:05] #302 closed

[2020-11-24 08:15] kmiasko commented on #113
@arturovt I've added some logging to single-spa-angular app and single-spa-angular lib, maybe you'll see any pattern there.

[routing log](https://gist.github.com/kmiasko/60c76f2c890d3fc800130056708e220c)

[2020-11-24 10:42] daniloesk commented on #306
Got a strange error after using custom-webpack@latest, but I think it is unrelated. Compared with another generated project and it is different, so I will recreate the error project from scratch.
[code]

[2020-11-24 11:20] daniloesk opened #308 "Broken tsconfig.app.json"
### Demonstration
Create Angular parcel.
[code]

Monitoring the file, just before `UPDATE tsconfig.app.json (188 bytes)` it looks like this:
[code]

After the update it changed to single quotes:
[code]

Notice the file is already broken even before patch or install.

Patch webpack ( #306 ) with `npm install @angular-builders/custom-webpack@latest`.
Run `npm install` to install single-spa-angular.

[2020-11-24 11:59] daniloesk commented on #308
It seems the file was rewriten as TypeScript. As workaround, manually converted tsconfig.app.json back to JSON using double quotes and removing trailing commas:
[code]

[2020-11-24 12:04] daniloesk commented on #306
Using custom-webpack@latest did not work. The project does install, but running it gives the error below. Building gives the same error message. Maybe this was not meant to work after all (different version).

[code]

Log:
[code]

[2020-11-24 19:38] #308 closed

[2020-11-25 07:15] kmiasko commented on #113
@arturovt My bad. I did everything again from the beginning, by the book on `issue-inifnite-url-loop` branch on @varora1406 example and it's working, there is no loop.

I've also solved our team issue with the loop (and i think back button issue - to be testes carefully). As we used angular sub app inside angular main app i had to also patch router in the main app using `getSingleSpaExtraProviders

[2020-11-25 11:23] daniloesk opened #310 "Same default answer for routing"
### Description of Proposed Feature

Not really a feature, more like an improvement.
During create-single-spa of an Angular project, we have two questions about routing with different default options.

The first one from Angular, I suppose:
[code]

And the next from single-spa-angular, guessing again:
[code]

Probably it would be better to have the same default option to improve user experience an

[2020-11-25 12:04] daniloesk commented on #306
Code with latest webpack (10.0.1) test:
https://github.com/daniloesk/single-spa-errors/tree/single-spa-angular%23306-latest

[2020-11-25 13:51] arturovt commented on #113
@kmiasko I'm glad that you've solved it!

[2020-11-25 19:47] #306 closed

[2020-11-25 19:49] joeldenning commented on #310
Agreed that this would be nice - i'm not sure how to implement it. If anyone would like to create a pull request for it, I'm happy to help review it.

[2020-11-25 21:42] daniloesk commented on #306
Thanks! Just to check, this fix will take care of not finding custom-webpack 11, but since it does not work with 10.0.1, we should wait for the release of a compatible version? Or should I open another ticket to take care of that other error?

[2020-11-26 08:30] hiskuDN commented on #56
I'm getting the same error on IE 11. The images show the single-spa-config.js file and the error produced on IE 11
![image](https://user-images.githubusercontent.com/18376750/100326125-ea164180-300c-11eb-84f8-6ea6085fa5df.png)
![image](https://user-images.githubusercontent.com/18376750/100326179-fa2e2100-300c-11eb-9014-3486bfbef7ce.png)

[2020-11-26 11:10] stuartcargill opened #312 "IE11 Broken in 4.4.1+"
Hey guys, I'm working on an Angular app that has recently been converted into an MFE using single-spa.  The app was running single-spa-angular 4.2.0 but I was getting the infinite loop redirect issue so upgraded to 4.6.0 and it fixed the issue.

However IE11 no longer works, I see you removed support for ES5 from 4.4.1 onward:

https://unpkg.com/browse/single-spa-angular@4.3.2/package.json - outpu

[2020-11-26 11:56] daniloesk opened #313 "Zone-less app error without zone.js"
### Demonstration
1. Build root-config (no included zone.js)
2. Build Angular 10 app
3. Make app zone-less
4. Register app on root-config
5. Serve them both
6. Access app route

Minimal demo: https://github.com/daniloesk/single-spa-errors/releases/tag/single-spa-angular%23313

### Expected Behavior
Runs without including zone.js on root-config.
One would expect that one of the benefits of running

[2020-11-26 12:04] daniloesk commented on #313
Forgot to mention that this only happens with Angular app with routing. When not using routing I found no error on zone-less app and no root zone.js.

[2020-11-26 22:04] arturovt commented on #313
It's not an issue since you shouldn't call `getSingleSpaExtraProviders()` when using zone-less app, examples in documentation explicitly don't contain the `getSingleSpaExtraProviders` function call:
![image](https://user-images.githubusercontent.com/7337691/100393964-2022e800-3044-11eb-8409-462c5aec4cba.png)

[2020-11-26 22:39] daniloesk commented on #313
Wow, missed that. I've read that line many times but missed that. Thanks. I'll teste ASAP.

[2020-11-27 10:31] arturovt commented on #313
Closing as "not an issue" ;) Feel free to re-open if I'm missing anything.

[2020-11-27 10:31] #313 closed

[2020-11-27 13:03] daniloesk commented on #313
Confirmed it works if I follow the instructions on the big yellow box. =P
Thanks and sorry about that.

[2020-11-27 18:53] joeldenning commented on #312
@arturovt is there a way we can tell ng-packagr/typescript to compile to es5? Or output both es2015 and es5 builds?

[2020-11-27 19:40] arturovt commented on #312
@stuartcargill the thing is that Angular officially dropped generation of ES5:

esm5 and fesm5 formats are no longer generated.
If you are not using Angular CLI to build your application or library, and you need to be able to build es5 artifacts, then you will need to downlevel the distributed Angular code to es5 on your own.
Angular CLI will automatically downlevel the code to es5.

[2020-11-28 13:26] stuartcargill commented on #312
Thanks @joeldenning  & @arturovt for the quick replies.  Ill try your suggestion and see how that plays out.  Eventually, I would like to output my angular build in ES2015 and leverage differential loading out of the box but do you know if that is possible using SystemJS?

[2020-11-28 17:54] 3gwebtrain commented on #303
Hi there, as a trial, I tried to remove my local "single-spa" and added the same in "import-map".  But still I am getting following error:
[code]

I understood that, I am missing some configuration. can you please point out the configuration i need do here?

Thanks in advance.

here is my import:

[code]

[2020-11-28 18:22] filoxo commented on #303
This is a TypeScript error. [single-spa is published with types included](https://github.com/single-spa/single-spa/blob/master/typings/single-spa.d.ts), so you'll need to install it as a devDependency it to have those types available to the compiler, eg `npm install --save-dev single-spa`.

[2020-11-29 03:10] 3gwebtrain commented on #303
How to add that with, imports? my intension is to import that in wrapper application. both wrapper and child applications to use. sorry for inconvenience. please help me.

[2020-11-29 05:43] filoxo commented on #303
Yes. Both installed locally (only because you're using TypeScript!) as well as in the import map. You should install the module (OR just the types) so that TypeScript can do its thing and analyze the code with types. So for this reason, you would install the module locally. For example, `npm install --save-dev single-spa` to install the library or `npm install --save-dev @types/some-library` to in

[2020-11-30 13:24] 3gwebtrain commented on #303
Hi filoxo, thanks for your answer. As a try I cloned the code from here : [https://github.com/OriolInvernonLlaneza/single-spa-angular-shared](https://github.com/OriolInvernonLlaneza/single-spa-angular-shared) and installed all to run the app. but getting the following error:

[code]

can you please help me to fix this issue? or other repo which do not have the issue?
Thanks in advance.

[2020-12-03 11:39] psoltesz opened #314 "singleSpaPropsSubject with ubuntu - not working"
Hi,

I'm using Docker for building my project, and discovered that when using Ubuntu images (tested with multiple versions), singleSpaPropsSubject will never emit any values, so subscriptions inside the app will never actually receive the props which are provided to children apps during mounting.

[code]

The value itself gets through from the parent app, so the console log displays the correct va

[2020-12-03 12:31] daniloesk opened #315 "system as default libraryTarget"
### Description of Proposed Feature
single-spa documentation recommends using system as default libraryTarget and using it seems to work, at least with latest Angular and single-spa versions. systemjs-webpack-interop also complains if it is not set as system.

Can it be used as default value on `ng add single-spa-angular` instead of umd? I read somewhere on single-spa documentation that may be som

[2020-12-03 14:15] arturovt commented on #314
Could you provide a minimal reproducible example?

I don't think it's somehow related to `single-spa-angular` package itself and that this package somehow affects the `Subject` that's located inside your code.

[2020-12-03 16:09] VictorMontenegro opened #316 "Angular 11 application unmount"
I am having a problem with an Angular 11 application using single-spa-angular. The problem appears when I try to leave from the App working with Angular 11 to other application (in this case, working with Angular 8), where the App working with Angular 11 does not appear to do the unmount procedure, and both Apps are mounted at the same time.

Here is a video with the example:

https://im7.ezgif.co

[2020-12-04 10:41] daniloesk opened #317 "Asset URL in styles broken in Angular 11"
The rewrite solution for asset URL in style files documented in https://single-spa.js.org/docs/ecosystem-angular/#styles using `rebaseRootRelativeCssUrls` no longer works in Angular 11 since that configuration was removed. `deployUrl` is also deprecated for `ng serve` and may be removed in the future.

It looks like such solution was actually based on `rebaseRootRelativeCssUrls` and `deployUrl`, n

[2020-12-04 11:16] daniloesk commented on #317
Maybe a workaround using SCSS and Angular Style preprocessor options?

[2020-12-04 11:43] psoltesz commented on #314
Sure, here it is: [https://github.com/psoltesz/single-spa-angular-singleSpaPropsSubject-debug](https://github.com/psoltesz/single-spa-angular-singleSpaPropsSubject-debug)

Just start the shell with 'ng serve' and child-app with 'npm run serve:single-spa:child-app'.

[2020-12-04 12:26] daniloesk commented on #317
After taking a deeper look into Angular's webpack configuration I realized I misunderstood how Angular handles styles. Actually the root style.css is not processed by the webpack rules, unlike component styles. Moving the URL into a component style and using `deployUrl` had the static publicPath set on the build and serve contents.

Here is an updated demo on the change:
https://github.com/daniloe

[2020-12-04 12:28] daniloesk commented on #317
Forgot to make it clear:
* Up until Angular 10 you could use URLs in root style.css and use `rebaseRootRelativeCssUrls` to have them take publicPath.
* Since Angular 11 `rebaseRootRelativeCssUrls` no longer works, so you need to move URLs into component styles.

[2020-12-04 13:58] arturovt commented on #314
You've got invalid path inside your `angular.json`:

![image](https://user-images.githubusercontent.com/7337691/101172162-7ba73400-3649-11eb-93f5-64d4f1d51a94.png)

[2020-12-04 18:42] joeldenning commented on #315
I've considered making this change as well, in the past. The create-single-spa CLI uses libraryTarget of `system` as it's default for root configs, react applications, and utility modules. The vue-cli-plugin-single-spa project sets the libraryTarget to UMD.

Much of the single-spa community uses SystemJS, but not all of it. I think I'm open to making systemjs the default - the question though is w

[2020-12-04 18:43] joeldenning commented on #316
Hi @VictorMontenegro, the gif link you shared isn't working for me. Could you provide a Github repository that demonstrates the issue?

[2020-12-04 18:49] joeldenning commented on #317
Hi @daniloesk, thanks for the details here. Ideally we'd get Angular CLI to allow us to set the webpack public path dynamically in the browser - this is how things work in the single-spa ecosystem for react, vue, etc. The reason that `--deploy-url` and `rebaseRootRelativeCssUrls` have been encouraged with single-spa-angular is only because Angular CLI's webpack config is rigidly opinionated about

[2020-12-05 00:34] iiker commented on #92
Not sure if helpful or even correct, but I'm playing around with same thing currently and I just set up duplicate "build" and "serve" for vanilla and single-spa in angular.json (eg, "build-single-spa", "build-regular", "serve-single-spa", "serve-regular").
Also in app I have main.ts (vanilla) and main.single-spa.ts, tsconfig.app.json (vanilla) and tsconfig.single-spa.app.json.
Seem to work so far.

[2020-12-06 09:39] 3gwebtrain opened #318 "How to fix the `scope` issue between parent and child application?"
In my wrapper application I made a change and downloading the `jquery` it is downloading in windows scope. in my child app, I declared the `external` configuration as follows:

[code]

In my child application I am trying to use the `jquery` like this:

[code]

Now instead of my child `h1` tag bordered, it's border to `parent` ( host ) applications `h1` tag. how can i fix this `scope` issue. But I

[2020-12-07 10:11] psoltesz commented on #314
That did it, thanks! I didn't even think of checking that. However, I would like to point out that this was autogenerated. Just to be sure, I tested 'ng add single-spa-angular' on both Windows and Ubuntu (don't have a Mac), screenshots below. So it looks like the path generation is OS-specific, and the issue was that I'm developing on Windows and using a pipeline which has an Ubuntu-based Docker i

[2020-12-07 10:26] daniloesk commented on #315
It would affect new projects, but since there may be scripts to create new projects it really looks like a major.

[2020-12-07 11:31] arturovt commented on #312
Closing this as "not an issue", since it's actually not an issue and is related to Angular's `.browserslistrc` configuration. Feel free to reopen if I'm missing something.

[2020-12-07 11:31] #312 closed

[2020-12-07 11:55] arturovt commented on #310
This is not possible due to some technical reasons.

This question presents because not all people use _create-single-spa_, but some may add this package via _ng add single-spa-angular_ into some existing project.

Since we can't determine if the user uses the routing in his application we can't skip that question. Checking that `app-routing` file exists or `AppRoutingModule` is imported into an `

[2020-12-07 12:03] daniloesk commented on #317
Updated the https://github.com/daniloesk/single-spa-errors/tree/single-spa-angular%23317-closed tag. No idea why it was pointing to master...

[2020-12-07 13:43] daniloesk commented on #317
Tried to inject some options in the rules using `extra-webpack.config.js` with no luck. Below are the rules after `singleSpaAngularWebpack` (used inspect). I am guessing they already include Angular rules.

[code]

[2020-12-07 19:04] joeldenning commented on #318
Hi @3gwebtrain - jquery is generally not encouraged for applying CSS styles in Angular for a variety of reasons. If you'd like to use it, you need to ensure that the CSS selector passed to jquery is unique to the component instance.

Here's a selector that is unique to the component, but would still have problems if you render the same component twice (two instances):

[code]

I'm closing this as

[2020-12-07 19:04] #318 closed

[2020-12-07 19:07] joeldenning commented on #315
I'm open to adding this in our next major. There are no plans right now for a new major version, and it gets tricky because single-spa-angular@3 serves Angular 1-8 apps, and to make a breaking change we can't bump to single-spa-angular@4 since that's already taken. We can work around that by either skipping single-spa-angular@3, or creating a minor version and then documenting the breaking changes

[2020-12-07 19:11] joeldenning commented on #312
This is possible by changing which import map is used in IE11 versus in other browsers. That can be done by having a dynamic server that checks user agent headers, or by having browser javascript dynamically inject the import map. It's also possible by creating a custom systemjs extra that uses the [systemjs resolve hook](https://github.com/systemjs/systemjs/blob/master/docs/hooks.md#resolveid-par

[2020-12-07 19:12] #314 closed

[2020-12-07 19:17] joeldenning commented on #314
Released in https://github.com/single-spa/single-spa-angular/releases/tag/v4.9.1

[2020-12-08 08:07] psoltesz commented on #314
Thank you!

[2020-12-08 08:19] 3gwebtrain opened #321 "How can I ask my "single-spa" bundle to utilize the required module from parent app?"
I am using `single-spa` with angular cli. there is a parent which is imports the child's using `import-map`. now my parent app has a module called `@angular/common` the same bundled with `child` on converting to `single-spa` bundle. now my host have 2 set of copies. once is in `parent` another one from `child`.

**I am using `angular 8.2.0`**

I have created a enterprise application using closely

[2020-12-08 11:43] daniloesk commented on #303
I didn't understand anything past the initial request, but here is the summary to have shared dependencies.
That's a guide. Check your versions and file and project types.

Root config index.ejs (on sharing block)
[code]

Application main-single-spa.ts
[code]

Application extra-webpack.config.js
[code]

Application tsconfig.app.json (Angular 9+)
[code]

[2020-12-08 13:23] daniloesk commented on #321
It seems you are mixing things up. Are you using an Angular root config instead of using a pure root config? This seems to be the same problem as #303 .

[2020-12-08 13:40] daniloesk commented on #310
@arturovt, I realized the way using `ng add` later and it makes total sense. Actually I stopped using create-single-spa at all, because it does not have all the options required to create a proper Angular project for single-spa (e.g. prefix).

Good point on minimal as default and usually I would like that option myself. But `ng new` does use routing by default so the idea would be having the same

[2020-12-08 13:44] daniloesk commented on #315
I wouldn't open a new major just for this. Handling many majors is confusing for everyone.
Maybe leave it as an option for the future.

[2020-12-08 13:45] 3gwebtrain commented on #303
@daniloesk, thanks for your help. in my host application I am not using `singleSpaWebpackConfig` at all. instead i have the `main.ts`
with following:

[code]
so how to handle this? if require I can add the "custom-webpack" with my app. if so how to config? please help me.

[2020-12-08 13:54] daniloesk commented on #303
I guess you need to decide to either follow the recommended setup or understand all the involved components to build your own solution. How can you expect to share dependencies without a custom webpack? Or are you using one and not posting it?

I haven't tried it, but I guess you could manually build a simple root config into your host application.

For your imports, I see no reason for changing p

[2020-12-08 14:00] 3gwebtrain commented on #303
I am ready to install `custom-webpack` and do the root config. please help me to add the configuration with `singleSpa`  environment.

[2020-12-08 14:12] daniloesk commented on #303
I guess I misunderstood your issue. You are trying to reuse a library. But from #321 it seems you are struggling with single-spa-angular .

For this one, create a brand new Angular project with `npx create-single-spa` and see how webpack is configured. Then apply it to your project and follow @arturovt https://single-spa.js.org/docs/recommended-setup/#cross-microfrontend-imports. I guess just runn

[2020-12-08 14:27] 3gwebtrain commented on #303
sure daniloesk, will try and update in this space, thank for your time with me.

[2020-12-08 16:05] 3gwebtrain commented on #303
@daniloesk  if do not mind, I have installed the new app using `npx create-single-spa` but how to load my child app which is running in `http://localhost:3000` to created app? it show to load the external app from `public path` if so what should i do? sorry for silly questions.

[2020-12-08 18:07] joeldenning commented on #303
@arturovt found a way to share Ivy dependencies. You make `@angular/core`, `@angular/router`, etc all separate webpack entries, and then compile them with webpack + angular compiler. The resulting output bundles can be put into the systemjs import map.

I have been meaning to create an example of this, but haven't gotten to that yet.

[2020-12-08 18:12] arturovt commented on #310
https://github.com/angular/angular-cli/blob/f122b2f351ab8bb189f15b34875357d0b374715d/packages/schematics/angular/module/schema.json#L33

[2020-12-09 07:05] 3gwebtrain opened #322 "How to share dependency with `angular-cli` to `single-spa-angular` parcel?"
I am using `angular-cli` with `single-spa` ( not single-spa-angualr) to load the `single-spa-angular` bundles. now I start to share the dependencies from `angular-cli` to `single-spa-parcels` but getting error. there is a way to do this (https://github.com/polyglot-microfrontends/shared-dependencies ) using common 'root-html` file.

But my case I could not use that. because `authentications` and o

[2020-12-09 09:12] daniloesk commented on #310
Actually you are totally right. I got confused. It is the other way around. Angular does NOT have routing as default, but single-spa-angular does.

I am pretty sure you have seen more projects than I did. =)

[2020-12-09 13:44] 3gwebtrain commented on #322
at present I am getting this error:

[code]

[2020-12-09 15:41] tommueller commented on #204
@arturovt are you sure that the code you provided works? I added it to my _custom-webpack.js_ and everything works fine from the application perspective, but the bundle size stays the same. Shouldn't it decrease the bundle size quite immensely?

[2020-12-09 16:33] VictorMontenegro commented on #316
Hello @joeldenning , sorry for the wait, here is the repository with the issue:

https://github.com/VictorMontenegro/Angular11SingleSpaError

1.- Make "npm install" at the root folder, inside microfrontends, microfrontends_angular_11 and shell folders.

2.- Execute on the terminal "npm start" in the root folder of the project.

3.- In the browser, access to "http://localhost:9000/".

You can navig

[2020-12-09 18:17] joeldenning commented on #322
If you're using Ivy Compiler, you can only share the angular core libs by creating your own custom builds of the angular core libraries, by making each a webpack entry and running angular compiler on them.

[2020-12-09 18:18] joeldenning commented on #316
@arturovt do you have time to look at this one?

[2020-12-09 18:21] daniloesk commented on #303
I successfully loaded at runtime using Ivy like this:
* Packager project that builds Angular packages.
  * Ivy is on
  * webpack like ```webpackConfig.entry.angular_core = '@angular/core'```
* Root project that has import map referencing Packager's angular_core.js
* App project that has external for @angular/core

Loaded commons, platform-browser and core, in this order, then got the error:
[code]

[2020-12-09 18:28] daniloesk commented on #303
It worked after setting `runtimeChunk` as documented here:
* https://webpack.js.org/concepts/entry-points/
* https://bundlers.tooling.report/code-splitting/multi-entry/#webpack

And importing the runtime.js on Root.

[2020-12-09 18:48] daniloesk commented on #303
Now I am trying to make this into a real world usage. The exported bundles using entry are keeping multiple copies of libraries. For example each one of them has core.js. Any ideas?

[2020-12-09 18:50] daniloesk commented on #303
I just remember I saw a dependency somewhere on the docs...

[2020-12-09 19:13] daniloesk commented on #303
dependOn requires webpack 5 :-/

[2020-12-09 19:34] isandeeppatil commented on #303
Please do share once you succeed in this. I have not yet got a chance to look at this myself. Got redirected here from slack thread.

[2020-12-10 03:50] 3gwebtrain commented on #322
thanks joel. do you have any sample work or detailed description about it? if so let me try and post the status here. may be I require your support to complete this task.

[2020-12-10 12:39] daniloesk commented on #303
OK, I am struggling a little bit with this. I succeeded having runtime dependencies with Ivy on, but the bundles have duplicated dependencies, making the overall very large. Then I have some ideas for this:
1. Since having a single common bundle is a possibility for me, tried "multi-main entry", but couldn't get it to be loaded.
[code]
2. `splitChunk` only (no entries): tried building single ou mu

[2020-12-10 17:42] joeldenning commented on #322
No I haven't had time to put together an example. However, you can see some community members working on it at https://github.com/single-spa/single-spa-angular/issues/303

You can use module federation if you'd like - it requires not using Angular CLI since it requires webpack 5. See https://single-spa.js.org/docs/recommended-setup#sharing-with-module-federation for some details.

[2020-12-11 09:42] 3gwebtrain opened #323 "Getting an error with angular8 dependencies sharing"
I am trying to integrate the `angular8` dependencies. all most look fine. But getting an error it blocks to wokr.

[code]

App package.json:

[code]

root ejs file:

[code]

here is the [repo](https://github.com/3gwebtrain/shared-dependecies.git)

[2020-12-11 10:24] arturovt commented on #316
@VictorMontenegro

Hey, your example doesn't work.

1) The `npm run start` just killed my PC :confused:

![image](https://user-images.githubusercontent.com/7337691/101892118-a8a89900-3bab-11eb-874b-40e062ac896a.png)

2) This is what I got when I opened `localhost:9000`:

![image](https://user-images.githubusercontent.com/7337691/101892218-caa21b80-3bab-11eb-8076-59d29ec8cb69.png)

[2020-12-11 16:28] daniloesk commented on #323
@3gwebtrain , you started doing it right by building a demo. Here are some points:
* The dependencies are in the wrong place of index.ejb. There are two blocks, one "dependencies" and other "your projects".
* Check if your '@ibo' in externals is not excluding your own code. I am not sure if this applies only to dependencies.

[2020-12-15 08:00] 3gwebtrain opened #324 "resolve.js:12 Uncaught (in promise) Error: Unable to resolve bare specifier '@ibo/root-config' from http://localhost:8080/"
I am getting an error as `resolve.js:12 Uncaught (in promise) Error: Unable to resolve bare specifier '@ibo/root-config' from http://localhost:8080/` while I start my `root` app.
But when I visit `http://localhost:8080/ibo-root-config.js` - it provides the `js` file with coding.

do not know the issue. any one help me?
here is my `webpack.config.js`:

[code]

here is my `index.ejs`:

[code]

packa

[2020-12-15 10:12] daniloesk commented on #324
You build the `Index.ejs` yourself or cut much of the generated one. Start over with a generated one and take one piece at a time. Webpack doesn't seem to be involved.

[2020-12-15 10:20] VictorMontenegro commented on #316
Sorry, can you try this?:

1.- Install differents application. Execute npm install in folders:
     1.- microfrontends/
     2.- microfrontends_angular_11/
     3.- shell/
2.- Serve the different applications. Execute npm startin folders:
     1.- microfrontends/
     2.- microfrontends_angular_11/
     3.- shell/
3.- Browse to http://localhost:9000/

Also, I uploaded a video to show the example w

[2020-12-15 10:59] 3gwebtrain commented on #324
I am not clear with your answer. can you please add more details to understand?

[2020-12-15 14:40] filoxo commented on #324
Is `isLocal` being evaluated to `true` in your webpack config? If not, it will not be rendering the local import map where you have `@ibo/root-config` registered.

[2020-12-15 18:47] daniloesk commented on #317
I guess that for now we can work with that. =)
Here is an example for working asset URLs:
https://github.com/daniloesk/single-spa-examples/releases/tag/v20201211-app11

[2020-12-15 18:47] #317 closed

[2020-12-15 18:52] daniloesk commented on #303
Demo of sharing using entry, but still with duplicated code:
https://github.com/daniloesk/single-spa-examples/releases/tag/v20201215-entry

[2020-12-15 22:52] Laurianti opened #328 "Live Reload for Angular Frontend (configuration.entry['main'] should not contain the item '[...]sockjs-node' twice)"
Hi, I've created an Angular frontend, if I run:

`npm run serve:single-spa:example`

This script uses:

`--live-reload false`

Instead If I set:

`--live-reload true`

I get this error:

[code]

Why? I can serve the Angular frontend with "live reload"? Thank you

[2020-12-16 09:28] daniloesk commented on #303
Using webpack 5 `dependOn` seems a no go. It seems both the usual load method with import and providing a custom load are not supported yet: https://github.com/webpack/webpack/blob/10ad4e95b850bbe20019275fd1d364666c4b69ea/lib/javascript/EnableChunkLoadingPlugin.js#L71-L112

[2020-12-16 09:43] daniloesk commented on #303
https://webpack.js.org/guides/code-splitting/

I can pack but I can't use.

[2020-12-16 10:05] daniloesk commented on #303
splitChunks should work, right? Considering it is used by Angular to load lazy modules.

[2020-12-16 12:32] daniloesk commented on #303
Breaktrough on `dependOn` with webpack 5. There is no need for a @angular/common to lazy load @angular/core if it is loaded directly by the entry. The problem is that when using webpack 4 for the app (not the Angular builder), the load was in the wrong order. With webpack 5 the dependency graph is used and dependencies loaded in correct order.

Webpack 4: `System.register(["@angular/common", "@ang

[2020-12-17 12:47] lidenggao opened #325 "Builder 'single-spa-angular:dev-server' cannot be resolved."
### Question
I refer to the configuration here to complete the project
- https://single-spa.js.org/docs/ecosystem-angular/#angular-6
- https://single-spa.js.org/docs/ecosystem-angular/#manual-installation

[code]
When I run the command 'npm run serve:single-spa:pms'，Get the error message：
[code]
### Environment

<pre><code>
Libs:
- Angular CLI: 6.2.7
- Node: 12.18.4
- OS: win32 x64
- Angular: 6.1.

[2020-12-17 16:54] daniloesk commented on #303
OK, solved the duplication problem by using multiple projects. It is a bit ugly but works really well with Ivy on and webpack 4.
Here is the example: https://github.com/daniloesk/single-spa-examples/releases/tag/v20201217-importmap-ivy

@joeldenning , any chance of a project like esm-bundle for that? LOL
Does esm-bundle builds automatically whenever let's say rxjs releases?

Can this thread be clo

[2020-12-18 18:42] daniloesk commented on #303
This also handles #268 ?

[2020-12-18 18:53] daniloesk commented on #321
Taking a new look into this, it is the same problem as #303. It can be solved using import maps or module federation. For import maps, you can have Ivy on or off. The first required more work. Here are demos:

https://github.com/daniloesk/single-spa-examples/releases/tag/v20201215-importmap
https://github.com/daniloesk/single-spa-examples/releases/tag/v20201217-importmap-ivy

Of course they are no

[2020-12-18 18:58] daniloesk commented on #325
The doc link in your post says "Angular 6 is supported by single-spa-angular@3" and it seems you are using ^4.0.0.

[2020-12-18 21:47] joeldenning commented on #328
I transferred this issue to single-spa-angular. I was the one who originally implemented this, but it was maybe 3 years ago so I don't remember the details. My basic understanding of why `live-reload` is set to false is that Angular CLI's wepback config is very rigid in its assumptions and live reloading maybe changed the webpack entry in such a way that the main.ts exports were lost. I won't have

[2020-12-18 22:10] joeldenning commented on #328
Here's a discussion where someone else was facing the same issue:

https://single-spa.slack.com/archives/C8R6U7MT7/p1608216112406100

[Slack Join Link](https://join.slack.com/t/single-spa/shared_invite/zt-jy1x8x93-52Tth0fZBUzZmHcEpWw2Jg)

[2020-12-21 13:30] arturovt commented on #325
@lidenggao as @daniloesk has mentioned you're using incompatible versions of Angular and single-spa-angular. Please, downgrade to the single-spa-angular@3. I'm closing it as "not an issue", feel free to re-open if I'm missing anything.

[2020-12-21 13:30] #325 closed

[2020-12-23 04:58] mattsmith-finocomp commented on #316
I have what sounds like a similar issue. I have an application which has two React applications and and one Angular 11 application. Navigating away from the Angular application keeps the application mounted and throws this error in the console:

![image](https://user-images.githubusercontent.com/67079762/102960847-fa034180-4536-11eb-97bf-07412d15a232.png)

I should also note that I am using module

[2020-12-23 05:02] mdsmith00 commented on #316
I have what sounds like a similar issue. I have an application which has two React applications and and one Angular 11 application. Navigating away from the Angular application keeps the application mounted and throws this error in the console:

![image](https://user-images.githubusercontent.com/2611203/102961249-ec9a8700-4537-11eb-8590-52f860978828.png)

I should also note that I am using module

[2020-12-28 17:25] TheColorRed opened #330 "Page Refresh causing items to load in body element instead of designated element."
### Demonstration

1. Load root `/`
2. Navigate to page that triggers the microservice to load
3. Reload the page <kbd>F5</kbd>

### Expected Behavior

When reloading a page that has a microservice the service should load in the same spot.

### Actual Behavior
When I navigate to a page single spa loads the microservice correctly:

![image](https://user-images.githubusercontent.com/1571806/10323124

[2020-12-28 18:19] TheColorRed commented on #330
I have added the following to my `main.single-spa.ts` file:
[code]

This works, however when reloading the page, it cannot find the element.

How would I get a dom element that is loaded lazily?

[2020-12-28 19:57] TheColorRed commented on #330
If there currently isn't a way to do this, maybe something like this would work?

https://github.com/single-spa/single-spa-angular/blob/e582c4a356d7e23a994b54dc1ff20f21c4896866/libs/single-spa-angular/internals/src/dom.ts#L7
[code]

https://github.com/single-spa/single-spa-angular/blob/e582c4a356d7e23a994b54dc1ff20f21c4896866/libs/single-spa-angular/internals/src/dom.ts#L36
[code]

[2021-01-11 10:39] daniloesk commented on #330
Sorry for not having time to take a deep look into your problem, but by my quick peek I understand you are using an Angular app as root-config instead of an agnostic HTML/JavaScript one. And then I am betting on tag name conflicts: `app-root` and `router-outlet` tags both in root-config app and Angular microservice.

[2021-01-13 14:21] Abhishek-Kanitkar commented on #183
I am also facing this issue after using ng add single-spa-angular

Can you please tell when will it get resolved ? For now I have to reinstall node modules.

[2021-01-14 04:32] Abhishek-Kanitkar commented on #59
I am trying to migrate an existing Angular 10 project to single spa micro frontend.

My image urls in .scss files are trying to point to the root application than the micro app.

background: url('/assets/images/login_bg.png') no-repeat center center fixed;

Can you please help in resolving this issue ?

What is concrete solution for this ?

rebaseRootRelativeCssUrls is now deprecated  ;(

@Stephen

[2021-01-15 04:00] mattsmith-finocomp commented on #316
I was at least able to solve my issue by importing the `BrowserAnimationsModule` within my `app.module.ts` - https://github.com/mdsmith00/single-spa-module-federation-react-and-angular/commit/c618be67c4651ccd985db4cbb7cebfd19f5004b4

[2021-01-15 18:27] joeldenning commented on #183
As noted in the Readme, this project needs new maintainers. I do not work on it anymore - there are a couple maintainers who help do so but we can't promise a timeline for the fix. Feel free to send in a pull request yourself to fix it.

[2021-01-15 18:28] joeldenning commented on #59
I can provide no guidance here, as I don't know Angular very well

[2021-01-18 02:51] hiskuDN opened #331 "Getting a Uncaught Error: application 'angular' died in status SKIP_BECAUSE_BROKEN: "Failed to load app.component.html" when I try loading a simple angular component"
Here's a screenshot of the issue and I'm using Angular 6 with React
![image](https://user-images.githubusercontent.com/18376750/104867127-785ed200-5983-11eb-88c2-b917870c6b83.png)

[2021-01-18 03:04] frehner commented on #331
Have you gone to the url in the warning message and tried the recommendations there?

[2021-01-18 05:48] 3gwebtrain commented on #303
I am trying to run after installation, getting error as:

`builder11` :
[code]

`builder11` :

[code]

what is the correct way to start the app?

[2021-01-19 11:15] ThielChristoph commented on #328
@joeldenning
the slack invitation link is not working anymore. Could you setup a new one?

[2021-01-19 21:43] joeldenning commented on #303
@daniloesk Yes, I started work on this a long time ago but was doing it with rollup which doesn't work since angular compiler only works with webpack. I hope to switch over the esm-bundle repos for angular to webpack and then have those available that way. If you have interest in helping implement that, let me know. See the following links:

https://github.com/esm-bundle/angular__core
https://gith

[2021-01-21 18:47] aggiustino opened #332 ""ng add single-spa-angular" is failing on Angular 11.1.0"
Running `ng add single-spa-angular` on a freshly created Angular App using Angular CLI, is causing an exception:

[code]

`@schematics/angular/utility/config` has been moved since `@schematics/angular@11.0.1`.

[2021-01-21 22:56] joeldenning commented on #332
cc @arturovt.

@aggiustino do you know where `utility/config` was moved to?

[2021-01-21 23:04] arturovt commented on #332
I’ll have a look tomorrow.

[2021-01-21 23:29] aggiustino commented on #332
@joeldenning This have been moved from `packages/schematics/angular/utility/config.ts` → `packages/schematics/angular/migrations/update-6/config.ts`.

This is the commit: https://github.com/angular/angular-cli/commit/7e25cedd4b0a7f38de5d46dc4cbbecfd8da524a8?branch=7e25cedd4b0a7f38de5d46dc4cbbecfd8da524a8

[2021-01-22 22:40] arturovt commented on #332
Honestly saying they do too much refactoring each patch and minor release.

I didn't re-write a lot of code since that would break backward compatibility with previous versions. They re-wrote schematics in Angular 11 and the "direct" workspace access is deprecated right now. This will require a lot of refactoring.

I guess I'll do that refactoring with Angular 12 since 11 still keeps backward comp

[2021-01-23 00:28] #332 closed

[2021-01-23 00:34] joeldenning commented on #332
Fix released in https://github.com/single-spa/single-spa-angular/releases/tag/v4.9.2

[2021-01-27 13:39] Gorgho commented on #324
Your start script dont put env to local, try "--env.isLocal=true". Or if you use local only remove (isLocal) conditions. Your local import map seems not be rendering baseated in your files.

[2021-02-03 16:03] stuartcargill opened #334 "Navigation gets cancelled whenever a route change occurs on initial load"
Hi

I have a large application which runs 2 Angular MFE’s at the same time (nav mfe and a primary mfe)

This app has dynamic email links sent out to users.  Upon opening these links, both angular mfe's bootstrap and the primary mfe calls an API to figure out what action the user wants to take (.e.g a password reset or email verify).  The API call is quite lightweight and navigates the user to the

[2021-02-04 06:50] chenji336 commented on #113
single-spa-anggular 4.x this question.how to fix infinite loop by single-spa-angular 3.x ?

[2021-02-04 09:19] bullypb23 opened #335 "Can't add react application in angular as parcel app"
Hi,

I am trying to use a single spa framework in my project and I want to build react and angular parcel apps and use them in angular and react applications as parcels. I have a problem with adding react application to angular as parcel app and I keep getting this error.

![image](https://user-images.githubusercontent.com/55666396/106870715-b5d89480-66d1-11eb-8475-40b47961112d.png)

My angular ap

[2021-02-04 11:40] mohamedalijinnah opened #336 "Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema."
I'm facing issue after converting my angular 11 application to micro front end.

Followed this https://single-spa.js.org/docs/ecosystem-angular#angular-11

After installing the single-spa-angular package when i do ng serve i get

![image](https://user-images.githubusercontent.com/43814278/106887822-b5f58600-670b-11eb-9a5e-1b673f7470d5.png)

[2021-02-04 14:30] filoxo commented on #335
The problem is that you're using a relative import (`import { bootstrap, mount, unmount } from '../../../react-test/src/thingsolver-react-test'`). This is not how Parcels work.

First, you cannot import a React component directly into your Angular application. By using a relative import, that React component is being pulled into your Angular application and put through Angular's Webpack build pipe

[2021-02-04 15:08] filoxo commented on #336
Duplicate of #328 which is still unresolved.

[2021-02-04 15:08] #336 closed

[2021-02-04 15:17] bullypb23 commented on #335
Thank you for your response. Now I get this error. Do I need to change webpack config for my route angular application?

![image](https://user-images.githubusercontent.com/55666396/106913659-82632d80-6704-11eb-8a40-f186b2d7ce4b.png)

[2021-02-04 15:28] filoxo commented on #335
You need to do two things:

1. Ensure that that package is in the `externals` array of your webpack config so that webpack knows that it should not try to bundle that module into your application, and
2. Obtain types for it somehow so that TypeScript will allow it to compile; the options for this are described in these issues
    - https://github.com/single-spa/single-spa/issues/609#issuecomment-6

[2021-02-04 15:50] bullypb23 commented on #335
Thank you @filoxo very much, you solved my problem. If I would have any questions in the future regarding this same problem I would ask them here.

[2021-02-04 16:00] filoxo commented on #335
Glad you were able to get it working! I'm going to ahead and close this issue. Feel free to reopen if you encounter more bugs/issues, and you can always ask questions in the [Slack channel](https://join.slack.com/t/single-spa/shared_invite/zt-l2iljnpv-pW_o92mMpMR8RWfIOI6pTQ) too.

[2021-02-04 16:00] #335 closed

[2021-02-04 18:18] joeldenning commented on #113
single-spa-angular@3 doesn't have it fully fixed - see https://github.com/single-spa/single-spa-angular/pull/235/files#diff-d41e9b77a99ac86d9908fc97b9df8578479c310a0fe85f632f375b2d9e95f39cR202. We need to make a corresponding change in the 3.x branch to fix it. Would you be interested in submitting a pull request with it?

[2021-02-05 19:50] troissant opened #337 "Angular Modal Parcel Example"
Hi Everyone,

I'm developing a large scale application using MFE's at my job and we've encountered a little problem with 2 of our micro fronts.

1- Menu Micro Front
2- Info Micro Front

The problem is:

At the Menu Micro Front we have a Angular Material Card  (Mat-Card) who has an icon on it, the expected behaviour is when the user clicks on it, it should call the Angular Material Dialog (Mat-Dial

[2021-02-09 13:16] bullypb23 opened #338 "Passing custom props from Angular application to React parcel"
Hi,

How can I pass random props from angular application to react parcel application inside?

![image](https://user-images.githubusercontent.com/55666396/107368781-46074700-6ae1-11eb-9202-f2421c27b68a.png)

![image](https://user-images.githubusercontent.com/55666396/107368875-5ddecb00-6ae1-11eb-8386-4a4f8dbaef99.png)

[2021-02-09 17:45] joeldenning commented on #338
The `customProps` binding is the way to pass custom props to parcels. See https://github.com/single-spa/single-spa-angular/blob/f64a5bd07d83de3d1c962c9736460fe4dede9fd4/libs/single-spa-angular/parcel/src/parcel.component.ts#L28, https://github.com/single-spa/single-spa-angular/blob/f64a5bd07d83de3d1c962c9736460fe4dede9fd4/libs/single-spa-angular/parcel/src/parcel.component.ts#L43, and https://gith

[2021-02-10 08:26] bullypb23 commented on #338
Hi,

Still can't access `customProps` in react parcel app. I deleted random value from the picture above. My react parcel app looks like this:

Root.component.js
![image](https://user-images.githubusercontent.com/55666396/107483786-d6956400-6b81-11eb-9f5c-2d1fab321403.png)

react-test.js
![image](https://user-images.githubusercontent.com/55666396/107483838-e7de7080-6b81-11eb-8e2d-1527b66c8fa8.png)

[2021-02-12 19:57] joeldenning commented on #338
I've created https://github.com/single-spa/single-spa-angular/pull/339 which demonstrates that props are passed successfully.

![image](https://user-images.githubusercontent.com/5524384/107816380-e81d6e00-6d31-11eb-9c68-78ccd0b6b096.png)

[2021-02-12 20:10] joeldenning commented on #338
Closing this since #339 demonstrates that custom props are working.

[2021-02-12 20:10] #338 closed

[2021-02-14 00:52] bhargavr445 commented on #62
I am working on a project with micro-services architecture, currently I have 3 projects
1. root-config(This is where I register all my microservices based on the route, microservice will load on to the DOM).
2. app1(this is in angular, when I see localhost:9000/app1 I am able to load the app, but when I want to do routing with in app1 ie localhost:9000/app1/employee I dont see routing is working)

[2021-02-15 17:20] joeldenning commented on #62
Hi @bhargavr445, could you create a separate Github issue with a demonstration of the problem? Also, you can join our [single-spa slack workspace](https://join.slack.com/t/single-spa/shared_invite/zt-l2iljnpv-pW_o92mMpMR8RWfIOI6pTQ) which has lots of people who can try to help you figure out the problem.

[2021-02-15 23:52] zalito12 commented on #59
Hi! In case anyone has reached this issue with no solution, option 1 from @joeldenning works well for local development:
[code]

But after build if you are using ``--deploy-url`` different from root, like me, webpack generates assets twice and the final url on css is not well calculated. As  I'm using pure css the only solution I found was to add a string replacer for webpack css loaders
[code]
[c

[2021-02-16 09:44] bullypb23 commented on #338
Thank you @joeldenning for your response. I was able to solve this. The problem was that I named the props that I wanted to pass to parcel component name and that props name is already taken and when I changed the name of the props it worked. :D

[2021-02-16 17:18] Abdelrahman-H-Mahmoud commented on #92
I was able to do something like this I made a small demo find it in this [repo](https://github.com/Abdelrahman-H-Mahmoud/single-spa-demo) and find the commits with the changes I made [here](https://github.com/Abdelrahman-H-Mahmoud/single-spa-demo/commit/e2f0fa7d18c49df54831b4c96264f5b3184c9f35)

[2021-02-17 15:35] DmitryBrus commented on #316
Same here, adding into `BrowserAnimationsModule` within my `app.module.ts`  **resolved the issue**
I've two apps: angular 10 and 11 with systemjs loader.

[2021-02-25 03:40] diangongdianzi opened #340 "ERROR in getInternalNameOfClass() called on a non-ES5 class: expected SingleSpaPlatformLocation to have an inner class declaration"
### Demonstration
The preceding error is reported when target is set to es5 in the tsconfig.json file.

### Expected Behavior

### Actual Behavior

[2021-02-25 08:49] Mr-OldWang commented on #183
when I reinstall the node_moudule, and run again I still have a issue like below
`  portal git:(master) ✗ npm run serve:single-spa

Option "deployUrl" is deprecated: Use the "deployUrl" option in the browser builder instead.
    Warning: --deploy-url and/or --base-href contain unsupported values for ng serve. Default serve path of '/' used. Use --serve-path to override.
Warning: Running a server w

[2021-02-25 11:51] wudith commented on #204
Yes, I agree. The size does not change much.

[2021-02-25 13:06] ayyappamaddi commented on #204
@arturovt , @wudith , sharing modules works in Angular 8 as well?

[2021-02-25 14:29] filoxo commented on #337
We provide a very basic Angular Parcel here: https://single-spa.js.org/docs/ecosystem-angular/#parcels
It's not as specific as you're asking but we can't provide custom solutions or cover every single use case.

[2021-02-26 05:18] joeldenning commented on #337
Also here's another parcel example: https://github.com/single-spa/single-spa-angular/tree/master/apps/parcel.

Agreed with @filoxo - we can't create an example for every situation.

[2021-02-26 05:18] #337 closed

[2021-02-26 05:19] joeldenning commented on #340
Please provide a repository that demonstrates the issue.

[2021-02-26 05:19] #340 closed

[2021-02-26 15:14] Booster2ooo opened #341 "Broken default app"
### Demonstration

Create a new angular app with `npx create-single-spa --moduleType app-parcel`.
- Directory for new project **.**
- Which framework do you want to use? **angular**
- Project name (can use letters, numbers, dash or underscore) **sample**
- Do you want to enforce stricter type checking and stricter bundle budgets in the workspace? **Yes**
- Would you like to add Angular routing? **

[2021-02-28 03:26] arturovt commented on #331
This seems like there is something wrong with your configuration. Could you provide a minimal reproducible example?

[2021-02-28 03:32] arturovt commented on #341
Could you provide a minimal reproducible example?

The error description seems to be obvious, you have to provide `APP_BASE_HREF` value.

[2021-02-28 10:41] Booster2ooo commented on #341
I'll do but as I described, it's just the "out of the box" app, I didn't touch a single line.

[2021-02-28 15:17] arturovt commented on #341
I ran your example and as I said the error is obvious. You have to `provide: APP_BASE_HREF`. More information in our guide https://single-spa.js.org/docs/ecosystem-angular/#routing.

![image](https://user-images.githubusercontent.com/7337691/109423600-bc181300-79e8-11eb-9f29-0f851a8546d0.png)

[2021-02-28 15:32] arturovt commented on #334
I'm not sure we can do anything w/o reproducible example. In general, I do not understand something very well from the screenshots.

Well, the navigation gets cancelled when somebody calls `navigateByUrl` (and not because navigation id doesn't match). It's called manually during the initial navigation by Angular when it bootstraps the module for the first time and when `popstate` event is dispatch

[2021-02-28 16:15] Booster2ooo commented on #341
Thank you for clarifying, I mixed up `APP_BASE_HREF` and `BASE_HREF`. In despair, I was trying to provide them both as static providers in `platformBrowserDynamic` but it didn't work, obviously.

As the CLI asks if the user want to rely on Angular routing, maybe it would be nice to add a warning or a clear message about this. I saw `For further routing setup, see https://single-spa.js.org/docs/eco

[2021-02-28 16:18] arturovt commented on #341
Umm, that makes sense. @joeldenning what do you think? Should we show that message during setup?

[2021-02-28 22:46] arturovt commented on #341
@Booster2ooo could you have a look at this (https://github.com/single-spa/single-spa-angular/pull/343) PR? I'm not a native speaker so it'll be great if someone corrects the message.

[2021-03-01 08:08] Booster2ooo commented on #341
I'm not a native speaker neither so I'm not the best suited for this review. I think I would let go with "the" and "therefore an":

Warning: Since ~~the~~ routing is enabled ~~therefore an~~ additional manual configuration will be required, see https://single-spa.js.org/docs/ecosystem-angular/#configure-routes

But that's a detail, thanks for this new feature :)

[2021-03-01 18:38] joeldenning commented on #331
This looks like you're loading html at templates at runtime - generally this is not done in Angular projects so it might be related to that.

[2021-03-01 18:42] joeldenning commented on #341
Agreed about the small grammar changes - I've reviewed the PR. Thanks @arturovt for your help with this.

[2021-03-01 19:29] #341 closed

[2021-03-06 22:55] chrys-exaucet commented on #303
any insight on @3gwebtrain 's question so far?

[2021-03-07 19:56] arturovt commented on #296
Hey @saravanavel891

Closing this issue since the reproducible example is not provided and I'm not able to debug it.

Feel free to re-open when you have an example.

[2021-03-07 19:56] #296 closed

[2021-03-07 20:06] arturovt commented on #177
Hey @dmeagor

It's been a long time since this issue has been inactive. I really wish to help you but unfortunately I didn't get enough information.

Feel free to re-open it if you have something to add.

[2021-03-07 20:06] #177 closed

[2021-03-08 12:03] chrys-exaucet commented on #328
Sorry to reopen this, but the slack link doesn't work. I can't see how y'all did to fix the issue.

I am facing the exact same one. No matter how the live reload is set ( true or false).

Here's the stack trace:

[code]

[2021-03-09 00:04] arturovt commented on #204
@tommueller @wudith well, I've decided to check.

This is **before**:

![image](https://user-images.githubusercontent.com/7337691/110398023-9f7c7a80-807b-11eb-8252-25b2c3b308b7.png)

This is **after**:

![image](https://user-images.githubusercontent.com/7337691/110398103-d5216380-807b-11eb-97d8-f72b3acc5b17.png)

[2021-03-09 10:51] arturovt commented on #204
@tommueller I just made a type and missed `{}` after `reduce` accumulator :D

[2021-03-09 11:25] tommueller commented on #204
@arturovt When I now load the application with the externals configured (and the small bundle size) I run into: `http://localhost:4201/main.js module could not be loaded! Error: Unable to resolve bare specifier 'ng,core' from http://localhost:4201/main.js (SystemJS Error#8 https://git.io/JvFET#8)
    at system.min.js:4`

[2021-03-16 04:48] Sotatek-KhoaPham commented on #328
I met the same issue when I used "@angular-builders/custom-webpack": "11.1.1", with details:
An unhandled exception occurred: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.entry['main'] should not contain the item 'D:\doan\category\node_modules\webpack-dev-server\client\index.js?http://0.0.0.0:0&sockPath

[2021-03-22 09:44] chrys-exaucet commented on #328
@joeldenning , @filoxo,

We're sorry to bother. The issue prevents us from moving on. Would you mind giving us a clue?

[2021-03-22 09:47] khoapham-prive commented on #328
I fixed it by add  "--live-reload false" to the start script
"scripts": {
    "ng": "ng",
    "start": "ng serve --port 4201 --live-reload false",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e",
    "build:single-spa:category": "ng build category --prod --deploy-url http://localhost:4200/",
    "serve:single-spa:category": "ng s --project category --disa

[2021-03-22 10:00] chrys-exaucet commented on #328
Thanks, @Sotatek-KhoaPham , I'm going to try that. Did not add it to the `start ` srcipt.

[2021-03-22 14:50] nicknasirpour commented on #113
Hi @chenji336 @joeldenning I will submit a pull request sometime this week implementing the fix for the 3.x branch.

Something of note is that this solution in single-spa-angular alone won't solve 100% of issues.

I have a base project, which is an angular module, where singleSpa.start() is called. My parcels are subsequently mounted onto a component of this project. In the base project, during th

[2021-03-24 10:06] engg-aruny commented on #340
Is this issue resolved. I have same problem on installing "single-spa-angular": "4.9.2" to existing project.
Compiling single-spa-angular/parcel : module as esm5
Warning: Invalid constructor parameter decorator in C:/xx/xx/xx/multiple-microfrontends/xx/node_modules/single-spa-angular/fesm2015/single-spa-angular-parcel.js:
 () => [
    { type: ElementRef }
]

[2021-03-24 14:44] engg-aruny opened #346 "ERROR in getInternalNameOfClass() called on a non-ES5 class: expected SingleSpaPlatformLocation to have an inner class declaration"
**When running with tsconfig.json -> "target": "es2015"** -> It compiling everything

**When running with tsconfig.json -> "target": "es5"**  ->  Error: Error on worker #2: Error: getInternalNameOfClass() called on a non-ES5 class: expected SingleSpaPlatformLocation to have an inner class declaration

Here is package.json, I have.

![image](https://user-images.githubusercontent.com/12406373/112333

[2021-03-24 23:30] joeldenning commented on #346
The single-spa-angular library does not publish es5 bundles to npm. See https://www.jsdelivr.com/package/npm/single-spa-angular:

![image](https://user-images.githubusercontent.com/5524384/112396386-a7682b80-8cc5-11eb-8c8c-de7612cd8b40.png)

Notice how `fesm2015` and `esm2015` are there, but `fes5` and `es5` are not.

The reason that single-spa-angular does not publish es5 bundles anymore is becau

[2021-03-24 23:30] #346 closed

[2021-03-25 10:52] engg-aruny commented on #346
Thank You prompt response.

[2021-03-29 18:53] dfealves opened #347 "Angular + Single SPA - micro parcel with wrong behavior"
Hello guys,

I'm trying to add a parcel micro-app inside another micro-app, but the behavior is incorrect, I made a screen recording to better exemplify

[Video Angular + Single SPA](https://drive.google.com/file/d/1CG4yWuHRrMo0LthPy7vjISGcxN8ljD1L/view)

![Captura de tela de 2021-03-25 17-16-20](https://user-images.githubusercontent.com/19229569/112537816-e3ff5a00-8d8d-11eb-80ca-81c93f89290b.png)

[2021-03-30 15:46] ranjeettamil opened #348 "History is not clearing when switching between app."
### Demonstration
Hi Team,

I am spiting angular application in to MFE, I have 3 MFE (header, dashboard, footer).
I facing issue on route old content not removing when we switch between apps.  When i am going to new route existing route data is not clearing and new data is not loading. I attached gif image for your reference. please check

![routing-issue](https://user-images.githubusercontent.com

[2021-03-31 14:57] scottfwalter opened #349 "Angular 11 Shared Library - NullInjectorError: No provider for N_!"
I am trying to get shared angular libraries to work but get this stack trace:

[code]

My import map looks like:
[code]

Root config:
[code]

My web app extra-webpack-config.js
[code]

This is what my network requests look like
<img width="829" alt="Screen Shot 2021-03-31 at 9 53 58 AM" src="https://user-images.githubusercontent.com/1752854/113165365-7dec5a00-9207-11eb-97ec-308d9826f812.png">

[2021-04-08 14:02] stuartcargill commented on #334
@arturovt  - I tried your suggestion but couldn't figure out the issue.  In the end up, I converted my nav MFE from Angular to React and this fixed my problem..

[2021-04-08 17:12] lqc commented on #349
I have this exact same problem. Everything works fine if Angular is packed with the app, but after moving to shared system.js import, the bootstrap function fails.

[2021-04-12 16:14] scottwalter-nice commented on #349
Based on my network traffic screenshot above.  main.js is retrieved before any of the angular libraries.  I wonder if that is part of the issue.

[2021-04-13 20:16] Jadamae77 opened #350 "Angular Router and Route Resolvers interaction when using Single-spa"
### Question

How does the Router and Route Resolvers interact with the various apps tied together by single-spa? I have a few resolvers in some of my microfrontends, and I am facing an issue where the user initiates a route but if while the data is resolving they navigate to another view, once the data is received from the server they will be forced back to the first page they tried to access. To

[2021-04-14 08:08] mihirvadalia opened #351 "Back button weird behaviour"
Hi Team,

I have created root-config application and have 5 different applications developed in Angular.

These 5 Angular applications behaves like micro-frontends.

When we visits root-config applications, as per route configurations, angular app 1 is rendering.
Now using navigation, when we route to app2, and it also rendering successfully.

But now, when you click Browser back button, it should

[2021-04-14 18:42] joeldenning commented on #350
Each single-spa application is its own angular application, that is bootstrapped separately from all others. It's possible to have a shared instance of angular or to not have a shared instance. However, the applications are independent.

I do not know much about Angular router - generally it has been difficult to get to work with single-spa although my understanding is that it's in a pretty good s

[2021-04-14 19:09] arturovt commented on #351
@mihirvadalia could you provide a minimal reproducible example?

[2021-04-15 08:19] arturovt commented on #350
@Jadamae77 could you provide a minimal reproducible example?

[2021-04-16 18:17] Jadamae77 commented on #350
It's pretty involved...does this help at all?

The blue line at the top is a navbar in an app titled 'landing app', and everything else is part of an app titled 'manifest app'.

https://user-images.githubusercontent.com/63246953/115065331-00d60b80-9ebc-11eb-8e14-38bd47a24f84.mp4

The operation on the click is

          this.router.navigate([`app/manifest/${id}`]);

Resolver

            {

[2021-04-19 13:42] J-Yen commented on #349
I'm also unable to get a working example up and running with shared angular dependency. Same issue as this one or sometimes 'No provider for CompilerFactory!'

[2021-04-19 15:31] sylvester-x opened #352 "How to allow CORS when mount the micro frontend"
### Question

### Environment

Libs:
- @angular/core version: 10.0.6
- single-spa-angular version: 4.6.0
![image](https://user-images.githubusercontent.com/45072247/115262671-54b84d00-a167-11eb-8960-c6c3ad9a53b5.png)

Environment
-Docker with nginx