[2017-09-03 16:18] daniele-zurico opened #1 "angular2 router not deactivated"
Hi,
first of all great work!
I'm trying to use your example to see if this tool fit with my requirement and in the angular2 application I tried to add a simple router example. the angular 2 works great but when I try to switch to react (after angular2 has been loaded) it fail because angular2 is not unmounted and it try to find the path app1.

this is the repository that I created: https://github.

[2017-09-06 22:29] joeldenning commented on #1
See related https://github.com/angular/angular/issues/19079 and https://github.com/CanopyTax/single-spa/issues/115.

I think there is a bug in angular itself which is causing this.

[2017-09-11 18:25] mbanting opened #2 "No NgModule metadata found for 'AppModule'"
As always, thanks for the great framework and for putting together these starter kits.

I'm running into an error when attempting to use two Angular 2 based child apps that were implemented using the single-spa-angular2 starter kit.
When I navigate from angularApp1 -> angularApp2 -> angularApp1
both apps mount and render successfully the first time, but when navigating back to angularApp1 I get th

[2017-09-13 21:39] #1 closed

[2017-09-13 22:16] joeldenning commented on #2
Thanks for creating this issue and participating! And sorry it took me a couple of days to respond.

Could you provide a code sample or create a repo to help reproduce this? You could fork https://github.com/joeldenning/simple-single-spa-webpack-example as a place to start. It isn't  AngularJS and Angular2 coexist, but rather React and Angular. I'm curious if this is solely related to how you have

[2017-09-14 21:18] joeldenning opened #4 "[Brainstorm] Multiple versions of Zone JS and Angular for different child applications"
@daniele-zurico is the one who has been researching this the most. The basic problem is that if you want to have multiple versions of ZoneJS (one for each child application that uses Angular), we don't know of a way to do that. This is because ZoneJS creates a global variable `window.Zone` that would clash if you loaded the Zone library.

Note that the recommended approach is to have a shared vers

[2017-09-15 19:26] mbanting commented on #2
Hi there!

Following your suggestion, I forked the repo here: https://github.com/mbanting/simple-single-spa-webpack-example

- [_master_](https://github.com/mbanting/simple-single-spa-webpack-example) has a second Angular app added. Child apps are directly loaded via ES6 imports, as in the original repo.

- The [_multiple-angular-webpack-systemjs_](https://github.com/mbanting/simple-single-spa-web

[2017-09-20 16:51] joeldenning commented on #2
Thanks, I'll take a look and see if I can find the problem and put together a fix.

[2017-09-22 16:35] joeldenning commented on #2
@mbanting I fixed the issue and pull requested it into your forked repo. See https://github.com/mbanting/simple-single-spa-webpack-example/pull/1#pullrequestreview-64632075

[2017-09-22 17:17] joeldenning commented on #2
Closing now, feel free to reopen if my fix doesn't work

[2017-09-22 17:17] #2 closed

[2017-10-22 15:09] Slash7GNR opened #5 "Cannot load an angular cli project with single-spa"
Hey,
I've created a new project that gets a bundle.js file dynamically and loads it using single-spa and single-spa-angular2.
I could load a regular angular project and a vanilla JS project, but when I'm creating an angular cli project (using "ng new" angular cli command), building it and trying to load its bundle, I'm encountering errors when loading the bundle.js file (I'm using SystemJS.import

[2017-10-23 15:34] joeldenning commented on #5
Could you provide the stacktrace you get when SystemJS tries to load the bundle?

[2017-10-24 07:22] Slash7GNR commented on #5
So I've made some progress, and I still got some unsolved questions.
I have a project that get some JS that represents another project and it can load it into the browser. The source code of this project can be found [here](https://github.com/DanielKag/shell)
Now, I'm trying to make it load a real project we're having, but it was too complicated, so I wanted first to make it load an empty angular

[2017-10-30 16:46] joeldenning commented on #5
Thanks for the detailed explanation, that's very helpful.

#### First question

That's a tricky question to answer definitively. The performance impact of code splitting is an area that a lot of frameworks and community members are actively exploring. From what I have seen, the currently accepted answer is that route-based code splitting is probably good in a lot of cases, and that non-route-based

[2017-11-02 08:54] Slash7GNR commented on #5
@joeldenning Thank you so much!
So indeed the import 'reflect-metadata' was missing, but the real problem is that I accidentally excluded some files from the bundling process(I thought that I merged everything into the main bundle, but I didn't), such as the polyfills.ts file which contains this import.
We will try to investigate how to bundle our code to multiple files with the help of the webpac

[2017-11-03 00:04] joeldenning commented on #5
👍  No problem! Definitely reach out if you have further problems or questions.

You can also check out the following issues for more discussion and resources related to code splitting:
- https://github.com/CanopyTax/single-spa/issues/102
- https://github.com/CanopyTax/single-spa/issues/125
- https://github.com/CanopyTax/single-spa/issues/123

[2017-11-28 22:15] yavuztor opened #6 "PlatformLocation injection fails in Angular4 child application"
I have been trying to set up a single-spa main application and two angular4 children, one with routing and one without. The bootstrap for the child application is here: [https://github.com/yavuztor/single-spa-trial/blob/master/childapp2/app/bootstrap.ts](url).

When I open the main application, the child application without router (`childapp`) works fine, but the one with the router fails with err

[2017-11-29 14:05] xeii commented on #6
I think this might be related to my problem as well, I tried using angular version 5.0.3 and got

[code]

I already know this is related to this section from angular changelog:

`platformXXXX() no longer accepts providers which depend on reflection. Specifically the method signature went from Provider[] to StaticProvider[].`

[2017-11-29 19:40] yavuztor commented on #6
It turns out my issue had nothing to do with single-spa-angular2. I had the wrong versions of `@angular/platform-browser`, `@angular/platform-browser-dynamic`, and `@angular/core` [(see my package.json file here)](https://github.com/yavuztor/single-spa-trial/blob/8833455d2cbc8558f4cb0ccba19ad11e2bf4580e/childapp2/package.json#L18). There was a mixture of 5.0.2 and 5.0.3 versions. After I upgraded

[2017-11-29 19:40] #6 closed

[2017-11-29 23:16] joeldenning commented on #6
Glad to hear you got it figured out -- tbh I saw this yesterday and was going to dig into it until I saw the stacktrace and then realized it might take a lot of time and was hoping to get back to it today haha.

@xeii did you get your problem solved?

[2017-11-30 08:18] xeii commented on #6
No I didnt. I had problems with angular version 4 and tried running 5. I described my setup in another issue here: https://github.com/CanopyTax/single-spa-angular2/issues/2#issuecomment-347864894

What I am ultimately trying to achieve is what you described here: https://github.com/CanopyTax/single-spa/issues/126#issue-270846851

[2017-11-30 13:44] xeii commented on #2
I was able to solve this issue by excluding `reflect-metadata` when bundling child apps, and adding it as a common dependency on the root app side.

[2017-11-30 22:30] joeldenning commented on #2
@xeii glad to hear you fixed it! To try and help others who also have multiple angular child applications, I added a note in the Readme for this: https://github.com/CanopyTax/single-spa-angular2/blob/master/README.md#other-notes

[2017-12-20 15:59] Slash7GNR commented on #5
Hey @joeldenning
First of all I would like to thank you again for your willing to help! The single-spa framework and your support really helped us with many challenges we have had.

We have done some hands-on working in order to convert our applications to act as micro front-ends, under the single-spa framework. Moreover, we've done some brainstorming with our team and our architects, and we've go

[2017-12-26 15:28] robinComa commented on #5
Hello, I try to use single sap in order to build a portal for my client.
This portal should work like the google button to switch between apps.

We want to build our application thanks to angular 5 but we want to keep the opportunity to work with react or view.js later so single spa seems perfect to perform this.

We want put all the apps inside a single git repository to manage a single lifecycle

[2017-12-27 07:11] rivamadan commented on #5
Hi @Slash7GNR,
I'm also trying to get angular (I'm using 5) to import with SystemJS and I think we've been facing similar problems. Maybe we can help each other out.

I wrote made this issue about what I've faced / am facing: https://github.com/CanopyTax/single-spa/issues/133
I haven't been able to get code splitting to work yet, but I am close to getting it to work with everything in one bundle.

[2018-01-05 17:41] robinComa commented on #5
@Slash7GNR , I've forked the repo and add a sample here :
https://github.com/PlaceMe-SAS/single-spa-examples
You have to run the npm run build task to generate the apps (inside the angular-mf folder)
I do "ng eject" and use AMD to build my angular app.
The simple spa loader use requirejs to load and run it

I have a last issue that I want to solve yet : when I run the apps, it take the control of

[2018-01-08 09:56] area73 commented on #5
Hi @Slash7GNR, @rivamadan , I also made a fork at https://github.com/area73/single-spa-examples/tree/feature/angular5-demo
And at the begining I had  the same issue with going to another route after entering my new angular 5 app but I solved it , I can't remember what exactly did but you can have a look at that repo into angular5 witch is were the app resides.
But I think when you fix that you wil

[2018-01-08 22:16] joeldenning commented on #5
Glad to see you guys cooperating on this stuff! I'll take a look at https://github.com/CanopyTax/single-spa-examples/issues/24

[2018-01-08 22:41] joeldenning commented on #5
Also we just created a gitter room for single-spa, which I will be in along with a few others from Canopy who have a lot of experience with single-spa. Feel free to join and collaborate further there. https://gitter.im/single-spa/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2018-01-09 08:06] Slash7GNR commented on #4
Hey @joeldenning ,
Anything new with this issue?
Right now we have a requirement that we can have different application with different angular versions (for example, one app with angular 4 and another with angular 5), we have this requirement to let different teams to upgrade angular versions in their own comfortable time.
I researched this issue a bit in the micro-frontend world, and it seems tha

[2018-01-09 15:30] robinComa commented on #5
Hi!

I just manage to load dynamicly a builded angular 5 project to integrate it inside the single SPA example. My exemple has 2 routes and one of it is a lazy loading of a module! (but not lazy loaded inside single SPA ;-)
It is possible to develop and serve with the cli and on a same time on single SPA.
[The repo is here](https://github.com/PlaceMe-SAS/single-spa-examples)
[have a look on the cl

[2018-01-09 23:13] robinComa commented on #5
I just create a better impl with 2 angular apps lazy loaded and serve by the cli :
[2 angular cli apps branch ](https://github.com/PlaceMe-SAS/single-spa-examples/tree/tech/multi_angular_mf_apps)

With a better impl of the chain angular cli loading :
[bootstrap fn](https://github.com/PlaceMe-SAS/single-spa-examples/blob/tech/multi_angular_mf_apps/src/util/single-spa-angular-mf.js)

You have a full

[2018-01-10 23:43] joeldenning commented on #5
@robinComa that's awesome! Especially the documentation!

Would you be interested in submitting a pull request to this project (single-spa-angular2) that adds your new documentation? Thanks for putting all of that together!

[2018-01-10 23:47] joeldenning commented on #4
Yeah, iframes would solve this, although there is at least one company doing so that deeply regrets it because of the performance implications. cc @leandromiranda

Is it possible to have multiple versions of Angular but only one shared zone.js instance? Or are there frequent breaking changes with Zone.js that would prevent that?

If that is possible, that is the place I would start, I think.

[2018-01-15 15:03] robinComa commented on #5
Hello,

Yes, but I think it is not really the same apps, for the moment single-spa-angular2 do the compilation and mine not.
I thonk a new repo called single-spa-angular-mf (mf for micro frontend) will be better to have the choice between both.

What do you think? (I could do it at the end of this week inside my group name for the moment)

[2018-01-20 16:39] robinComa commented on #5
Hello @joeldenning
I'm happy if you like it!

**Global var :**
It is me who create the global variable because since angular 2, angular want to remove global access.
I'm don't like this way to put up (and down) the application, but I didn't manage to find another solution.
It is [here](https://github.com/PlaceMe-SAS/single-spa-angular-cli/blob/master/src/single-spa-angular-cli-platform.ts#L17).

*

[2018-01-21 10:01] robinComa commented on #4
I think there is no problem to share one version of zone.js. It don’t often change.
It is what I’ve done here :
https://www.npmjs.com/package/single-spa-angular-cli

[2018-01-21 16:24] joeldenning commented on #5
Awesome! Thanks for all the work. I will add links to single-spa-angular-cli and single-spa-angular-cli-examples to the readme here at single-spa-angular2 and [in the single-spa docs for frameworks](https://github.com/CanopyTax/single-spa/blob/master/docs/single-spa-ecosystem.md#help-for-frameworks).

@Slash7GNR @area73 have you seen @robinComa's work on this? Does it work well for you guys, too?

[2018-01-22 20:52] area73 commented on #5
@joeldenning I haven't got time to check it deep but looks promising to me :)

[2018-01-24 17:14] adrianromanko commented on #4
There will always be js libraries that force themselves into the global namespace such as zone.js.
Angular 2/4 releases should be paired with a specific version of zone.js and we cannot assume that the root container will have backwards compatibility for future releases.
This is something that needs to be resolved going forward if we want multiple micro frontends to coexist  and be properly scoped

[2018-01-24 18:17] joeldenning commented on #4
@adrianromanko do you have any ideas for how to get two separate versions of ZoneJS working together on the same page?

[2018-01-25 00:20] joeldenning commented on #5
I'm going to close this for now -- feel free to comment and reopen with further discussion. Hopefully [@robinComa's repo](https://github.com/PlaceMe-SAS/single-spa-angular-cli) will prove useful for people using angular-cli

[2018-01-25 00:20] #5 closed

[2018-02-27 20:30] adrianromanko commented on #4
Using iFrames would be the only workaround. Expose an event bus or API for the root SPA that would essentially be a bunch of event handlers for the child apps. I'm aware of a few issues with iframes (resizing, blurry after rendering. What would you say are the biggest trade offs?

[2018-02-27 22:53] daniele-zurico commented on #4
To fix the zoneJs problem the only way you have is to import it in the main app the latest version of zoneJs and exclude from the compilation of the children app zoneJs.
Until now zoneJs didn’t create breaking changes but everyone know that it could happen and at that point you can’t upgrade anymore.
If you go with a iframe solution I suggest you to look on comlink (from google) that wrap post mes

[2018-02-28 23:10] joeldenning commented on #4
I have consulted with a company that went the iframes approach and regrets it because of performance -- I think that having one instance of ZoneJS shared across all applications is much more performant than iframes.

[2018-08-13 21:55] jameelvm opened #10 "Unable to load component style url for loading the scss"
I have loaded successfully the single spa angular , but when I specify the style url I am getting the below error at runtime. Do I need to specify anything webpack? How can I resolve this issue?

**Component**
[code]
**Error**
[code]

My Webpack Configuration
[code]

[2018-08-22 15:17] jameelvm commented on #10
Closing issue..

[2018-08-22 15:17] #10 closed

[2018-11-08 12:40] danutzcodrescu opened #11 "Dependency injection with Angular 7 not working"
Hello,

I have a problem with dependency injection in any component, using angular 7. For instance let's have a look at injecting Router.

angular.app.ts:
[code]

main.module.ts:
[code]

edit-book.component.ts:
[code]

Each time when I do any kind of dependency injection I get the following error: `Uncaught Error: Application 'angular' died in status NOT_MOUNTED: Can't resolve all parameters for E

[2018-11-08 22:40] frehner commented on #11
One possibility is to try and use [single-spa-angular-cli](https://github.com/PlaceMe-SAS/single-spa-angular-cli) which appears to have better support for newer versions of Angular.

[2018-11-22 16:30] #11 closed

[2018-11-27 21:58] clpalmer opened #12 "Angular app bootstrapped with platformBrowserDynamic bundles compiler.js"
Been trying to dive through this for some time now, but running into a bit of a dead end, as my deep understanding of some of this stuff is limited.

My bundle size is getting rather large, and a huge chunk of it is Angular's compiler. This seems to only be required because I'm using platformBrowserDynamic instead of platformBrowser. If I flip that over, it drops out and ends up being 460+kB small

[2018-12-05 23:11] joeldenning commented on #12
Are you seeing an error when you pass in platformBrowser as the `angularPlatform`? I see that [we require an angularPlatform to be passed in](https://github.com/CanopyTax/single-spa-angular/blob/master/src/single-spa-angular.js#L22), but we definitely allow for a different platform than platformBrowserDynamic.

Also, if you could provide code samples and stacktraces, that might help me understand

[2018-12-05 23:38] clpalmer commented on #12
I think the issue is that for me, the fix (ie. getting compiler out of the bundle) is to use platformBrowser instead of platformBrowserDynamic. But for that, it requires bootstrapping via a different method. In single-spa-angular, it calls [bootstrapModule](https://github.com/CanopyTax/single-spa-angular/blob/10015c2d66157b06c99a9b866cdd2f8e940c3a72/src/single-spa-angular.js#L59) on the provided a

[2018-12-05 23:40] clpalmer commented on #12
A tiny bit more info here: http://www.syntaxsuccess.com/viewarticle/ahead-of-time-compilation-in-angular-2.0 in the Bootstrapping section

[2019-02-18 22:52] joeldenning opened #14 "Support for angular 7"
This issue will capture things in progress for getting angular 7 working. Here's the POC / early work on things: https://github.com/joeldenning/angular7-experimentation

- [x] Support `ng build`
- [x] Support `ng serve` (#32)
- [x] Make `ng serve` more useful by opening up the single-spa root config html file (#37)
- [x] ~~Auto generate a root config for people~~ (#29)
- [x] Allow for configuratio

[2019-02-18 23:11] joeldenning commented on #14
I created this issue to attempt to contact the angular team in an effort to collaborate with them: https://github.com/angular/angular/issues/28809

[2019-03-12 15:58] clpalmer commented on #12
@joeldenning - Had any time to look at this any further?

[2019-03-15 20:09] cgatian opened #16 "Remove Babel dependencies"
Switch over to using TypeScript for the entire lib

[2019-03-16 08:04] cgatian opened #17 "Use project name as default"
The builder should default to the angular cli project name for the libraryName.

[2019-03-16 08:48] cgatian opened #18 "Document separate architect"
The current docs show how to use the builder with the ng build command. Some devs may want to keep this unchanged. Show how to make a new architect task and invoke from CLI.

[2019-03-16 09:09] cgatian opened #19 "add conventional commits"
Enforce [conventional commits](https://www.conventionalcommits.org/en/v1.0.0-beta.3/) with [commitLint](https://conventional-changelog.github.io/commitlint/#/)
Autogen changlog with [standard-version](https://github.com/conventional-changelog/standard-version)

[2019-03-16 10:56] cgatian opened #21 "allow configuration of externals"
Allow the builder to be configured to support marking certain libraries as external.  These are then mapped to Webpack's [externals](https://webpack.js.org/configuration/externals/) configuration.

This would be useful for commonly used libraries like zonejs and [hammerjs](https://hammerjs.github.io/)

[2019-03-17 16:10] #16 closed

[2019-03-17 18:04] cgatian opened #26 "schematic: ng-add"
`ng-add`  This command is invoked when `single-spa-angular package is installed to a Anguar CLI project. e.g. `ng add single-spa-angular` We could mimic other libraries like `@angular/material` and update the default project with single-spa configuration. [see more](https://github.com/angular/material2/blob/master/guides/schematics.md#install-schematics)

Schematic Steps:
* Add/install `single-spa

[2019-03-18 22:09] #17 closed

[2019-03-19 00:43] cgatian opened #29 "schematic: root"
Generate a root application to host single-spa apps.

[2019-03-20 23:08] nickfeng1982 commented on #4
the best solution to deal with zone.js issue so far is

1, comment out import 'zone.js/dist/zone'; from the pollyfill.ts
2, add <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.29/zone.js"></script> into the index.html

since angular will compile zone.js into the bundle so this way the spa framework won't load zone.js from the child, and only the shell has one zone.js file acting.

[2019-03-20 23:42] #26 closed

[2019-03-21 00:40] joeldenning commented on #29
See https://github.com/CanopyTax/single-spa-angular#check-if-it-works for a minimal root application that could get people started.

[2019-03-21 00:48] joeldenning opened #30 "enableProdMode should be called with ng build."
Currently `environment.production` is false even during ng build. See https://github.com/CanopyTax/single-spa-angular/blob/master/src/schematics/ng-add/_files/src/main.single-spa.ts.template#L11. This might be related to the large bundle sizes we're seeing with `npm run build:single-spa`

[2019-03-21 00:51] joeldenning opened #31 "bundle size with `npm run build:single-spa` and `ng build` is gigantic"
Currently if you follow the instructions in the readme for Angular CLI on a hello world app, you'll end up with a 3.5 megabyte bundle, which is gigantic. Maybe related is #30. Or perhaps because [we're using platformBrowserDynamic](https://github.com/CanopyTax/single-spa-angular/blob/master/src/schematics/ng-add/_files/src/main.single-spa.ts.template#L17). See related #12.

<img width="1087" alt="

[2019-03-21 00:54] joeldenning opened #32 "Support `ng serve`"
We should allow users to run there single-spa application via `ng serve`.

Proposed implementation: we have the html file be one in the root config described in https://github.com/CanopyTax/single-spa-angular#check-if-it-works. And then we configure webpack-dev-server to point to that index.html file.

[2019-03-21 01:00] cgatian opened #33 "schematic: ng serve"
Create a schematic that allows the user to run their single-spa CLI app in serve mode to support watching 🚀

[2019-03-21 01:02] #33 closed

[2019-03-21 01:07] joeldenning commented on #14
single-spa-angular@3.0.0-beta.3 just released that begins support of `ng build` and schematics

[2019-03-22 18:38] jongeuncha opened #35 "polyfills and styles bundles are not created any more"
With this commit, [feat(builder): Angular CLI builder for bundling single module](https://github.com/CanopyTax/single-spa-angular/commit/5761fd10a8c81d3b7e80dfc4e45ca4bb89350575), `polyfills` and `styles` entries are removed and these bundles are not built anymore, which are essential to our application.

[2019-03-22 18:47] joeldenning commented on #35
For polyfills, this was actually an intended change. I think it is best to try to move polyfills into the [single-spa root config](https://github.com/CanopyTax/single-spa-angular#check-if-it-works), so that you only load them once upfront instead of once per angular application. The biggest one is usually ZoneJS, and with Zone you actually have no choice but to only have one instance of it on the

[2019-03-22 18:59] joeldenning commented on #4
Agreed with @nickfeng1982 -- see [this documentation](https://github.com/CanopyTax/single-spa-angular/blob/60b88f90d90a6bcbe7e1d1e751c521c48e39f705/README.md#check-if-it-works) which encourages loading ZoneJS directly in the single-spa root config html file, instead of inside of polyfills.ts within an angular application. See related #35 for discussion on that.

I am closing this for now: the offi

[2019-03-22 18:59] #4 closed

[2019-03-22 19:09] jongeuncha commented on #35
I understand your intention but I think how to manipulate and deploy bundles should be up to the consumers and yes I would like to serve the polyfills in the root application and will serve `main.js` and `style.js` in the Angular application.

If the `styles.js` is combined into `main.js`, it sounds convenient but it limits the freedom and especially it does not conform to our deployment strategy.

[2019-03-22 19:30] joeldenning commented on #19
The more I've thought this over, the less I feel good about it. I don't like when projects put potential contributors through a bunch of hurdles in order for them to get the build to pass. I think it discourages contribution and shifts focus away from important things (like whether this is good code) towards things that don't really matter much (like if all the linting and CLA and commit messages

[2019-03-23 00:44] cgatian commented on #19
Thats unfortunate. Conventional commits enforce a standard that make the developer "think" before they commit.

Take for example the latest contribution:
![image](https://user-images.githubusercontent.com/1752170/54859374-bbe24980-4ce2-11e9-8b57-5a6187696d06.png)
It forces the developer to take a step back and 6think, what is exactly being modified?

IMO not having this leads to commits like "adde

[2019-03-23 01:01] cgatian opened #36 "README assumes know about http-server"
The instructions include running an http-server instance:

`npx http-server . -o`

Which shouldnt be possible unless you `npm i http-server`

[2019-03-25 17:11] joeldenning commented on #19
Sounds like we disagree 😄

We can talk over slack if you'd like -- I am not convinced that it is solving a real problem.

[2019-03-25 17:37] joeldenning commented on #36
`npx` comes installed with node and npm. It will download and install a library and then execute it as a cli.

The command in the documentation works without any extra configuration.

See https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b for more details

[2019-03-25 17:41] joeldenning commented on #32
Initial support implemented in #34 via @pauljmelia. There are a couple of other features for it still to go that are recorded in #14.

[2019-03-25 17:41] #32 closed

[2019-03-25 17:54] joeldenning commented on #35
Could you provide more info about your deployment strategy?

One problem that I face as a maintainer of single-spa is that everyone's deployment strategy is different and it is hard to find the best balance between being opinionated and being flexible. Full flexibility means I spend a lot of time in issue queues trying to figure out the specifics of someone's situation, whereas opinionated means t

[2019-03-25 18:03] joeldenning opened #37 "Allow user to configure where their single-spa root config is during ng serve"
In order for single-spa-angular's dev server to be useful, we need it to load up the [single-spa root config](https://github.com/CanopyTax/single-spa-angular#check-if-it-works) as the [webpack-dev-server's `index`](https://webpack.js.org/configuration/dev-server/#devserverindex) or via the [webppack-dev-serve`openPage`](https://webpack.js.org/configuration/dev-server/#devserveropenpage) configurat

[2019-03-25 18:05] joeldenning commented on #14
single-spa-angular@3.0.0-beta.4 now supports `ng serve`, but in a limited way. See #37 for next step with ng-serve.

[2019-03-26 16:57] cgatian commented on #36
Http-server isn't a dependency of the package though. My issue isn't npx it's you're referring to a package that doesn't exist

[2019-03-26 17:18] cgatian commented on #19
This project doesnt generate a CHANGLOG. It probably should 👍 . This would help.

[2019-03-28 20:29] #37 closed

[2019-03-28 20:38] joeldenning commented on #14
single-spa-angular@3.0.0-beta.6 resolves #37 and now `ng serve` is working well

[2019-03-28 20:58] joeldenning commented on #30
this was just me not understanding angular very well. `ng build --prod` is what makes environment.production get set to true

[2019-03-28 20:58] #30 closed

[2019-03-28 21:01] joeldenning commented on #31
simply doing `ng build --prod` will get the build way down from 3.5 megs to 500k. See #30

500k is still pretty gigantic, though, for a hello world app -- going to look into this further

[2019-03-28 21:11] joeldenning commented on #12
@clpalmer I'm looking into this now, as part of #31 -- thanks for linking me to those resources, i'll check them out and see what i can figure out.

[2019-03-28 22:18] joeldenning commented on #12
I learned some more about this -- dead code elimination and tree shaking is not working which is what causes the bundle to be so huge. Likely because somehow we're using the [fesm5 version](https://github.com/angular/platform-browser-builds/blob/master/fesm5/platform-browser.js) of @angular/platform-browser-dynamic instead of [es2015 version](https://github.com/angular/platform-browser-builds/blob

[2019-03-28 22:57] clpalmer commented on #12
I managed to get it to shake out the compiler without changes to your code, but had to hack it a bit and pass in a wrapper object that contains a function bootstrapModule that internally calls bootstrapModuleFactory on the platformBrowser object. I think it's probably be sufficient if you just checked for the existence of the two functions on the provided angularPlatform we pass in and call the ap

[2019-04-01 18:42] joeldenning commented on #31
See related conversation https://twitter.com/joelbdenning/status/1111390464685412352?s=21

[2019-04-02 21:26] joeldenning opened #41 "Support and documentation for multiple angular apps coexisting in one page"
See related https://github.com/CanopyTax/single-spa/issues/214 and overall angular 7 issue #14

[2019-04-02 21:28] joeldenning commented on #36
You didn't read the article I linked you to 😄. Additionally the readme no longer refers to npx or http-server, now that `ng serve` is working.

To give you a summary of what the article says, `npx http-server` will **install** http-server and then run it. Here's the http-server package on npm: https://www.npmjs.com/package/http-server. And here's the article I linked to earlier: https://medium.com

[2019-04-02 21:28] #36 closed

[2019-04-02 21:36] joeldenning commented on #14
single-spa-anguluar@3.0.0-beta.9 fixes some issues with `ng serve` on Windows.

[2019-04-02 22:40] cgatian commented on #36
I'm sorry 😔

[2019-04-03 13:51] HemendPatel63 opened #42 "Angular 7 load multiple app"
awesome will get support to angular 7.

I was going through the instruction and start loading my applications. I am able to build and load the application through index.html but it load only single application base on base href.

https://github.com/CanopyTax/single-spa-angular/blob/master/README.md

I am new to single-spa so not sure what are the options to register multiple application:
 singleSp

[2019-04-03 16:30] #42 closed

[2019-04-03 16:30] HemendPatel63 commented on #42
fond a solution

[2019-04-04 00:40] joeldenning commented on #42
👍 see related #41

[2019-04-04 15:18] #31 closed

[2019-04-04 16:30] joeldenning commented on #12
I just released single-spa-angular@3.0.0-beta.10, which has a change to how you call singleSpaAngular() such that angular can statically analyze the code and replace platformBrowserDynamic() with platformBrowser(). Bundle size on a hello world app went from 500kb to 250kb.

Want to try it out and let me know if it works for you? See https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0

[2019-04-04 16:30] joeldenning commented on #12
I'm closing this, since it is fixed with #43. Feel free to ask further questions or reopen if 3.0.0-beta.10 doesn't work for you

[2019-04-04 16:30] #12 closed

[2019-04-04 16:31] joeldenning commented on #14
[single-spa-angular@3.0.0-beta.10](https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-beta.10) reduces bundle size, but had to introduce a breaking change in the process.

[2019-04-04 16:33] joeldenning opened #44 "Interop with SystemJS@3"
Currently (as of single-spa-angular@3.0.0-beta.10), the documentation leads people down a path that doesn't work with SystemJS@3. We should either change the documentation or resolve any problems that prevent interop with SystemJS@3.

[2019-04-04 16:34] joeldenning commented on #44
<img width="391" alt="Screen Shot 2019-04-04 at 10 33 59 AM" src="https://user-images.githubusercontent.com/5524384/55572602-2e7cfd00-56c5-11e9-98fb-c24d08807f37.png">

[2019-04-04 16:36] joeldenning opened #45 "Angular 6 support"
single-spa-angular@3.0.0-beta.0 through beta.10 all have had angular 7 in mind. Ideally we would support at least Angular 6, as well (and maybe older versions, too).

<img width="650" alt="Screen Shot 2019-04-04 at 10 35 54 AM" src="https://user-images.githubusercontent.com/5524384/55572710-713ed500-56c5-11e9-8c5d-dc4cc1989b3f.png">

[2019-04-04 22:34] clpalmer commented on #12
Thanks @joeldenning! Working nicely. Same bundle size as my hack-around wrapper function before, but eliminates the warning about no bootstrap in main module.

[2019-04-05 20:54] joeldenning opened #46 "Global styles aren't being loaded"
<img width="1038" alt="Screen Shot 2019-04-05 at 2 53 43 PM" src="https://user-images.githubusercontent.com/5524384/55655896-a6752100-57b2-11e9-858a-d5889e016e82.png">

[2019-04-05 21:03] joeldenning commented on #29
I spent a few hours on this yesterday and ran into some tough roadblocks with angular schematics. Specifically that angular schematics only allow you to create files that are within your angular project, but that we need the single-spa root config html file to be in `../single-spa-root-config` which is not in the angular project at all.

I'm going to close this for now, since I don't plan on imple

[2019-04-05 21:03] #29 closed

[2019-04-05 21:10] joeldenning commented on #19
I personally prefer using Github releases over a Changelog, although the preference isn't super strong. I have kept the github releases fully up-to-date with release notes. https://github.com/CanopyTax/single-spa-angular/releases. Maybe making a CHANGELOG.md file that just links to the github releases page would be a good idea though.

I'm going to close this issue, since I don't want to use or en

[2019-04-05 21:10] #19 closed

[2019-04-06 02:11] #46 closed

[2019-04-06 02:41] joeldenning opened #47 "Links between single-spa applications aren't working."
See related #41

*Conversation 1*
<img width="1191" alt="Screen Shot 2019-04-05 at 8 40 23 PM" src="https://user-images.githubusercontent.com/5524384/55663933-113e5080-57e3-11e9-90ed-5d24e630b64e.png">

*Conversation 2*
<img width="1023" alt="Screen Shot 2019-04-05 at 8 36 28 PM" src="https://user-images.githubusercontent.com/5524384/55663912-9ffe9d80-57e2-11e9-93e0-004461c3822f.png">

[2019-04-06 02:44] joeldenning commented on #21
This can now be accomplished using a partial webpack config that is merged into the final config (#40).

[2019-04-06 02:44] #21 closed

[2019-04-06 02:49] joeldenning commented on #35
See related #46, where I added the styles into the main bundle so that they work with single-spa-angular. I decided it was easier just to put the global styles right into the main.js bundle instead of having a separate webpack entry for them and having to load them separately from the javascript bundle.

Regarding the polyfills, my recommendation is the same as what I said before -- ZoneJS and pol

[2019-04-06 02:49] #35 closed

[2019-04-06 03:49] joeldenning commented on #14
single-spa-angular@3.0.0-beta.11 fixes global styles loading and allows for the user to override webpack configs.

[2019-04-06 06:10] joeldenning commented on #41
As part of this, we're going to need the [component selector](https://angular.io/api/core/Directive#selector) for the app.component.ts to be unique, instead of just always `app-root`. Also the `template` in `main.single-spa.js` will have to change.

[2019-04-06 06:24] joeldenning commented on #47
This is fixed with https://github.com/CanopyTax/single-spa-angular/commit/e5a94f4a8ee86289e3c7a84e4257df6bc00f8ca0 and released in beta.12

[2019-04-06 06:24] #47 closed

[2019-04-06 06:25] joeldenning commented on #14
beta.12 allows for multiple angular applications to be active at once.

[2019-04-06 07:16] joeldenning commented on #47
Also see related https://github.com/PlaceMe-SAS/single-spa-angular-cli/issues/33

[2019-04-08 17:21] joeldenning opened #48 "Using BrowserAnimationsModule causes applications to not unmount"
See related https://github.com/CanopyTax/single-spa/issues/289

<img width="352" alt="Screen Shot 2019-04-08 at 11 20 58 AM" src="https://user-images.githubusercontent.com/5524384/55743773-67341380-59f0-11e9-8eb7-4a7456f3aae7.png">

I have confirmed locally that the bug occurs.

[2019-04-08 21:07] StephenRansom opened #49 "When using a single navbar for all applications, repeated navigations within a single app fail"
This occurs when you have a single navbar app that controls navigation between multiple applications, including their subroutes.

The first navigation to any app or app subroute completes successfully. Any subsequent navigation inside that same app will fail. For example:

`/app1 -> /app2 -> /app1 will succeed.`

`/app1 -> /app1/subroute will fail to load the subroute.`

`/app1 -> /app2 -> /app1/s

[2019-04-08 23:06] HemendPatel63 commented on #49
I am able to navigate within app but it logs exception when navigate between multiple applications:

core.js:15724 ERROR Error: Expected to not be in Angular Zone, but it is!
    at Function../node_modules/@angular/core/fesm5/core.js.NgZone.assertNotInAngularZone (core.js:17197)
    at Object.next (core.js:17403)
    at SafeSubscriber.schedulerFn [as _next] (core.js:13515)
    at SafeSubscriber../

[2019-04-09 00:02] StephenRansom commented on #49
@HemendPatel63 Are you using the most recent beta (12 at this time), and are you doing all of your navigation from a single navbar app? If I have a navbar that only contains links to each app root, and each subapp does it's own routing (from a self contained navbar), I don't encounter issues. It's only when I do all routing from the separate navbar app that I encounter this issue. I'll post a samp

[2019-04-09 00:48] StephenRansom commented on #49
I made a copy of joel's example app and added subroutes to demonstrate what I'm seeing. (you can also just `ng g component subroute` in one of your applications to quickly test it yourself, just don't forget to add the routes in).  Click around between the app1 subroutes, then try clicking between app1 -> app2 -> app1/subroute -> app2 etc  https://github.com/StephenRansom/single-spa-routing-issue-

[2019-04-09 02:15] joeldenning commented on #49
Yeah beta.12 should solve the "Expected to not be in Angular Zone, but it is!" issue. I'll take a look at that example repo for the issue described for subroutes.

[2019-04-09 16:27] joeldenning commented on #45
I'm seeing this with Angular 6:

<img width="341" alt="Screen Shot 2019-04-09 at 10 27 15 AM" src="https://user-images.githubusercontent.com/5524384/55817611-200e5700-5ab2-11e9-83d0-7ed596748ab2.png">

[2019-04-09 17:30] dassennato commented on #48
This issue is blocking my app of using material angular. I'd really need this fixed.

[2019-04-09 18:10] joeldenning commented on #45
Turns out the maximum call stack size exceeded error was related to `npm link` stuff -- doesn't happen unless you're attempting local dev with angular 6.

j85's original issue is a real one though. It is related to [`context.targetSpecifier`](https://github.com/CanopyTax/single-spa-angular/blob/86fef3d1a5d9c4f40ca10b0da2e55a209c5f294c/src/builders/single-spa-webpack-builder.ts#L7) not being define

[2019-04-09 18:13] #45 closed

[2019-04-09 23:39] #49 closed

[2019-04-10 00:06] joeldenning commented on #14
beta.13 has fixes for angular 6 and also removes need for passing in ApplicationRef to single-spa-angular.

[2019-04-10 02:19] joeldenning opened #51 "Documentation and/or schematics for changing `app-root` to something unique"
When you have 2+ angular apps on the page, you can't have both of the root components have the `app-root` selector -- otherwise angular doesn't know which one is which.

So you need to change the name of your root component in each app in two places:
(1) The singleSpaAngular `template` opt. https://github.com/joeldenning/coexisting-angular-microfrontends/blob/49d544860518b6f476e5aeb029071901bd180d

[2019-04-10 02:43] joeldenning commented on #48
This seems like it might be related: https://github.com/angular/angular/issues/19742.

Still looking into this further

[2019-04-10 05:14] #48 closed

[2019-04-10 05:18] joeldenning commented on #48
It turns out that this was completely unrelated to the issue I linked to previously. Instead, this is just a bug in BrowserAnimationsModule.

I implemented a workaround for the bug in https://github.com/CanopyTax/single-spa-angular/commit/d8159893bd5347822c810f420998cc0be94e4c84 and released it as 3.0.0-beta.14.

To get the fix, you need to provide singleSpaAngular the AnimationEngine option in yo

[2019-04-10 16:23] HemendPatel63 opened #52 "AOT build and Ivy compiler"
I have tried to implement angular ivy compiler with the latest version on single-spa angular but not able to compile the project. is it support ivy compiler (@angular/cli v8.0.0-beta.7)?

[2019-04-10 20:00] gubertcalixto opened #53 "Navigation triggered outside Angular zone"
Using Angular 7 Apps, when any <a routerLink> is clicked, the following message (console.warn) shows:
**Navigation triggered outside Angular zone, did you forget to call 'ngZone.run()**

![image](https://user-images.githubusercontent.com/28396856/55909405-4ddac500-5bb2-11e9-856f-ea7ed8694f78.png)

[2019-04-10 20:52] StephenRansom commented on #51
It'd be great to have a schematic that updated references for app-root to projectname-root or similar, but in the meantime I added some documentation https://github.com/CanopyTax/single-spa-angular/pull/54

[2019-04-10 20:58] StephenRansom opened #55 "Global styles are not bundled with main.js when doing prod builds"
This works as expected when running `ng build` but when doing `ng build --prod` a separate file is created.

[2019-04-10 21:10] HemendPatel63 commented on #49
@StephenRansom - How do you maintain the state between application?

[2019-04-11 00:19] joeldenning commented on #52
I have not tried an aot build with angular 8. Could you provide a stacktrace or describe the error in more detail?

[2019-04-11 00:51] joeldenning commented on #12
Awesome, happy to hear this 👍

[2019-04-11 02:03] HemendPatel63 commented on #52
I am getting bellow error :

![image](https://user-images.githubusercontent.com/49240619/55925713-1250f280-5bd4-11e9-8f3c-6c92541cca98.png)

[2019-04-11 02:16] joeldenning commented on #52
The stacktrace is probably being caused by one of the following lines of code:

https://github.com/CanopyTax/single-spa-angular/blob/master/src/single-spa-angular.ts#L80
https://github.com/CanopyTax/single-spa-angular/blob/master/src/single-spa-angular.ts#L93
https://github.com/CanopyTax/single-spa-angular/blob/master/src/single-spa-angular.ts#L122

I don't know much about aot compilation -- does

[2019-04-11 02:33] HemendPatel63 commented on #52
AOT compilation is not an issue as I am successfully build single spa angular 7 app with AOT. I think issue is with ivy compiler.
Thank you so much for you quick help!

[2019-04-11 11:11] kbjerke opened #56 "IE11 support, arrow functions & backticks"
Hi, this project is incompatible with IE11, and if I build it using target es5, the builders do not work. Any dependency between the two or could it be separated into different projects? I understand that this probably isn't part of your requirement.

[2019-04-11 17:32] joeldenning commented on #56
Hi @kbjerke, IE11 support is something that we want to have as part of single-spa-angular.

Could you provide more detail about which error you are seeing? Maybe a stacktrace or screenshot when you don't target es5 and another one when you do?

[2019-04-11 17:48] joeldenning commented on #52
👍 I'll keep this issue open so that when angular <=7 is supported I can come back to this

[2019-04-11 18:09] jlwerenskjold commented on #56
I've been working on trying to get it working in IE 11 today, no luck so far.  I've been using this project https://github.com/joeldenning/coexisting-angular-microfrontends to test solutions.  I've added the following polyfill imports as was suggested online, but it almost seems like it is not picking them up.  I'm not exactly sure how the polyfill works so I'm looking into that now.

import 'core

[2019-04-11 20:38] joeldenning commented on #56
Ah I see. Yes. Polyfills are not being loaded when you are using single-spa-angular, although that is intentional. See https://github.com/CanopyTax/single-spa-angular/issues/35#issuecomment-480467944

The reason is that a big difference between two angular apps using single-spa versus two that are not is that **when using single-spa they share an html file, instead of having their own html file**.

[2019-04-11 21:28] joeldenning commented on #55
I just confirmed/reproduced this while using single-spa-angular@3.0.0-beta.14

[2019-04-11 23:33] #55 closed

[2019-04-11 23:49] HemendPatel63 commented on #52
I have gone through the link CanopyTax/single-spa#107 (comment) but we have to give refresh of individual app. suppose my core app display different module and have a summary section as separate app where will display specific module summary then have to give reference of each core app.

![image](https://user-images.githubusercontent.com/49240619/56002849-a761f300-5c89-11e9-95fa-ea5edc323d5b.png)

[2019-04-12 06:28] kbjerke commented on #56
@joeldenning , Thank you for the quick response, and sorry for my lacking information.

Yes, polyfills was a part of the issue, but sadly not related to my report.

Approach:
With https://github.com/joeldenning/coexisting-angular-microfrontends as my base, I set the target of  App1, App2 and Navbar to es5, in tsconfig.json under compilerOptions. Now what I was seeing in the bundle was that the sin

[2019-04-12 15:48] jlwerenskjold commented on #56
@kbjerke I got it working in IE 11 by removing the backticks and converting to anonymous functions in the single-spa-angular.js file.  If you modified single-spa-angular, I highly suggest using https://github.com/ds300/patch-package as it is a wonderul tool for this.  Basically you:

1. Modify the single-spa-angular,js file in your node_modules/single-spa-angular/lib folder by replacing the backti

[2019-04-12 17:19] joeldenning commented on #56
Oh I didn't realize that the backticks and arrow functions weren't being compiled down. We recently switched from babel to typescript in #23, and must have introduced this problem at that time.

I will push a fix!

[2019-04-12 17:23] #56 closed

[2019-04-12 19:03] joeldenning commented on #56
This is fixed in [3.0.0-beta.17](https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-beta.17)

Note how [the published package](https://unpkg.com/single-spa-angular@3.0.0-beta.17/lib/browser-lib/single-spa-angular.js) now does not have any backticks or arrow functions anymore.

[2019-04-17 10:36] liuyiba opened #58 "Does single-spa-angular support retrieving apps from a different domain?"
I cloned the coexisting-angular-microfrontends. It works perfectly.
But now I have question about how to register an application from different domain.
Something like
singleSpa.registerApplication('app2', () => download('http://abc/main.abcd.js', 'MyAngulurApp'), location => location.pathname.startsWith('/app2'));

[2019-04-17 19:13] joeldenning opened #59 "Assets in angular.json are not being loaded"
<img width="357" alt="Screen Shot 2019-04-17 at 1 13 14 PM" src="https://user-images.githubusercontent.com/5524384/56314530-95ad9f00-6112-11e9-876e-540d51ff3769.png">

<img width="349" alt="Screen Shot 2019-04-17 at 1 12 18 PM" src="https://user-images.githubusercontent.com/5524384/56314538-99d9bc80-6112-11e9-864f-6303bfbbf1ee.png">

[2019-04-17 19:21] joeldenning commented on #44
This will be implemented as part of my work on single-spa-playground.

[2019-04-17 19:43] joeldenning commented on #58
I'm glad coexisting-angular-microfrontends worked for you 👍

## Different domains
Loading apps from a different domain is possible by changing [the index.html file](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/index.html#L13) to point to that domain. I don't think you'll run into any CORS issues loading from a different domain since iirc script tags don't have that

[2019-04-18 05:15] DanielNetzer commented on #59
I Actually managed to solve this issue by adding to all the assets path the relative to the new dist, e.g. `./appName/dist/projectName/assets/...`

[2019-04-18 06:37] liuyiba commented on #58
Yes, I tried to get it use the script tag. And download the main.js successfully. But then how to register it in singleSPA? Do you have some API to handle it or please give me some demo.

[2019-04-18 08:08] liuyiba commented on #59
Yes, I also reproduce this issue. And @DanielNetzer your solution works for me.

[2019-04-18 09:51] liuyiba commented on #58
I tried to register it in single SPA. The error "Application 'app2' died in status LOADING_SOURCE_CODE: "does not export an unmount function or array of functions" will show.  Do I missing someting?
![image](https://user-images.githubusercontent.com/17810361/56352611-2d3deb00-6202-11e9-93b6-4fc51cce7744.png)

[2019-04-19 00:41] joeldenning commented on #58
There are a lot of things that could be causing the issue -- try checking the following things:

- The [libraryName](https://github.com/CanopyTax/single-spa-angular#ng-build-options) should be `app2`
- If you <script> tag your main.js file, a `window.app2` variable should be defined. Check this in the browser console.
- Your implementation of `scriptTagApp` isn't shown, but potentially could be fa

[2019-04-19 00:49] joeldenning opened #60 "Nested routes don't work with BrowserAnimationsModule"
This issue was first reported as a comment to a separate issue. https://github.com/CanopyTax/single-spa/issues/289#issuecomment-483105297

It is from @jaspreet1234567

[2019-04-19 01:06] joeldenning commented on #59
Could you provide examples of how you're using assets? Are these images that you want to reference via `<img src="/dist/projectName/assets/my-img.png">`? Fonts? Something else?

What I am most interested in is how you're using them in your components.

[2019-04-19 01:31] joeldenning commented on #59
cc @StephenRansom

[2019-04-19 08:39] liuyiba commented on #58
Thank you for your reply. Now I tried two solutions.
Solution one:
 Use <script> tag my app2 main.js file. it works will.
Solution two:
 Use scriptTagApp to get app2 main.js file. it will throw the error :
![image](https://user-images.githubusercontent.com/17810361/56415822-83259800-62c1-11e9-9983-6ac99f49d1b4.png)
And here is my scriptTagApp function.
![image](https://user-images.githubuserconten

[2019-04-19 08:47] liuyiba commented on #59
I also found this issue when I retriving apps from another domain.
For example the app2 is a child application under parent app. My parent app is serve at 4200 port. the app2 is serve at 3200 port. The image will show when I visit http://localhost:3200/app2 directly. But when I visit http://localhost:4200/app2 the image will missing. The error like this
![image](https://user-images.githubuserconte

[2019-04-19 17:20] joeldenning commented on #58
Try changing `resolve(window[globalVarName])` to `resolve(window[globalVarName].default)` (similar to how app1 is doing `window.app1.default`.

[2019-04-19 21:53] StephenRansom commented on #59
References like `background-image: url("some/image/location");` and <img src="/some/image/location">caused 404s when the app was being served.  Fonts referenced by my widget factory (prime-ng) were also lost. They got dumped into dist/appname, but requests for them returned 404s. I was able to fix the issue by adding the deploy url to the build script, and I set the webpack public path (which also

[2019-04-20 16:12] DanielNetzer commented on #59
@StephenRansom can you elaborate more on how you achieved that? and I assume you are talking about lazy loaded modules inside your angular app.

[2019-04-21 01:57] joeldenning commented on #59
Hmm, I'm thinking this one over in the context of both local envs and deployed envs, with SystemJS coordinating the loading of modules. And I'm not thinking of  a graceful solution. The main solution in situations similar to these is to import the assets and have webpack bundle them, and then use webpack public path to ensure that the bundles are downloaded at the correct url.

But in this case, a

[2019-04-22 04:41] jaspreet1234567 commented on #60
Hi,

Any update on this?

[2019-04-22 16:51] joeldenning commented on #60
Hi @jaspreet1234567, I am working on https://github.com/CanopyTax/single-spa-angular/issues/44 and https://github.com/CanopyTax/single-spa-angular/issues/41 first before shifting attention to this bug.

[2019-04-23 09:33] kbjerke opened #61 "IE11 router not working"
Hi, this is a follow-up of #56.

With coexisting-angular-microfrontends as base, I made the following changes to index.html:
[code]

At root, it doesn't render the NavbarComponent, it just has a router-outlet:
![image](https://user-images.githubusercontent.com/35374983/56568954-54a50700-65b8-11e9-8c72-8d90a157fd4b.png)

And from the console I find the error:
`Unhandled Navigation Error: `
With no

[2019-04-23 21:57] StephenRansom commented on #59
@DanielNetzer To set the webpack public path, at the top of your main.single-spa.ts you can put `__webpack_public_path__ = 'Path/To/Assets/dist/whatever';`

similarly you can add a deploy url to your build script in the package.json with `--deployUrl=PathTo/appname/dist/whatever`

This can function as a workaround until a more elegant solution is found.

[2019-04-24 03:01] liuyiba opened #62 "How to handle router links between different single-spa application subrouters"
In the coexisting-angular-microfrontends, the navbar works will to switch different apps.
In app1 I have two subrouters "/app1/subRouter1" and "app1/subRouter2"
In app2 there are also have two subrouters  "/app2/subRouter1" and "app2/subRouter2".
Now If there is a link on "/app1/subRouter1" page <a routerLink="/app2/subrouter2"> go to app2 subrouter2</a>. That will not work,
![image](https://user-

[2019-04-24 06:42] joeldenning commented on #62
Hi @liuyiba, could you please push your code to a github repository for me to debug with?

[2019-04-24 06:45] joeldenning commented on #61
Hi @kbjerke, single-spa@4.3.0 introduced a bug in IE11 support (https://github.com/CanopyTax/single-spa/issues/299) that was fixed in https://github.com/CanopyTax/single-spa/pull/300 and released in https://github.com/CanopyTax/single-spa/releases/tag/v4.3.2.

Could you confirm if your issue still occurs after upgrading to single-spa@4.3.2?

[2019-04-24 06:55] kbjerke commented on #61
Hi @joeldenning this works perfectly. Probably should've thought of checking the other dependencies... Sorry about that.

Can I suggest adding updating:
[coexisting-angular-microfrontends/index.html](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/index.html)
to reflect the change? :)

[2019-04-24 07:08] joeldenning commented on #61
👍 glad it worked for you.

Pull requests are definitely accepted for coexisting-angular-microfrontends. I update it pretty regularly but sometimes it falls slightly behind. I plan on making a big improvement to  it in the next week or so and so i'll upgrade it then if it hasn't been fixed by that time.

[2019-04-24 07:08] #61 closed

[2019-04-24 09:57] liuyiba commented on #62
Hi @joeldenning I splite the coexisting-single-spa-angular into two project to test the apps from different domain. And have uploaded it here: https://github.com/liuyiba/Single-spa-angular-cross-domain. You can clone and debug it.
Otherwise I also want to know do you have any examples about the communication between different apps from the different domain.
In my case: I want to pass the authentic

[2019-04-24 10:02] supersongpiao opened #63 "An error occurs when the route is lazy loaded"
This error occurs when the route uses lazy loading.
![DAB6D9DA-2629-4DD0-89D8-1B98C5003E42](https://user-images.githubusercontent.com/31645741/56651088-e2691b00-66ba-11e9-9585-228a51e93138.png)
![02A76727-4477-411F-982A-5B5362FE87A6](https://user-images.githubusercontent.com/31645741/56651174-104e5f80-66bb-11e9-9f29-51d033d2d587.png)

[2019-04-24 11:14] kbjerke commented on #62
@liuyiba I think for the first part of your question you're going about it in the wrong way. `ng serve` will serve the angular application, while single-spa requires the static built js-bundle from the project. You will need to have a webserver/CDN serve the main.js (default name) from app x and y, and have the single-spa application fetch the bundle at runtime to register applications.

[code]

I

[2019-04-24 13:00] kbjerke commented on #63
Hi, I was just looking into the same. And it seems like you are able to solve this using the --deploy-url argument during application building.

e.g.:
[code]

In this scenario the project is monorepo, and at root you have the index.html with single-spa application, and at /appX you have the application you mention, and append dist/appX/ to for the default build path.

If you were to host these fil

[2019-04-25 02:09] supersongpiao commented on #63
Thank you. But img access still failed, I did not find the correct settings.
![B8E55A78-402C-4AF6-B54A-7903FB93E859](https://user-images.githubusercontent.com/31645741/56705055-03288380-6742-11e9-9f5a-c779c38ad460.png)
![CB85A5D0-7753-4E5C-9B8C-F0F24165DC5B](https://user-images.githubusercontent.com/31645741/56705084-1b989e00-6742-11e9-9590-1cbaf704eaa4.png)

[2019-04-25 02:28] liuyiba commented on #62
Hi @kbjerke , Both the app and app2 are the single-spa-angular project. And I also got the the main.js before register as single spa application. It works will. And all the navbar routers work will for me. And I run your code, found your code is different from my question.

My subrouters are not on the navbar. It is the subrouters in app and app2. I expect when you under app1/subrouter2 and click

[2019-04-25 05:12] joeldenning commented on #63
@supersongpiao are you using Angular assets for those images?

If so, there is an open issue about Angular assets in #59. Currently there is some discussion/debate/uncertainty about the best way to approach them within single-spa-angular.

Also, thanks @kbjerke for jumping in and helping out with this one

[2019-04-25 05:20] joeldenning commented on #62
@liuyiba I will take a look at your github repo when I get a chance and see if i can find the problem.

@kbjerke I appreciate your help fielding some of these questions. You mentioned that you forked coexisting-angular-microfrontends and added back in the APP_BASE_HREF to the router and that it fixed issues with sub routes. But the reason I removed the APP_BASE_HREF is because navigation between t

[2019-04-25 09:32] kbjerke opened #64 "Router not working without APP_BASE_HREF"
Hi, @joeldenning

Based on your comment in #62 I made a few changes to my fork: [remove-app-base-href](https://github.com/kbjerke/coexisting-angular-microfrontends/tree/remove-app-base-href), you can compare it to the master branch, only difference is removal of APP_BASE_HREF providers in app1 and app2.

Without APP_BASE_HREF an empty path, indicating the root of this specific application will sim

[2019-04-26 22:57] joeldenning commented on #64
I'll take a look at this after I finish single-spa-playground and resolve #44 and #41

[2019-05-02 15:43] joyfulelement opened #65 "Uncaught TypeError: Cannot read property 'injector' of undefined at single-spa-angular.js:90"
First of all, wanted to thank to the author for creating `single-spa` libraries. Have been trying it out from the last couple days, but now hitting this glitch without much progress. Getting this issue when attempt to load the basic Angular app with root application.

### Reproduce Steps
1. Generated an Angular App with [Angular CLI](https://github.com/angular/angular-cli) version 7.3.8.
2. Run `n

[2019-05-02 17:53] joeldenning commented on #65
Hi Kevin, thanks for reporting this issue with so much detail.

Is this happening during initial load, or only when you attempt to navigate away from the application? Can you confirm if the angular application is successfully mounting? Single-spa has the concept of an [application status](https://single-spa.js.org/docs/api.html#getappstatus) that tracks whether the app has successfully mounted, un

[2019-05-02 19:10] joyfulelement commented on #65
Hi @joeldenning :

Thanks for getting back with the suggested solution, and you're right, the Angular App failed during the initial load to mount itself and hence unmount itself with uninitialised object.

With the newly configured `APP_BASE_HREF` in `app.module.ts`:
[code]
I was able to get the Angular app mounted properly the first time 🎉 ! Thanks to your big help.

However, the Angular app hit

[2019-05-02 21:08] joyfulelement commented on #65
Ok, I managed to get around with this issue (similar to #48)  by adding the `BrowserAnimationsModule` to `app.module.ts`. I think what happened was when I did `ng add` I answering "yes" to the question about whether you're using `BrowserAnimationsModule`. But did not import it to the default Angular application. I guess if I answered it as no in the first place, this wouldn't be an issue.

Looks l

[2019-05-03 11:14] kbjerke opened #66 "Angular workspace with projects"
Hi, I was looking into creating a monorepo type project with multiple angular applications, and I decided to go for a project structure workspace, supported by default using the angular cli.

[code]
This will crash, because the builder is unable to locate src/main.single-spa.ts, and in this case the main should be projects/{appName}/src/main.single-spa.ts.

https://github.com/CanopyTax/single-spa-

[2019-05-03 18:37] joeldenning commented on #66
Fixed with #67

[2019-05-03 18:37] #66 closed

[2019-05-03 19:02] kbjerke commented on #66
@joeldenning , I started working on a fix for the case where:
https://github.com/CanopyTax/single-spa-angular/blob/4d396e2961a082b5dc703d64feeeb1ec1d51b9e0/src/schematics/ng-add/index.ts#L74
Would solve the fact that every application generated in a workspace points to src/main.single-spa.ts. Unfortunately I didn't have time to finish. But I figured it would be something like:
[code]

And altering

[2019-05-03 22:50] joeldenning commented on #44
Resolved with [3.0.0-beta.19](https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-beta.19)

[2019-05-03 22:50] #44 closed

[2019-05-03 22:53] joeldenning commented on #14
beta.19 makes it easy to use SystemJS and multiple Angular applications.

I am going to close this issue now in favor of just using the github issue queue for any remaining things before single-spa-angular@3 is released as "latest" instead of "beta"

[2019-05-03 22:53] #14 closed

[2019-05-07 12:11] jlewicki-nevo commented on #53
I see this as well.

It appears to me that there may be a problem with the monkey-patched isInAngularZone.

single-spa-angular sticks a boolean in the zone properties [here](https://github.com/CanopyTax/single-spa-angular/blob/64a09b87a621b7b4a8c244fe184f5d2e5a8ceead/src/browser-lib/single-spa-angular.ts#L80) but implements isInAngularZone by checking for a string [here](https://github.com/CanopyT

[2019-05-07 21:27] HemendPatel63 opened #70 "not able to run application using v3.0.0-beta.19"
Hi, @joeldenning
I have implemented single-spa angular 7 solution and it was working till v3.0.0-beta.17 release. I show the updated version today and try to implement the lazy loading with the latest version but did not get any luck.
I have cloned the coexisting-angular-microfrontends solution on my local and follow the step under the local development section(https://github.com/joeldenning/coexi

[2019-05-07 22:23] joeldenning commented on #53
@jlewicki-nevo thanks for your PR -- **it fixes some but not all of the navigation related warnings**. Your change was released in [single-spa@3.0.0-beta.20](https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-beta.20).

Here's why the change didn't completely getting rid of the console.warning(), and why doing so will be tricky:

Angular router assumes that it is the only router o

[2019-05-07 23:00] joeldenning commented on #70
Are you able to run one app at a time, [as explained here](https://github.com/joeldenning/coexisting-angular-microfrontends#local-development----one-app-at-a-time)?

I just deleted my local copy of the repo, re-cloned it, and followed the instructions and was able to get it working. What operating system are you on? I'm on Mac.

The 404 you're getting in the browser for the HTML file is the most i

[2019-05-07 23:27] HemendPatel63 commented on #70
Thank you joeldenning for your help!

I am use windows 10. I have updated new package package but got the same issue.
I have followed below steps.

1.	Clone the apps(https://github.com/joeldenning/coexisting-angular-microfrontends).
2.	# First terminal tab
cd root-html-file
npm install
npm start
3.	# Second terminal tab
cd app1
npm install
ng serve --port 4201 --publicHost http://localhost:4201 --

[2019-05-07 23:31] joeldenning commented on #70
This might be windows specific, then, I've had issues in the past with the servers I'm using in root-html-file. Try the following, and let me know if any of them work:

1. Change [this line](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/root-html-file/package.json#L6) to not have the `/` before index.html. So it would be `light-server -s . --historyindex 'index.html'

[2019-05-07 23:39] HemendPatel63 commented on #70
Yes, you are right. These changes are working but getting 404 when refresh the page.

[2019-05-07 23:45] joeldenning commented on #70
Okay, so it's windows-specific, then. I just pushed [a commit](https://github.com/joeldenning/coexisting-angular-microfrontends/commit/92e8c51a097fc08e45d9facd8afac16d115ac299) that hopefully resolves this issue. Can you verify it works for you?

[2019-05-07 23:55] HemendPatel63 commented on #70
Its working but not with page refresh(404).
![image](https://user-images.githubusercontent.com/49240619/57340013-9de97080-70f9-11e9-954a-ea620f73ac78.png)

[2019-05-07 23:58] joeldenning commented on #70
Damn, I'll have to look into this later. Need to find a static server that works in Windows and is able to do SPA routing and just always return the index.html file. Other windows users reported that `light-server` worked, but looks like not in all cases. I'll spend some time on this later.

[2019-05-08 16:08] HemendPatel63 commented on #52
I have used deepstreamHub to do this

[2019-05-08 16:08] #52 closed

[2019-05-09 17:26] HemendPatel63 opened #71 "FormGroup submit event refresh the page (navigate within app)"
I have implemented the lazy loading with latest version( v3.0.0-beta.20) and after that FormGroup submit event refresh the page if you navigate within the app.

i.e formgroup is use on homecomponent in APP1
Then-
routes
1 Home to Dashboard
2 Dashboard to Home
3. Now submit the form.
It will refresh the page.

This was working with our old version  v3.0.0-beta.14

**Home.Component.html**
  <form [f

[2019-05-10 02:30] supersongpiao opened #72 "Route jump failed in a single sub-application"
![8CC55614-7CC0-41B9-9433-A0FC35C1A3EA](https://user-images.githubusercontent.com/31645741/57498362-28a2b900-730e-11e9-8162-422012f83400.png)
If the application is in this configuration, I jumped to testPage without responding.
![4A07218F-E5AD-45F0-8DF9-4234A21FDB64](https://user-images.githubusercontent.com/31645741/57498401-50921c80-730e-11e9-87e7-2c2e439e7a57.png)
If I add '/app2' to useValue,

[2019-05-10 21:56] joeldenning commented on #71
Hmm I don't know how this would be related to the beta.19 or beta.20 changes.

Could you push up an example repo for me to take a look at?

[2019-05-13 10:21] kbjerke commented on #64
Hi @joeldenning , I created this repo: [microfrontend-communication](https://github.com/kbjerke/microfrontend-communication), in app2 I have imported `BrowserAnimationsModule` and you can easily reproduce the issue of routes being appended rather than replacing.

[2019-05-13 21:26] HemendPatel63 commented on #71
Agree - this is not related to new changes. I will create a repo and share it.

[2019-05-13 21:29] HemendPatel63 opened #74 "CORS policy: No 'Access-Control-Allow-Origin'"
Hi @joeldenning,

Access to script at 'http://localhost:8086/main.js' from origin 'http://localhost:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

If we create two separate website in window IIS and try to load it with single spa.

"imports": {
          "app1": "http://localhost:8651/main.js",
          "app2": "http://localho

[2019-05-13 23:41] joeldenning commented on #74
What version of angular are you using?

The latest version of Angular [has Access-Control-Allow-Origin headers](https://github.com/angular/angular-cli/blob/5770762ac193c323310f53f6c37288275552fc7c/packages/angular_devkit/build_angular/src/dev-server/index.ts#L261) which solve this issue.

If you're on an older version, I can add some code to single-spa-angular to fix it.

[2019-05-14 01:24] HemendPatel63 commented on #74
I am using the version 7.3.6. Let me check if I have missed any thing.

[2019-05-14 03:00] joeldenning commented on #74
One gotcha with browsers and headers is that if you go directly to a URL, the server will not send CORS headers and the browser will cache the headers. So then when you access the URL from a different domain the cached headers don't have CORS and it fails.

So maybe clear cache?

If not that, maybe push a repo that reproduces the problem?

[2019-05-14 14:36] HemendPatel63 commented on #74
I have created repo @https://gitlab.com/Hemendra.patel/spaapps
I have followed below step to do the setup

npm i
npm run build:single-spa
appcmd add site /name:navbar /id:70 /bindings:http/*:88: /physicalPath:C:\SPA\navbar\dist\navbar
appcmd set config navbar /section:system.webServer/directoryBrowse /enabled:true

npm i
npm run build:single-spa
appcmd add site /name:angularspa1 /id:71 /bindings:h

[2019-05-16 16:07] HemendPatel63 commented on #72
is there any update on this?

[2019-05-17 19:23] HemendPatel63 opened #75 "HttpErrorResponse return status code 0 and description "Unknown Error""
I have implemented HttpInterceptor to log service exception and noticed that it's always give the status code 0 and statusText description"Unknown Error" as we are getting XHR value null and it will return the default value set while calling the base function (  **_super.call(this, init, 0, 'Unknown Error')** ).

var HttpErrorResponse = /** @class */ (function (_super) {
    Object(tslib__WEBPACK_

[2019-05-18 23:39] HemendPatel63 opened #76 "localization issue using i18n"
I am trying to implement localization using angular i18n tool. This tool use -- baseHref /language code/ to manage the navigation to specific language. In our single spa design, we are using common html file without baseHref.
Also we have multiple apps and are use APP_BASE_HREF to bootstrap the specific app.
providers: [{ provide: APP_BASE_HREF, useValue: '/app1/' },

I have tried to specify the b

[2019-05-21 10:10] joeldenning commented on #76
Hmm I'll have to think about that one. Using the base href for i18n is a pretty odd choice by Angular. I don't have time to look into this deeply right now, but will look at this in the next week or two.

[2019-05-21 10:11] joeldenning commented on #75
I don't think this is related to single-spa-angular. Am closing for now, feel free to reopen if it is caused or related to single-spa or single-spa-angular.

[2019-05-21 10:11] #75 closed

[2019-05-21 10:15] joeldenning commented on #72
How are you jumping to test page? See related https://github.com/CanopyTax/single-spa-angular/issues/64. My hope is that #64 can be resolved by setting the APP_BASE_HREF to `/` and then doing `<a routerLink="/app2/test">`.

I do not have time to look at this deeply right now, but will hopefully have time in the next week or two.

[2019-05-21 10:27] joeldenning commented on #64
I am on vacation right now but will take a look at this as one of my top single-spa-angular issues when I get back in a week or two.

[2019-05-21 17:01] amaneer94 commented on #74
I got the same issue when trying to link build main.xxxxxxxxxxx.js file which is hosted on any other server i.e. Apache Local www/html folder.
![Screenshot from 2019-05-21 21-57-03](https://user-images.githubusercontent.com/16270049/58115649-f2214400-7c13-11e9-9640-3b4d7b31ae88.png)

[2019-05-21 17:16] joeldenning commented on #74
@amaneer94 it sounds like you’re not using Ng serve (which uses webpack-dev-server that is configured to send CORS headers).

So your problem is not related to single-spa or single-spa-angular. Just CORS. To get Apache to send CORS headers, see https://enable-cors.org/server_apache.html

[2019-05-21 17:18] joeldenning commented on #74
@HemendPatel63 your problem is not related to single-spa or single-spa-angular. It’s just related to CORS and IIS.

You need to configure IIS to send Access-Control-Allow-Origin headers. See https://docs.microsoft.com/en-us/iis/extensions/cors-module/cors-module-configuration-reference.

I’m closing this since it’s not related to single-spa-angular.

[2019-05-21 17:18] #74 closed

[2019-05-22 11:41] amaneer94 opened #78 "Application unexpected behavior on clicking browser history back/forward buttons"
When I navigate through the application's router links all work perfectly. But when I try to navigate back using the browser's back button application shows multiple instances of angular components.

[code]
Please see the attached gif.
![Peek 2019-05-22 16-33](https://user-images.githubusercontent.com/16270049/58171870-64dffd00-7cb0-11e9-990d-8825ac032c28.gif)

[2019-05-22 11:52] amaneer94 commented on #78
One more thing this warning shows in console logs
`
core.js:16834 Navigation triggered outside Angular zone, did you forget to call 'ngZone.run()'?
`

[2019-05-22 12:18] rknash18 opened #79 "coexisting angular apps with different versions (4 , 5 and 7)"
I am trying to integrate angular 4 , 5 and 7 applications using single-spa-angular. Please let me know if this library supports applications with different angular versions.

I have generated a main.bundle.js file for angular 4 application and its different from the main.js file generated for angular 7 , please let me know how we can generate a file similar to the main.js using angular 4/5 version

[2019-05-22 13:40] HemendPatel63 commented on #72
Hi joeldenning,

Routing is working within app but when we are trying to move from one sub-app to other having route configuration then it is not working. It try to find the route with in the current app routing module.

[2019-05-22 13:46] HemendPatel63 commented on #76
I have fixed this issue by setting APP_BASE_HREF value at build using angular.json configuration. Also I have created separate environment file for each language to support lazy loading and base_href value.

[2019-05-22 13:46] #76 closed

[2019-05-22 13:48] HemendPatel63 commented on #74
I am so very thankful for your time!.
Yes - Its require IIS  core extension.

[2019-05-25 06:40] joeldenning commented on #78
The console warning is unrelated. See #53

Could you push a minimal repo that reproduces the error shown in the gif? I won't be able to look at this until next week, but a github repo that reproduces the issue would help me debug a lot.

[2019-05-25 06:47] joeldenning commented on #79
Are you using the schematics that are part of single-spa-angular@beta? In other words, are you doing `ng add single-spa-angular@beta`?

Note that single-spa-angular@beta has been tested in Angular 5 (i think), 6, and 7, but I'm not sure about Angular 4. So there's a chance that it doesn't yet work with Angular 4. To verify if that's what it is, let's start with the question about whether you're us

[2019-05-28 13:03] amaneer94 opened #80 "styles.scss conflict across micro-frontend applications"
Hi @joeldenning. Hope you are doing great.

I am facing styles scss conflict issues when my 2 or more micro frontend applications have the same CSS class names in style.scss file of every application. Sometimes styles overriding happens unexpectedly. What would be the best practice to avoid it?

[2019-05-29 12:03] amaneer94 commented on #78
@joeldenning, After a lot of exploring the topics on Angular router-outlet, ngZones, Change Detection and of course your discussion in issue https://github.com/CanopyTax/single-spa-angular/issues/53 . I tried the following piece of code in the sub-application's root component's `constructor` and it solved my UI problem also application became stable like magic.

[code]
I dont know whether this is

[2019-05-31 10:23] gowthamSelvaraj commented on #58
Loading from different domain is working unless its is lazy loaded.

I'm using angular 7 and register application in main app using system js

[code]
now the main app is loading, I have no issues here in about-us angular app i have a lazy loaded module for route link '/lazyload'. So when i navigate its trying to load the lazy loaded module from the host of the main app rather than http://localhost

[2019-05-31 15:14] joeldenning commented on #58
@gowthamSelvaraj the answer to your question is [webpack public path](https://webpack.js.org/guides/public-path/#on-the-fly). See related [set-public-path.js](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/app1/src/set-public-path.ts) and https://github.com/systemjs/systemjs/issues/1939

[2019-06-06 20:58] joeldenning commented on #64
Apologies for the month-long hiatus. I looked at this just now.

Unfortunately, I don't think that I understand what problem you are reporting. My understanding is that with Angular you must provide either APP_BASE_HREF or `<base href="">`. They are listed in [Routing Basics documentation](https://angular.io/guide/router#the-basics). In coexisting-angular-microfrontends, I am putting `/` as the ba

[2019-06-06 21:02] joeldenning commented on #80
Welcome to global styles 😄

A couple options:
1) Use [component styles instead](https://angular.io/guide/component-styles#component-styles)
2) You can use a [BEM](http://getbem.com/introduction/) style of naming all of your styles.scss classes to avoid conflict. You wouldn't need to go all-in with BEM, but maybe just something like this:

[code]

Closing this since I've answered the question. Feel

[2019-06-06 21:02] #80 closed

[2019-06-06 21:03] joeldenning commented on #79
I am closing this because of inactivity. Feel free to reopen with the answers to my questions above ^

[2019-06-06 21:03] #79 closed

[2019-06-06 21:34] joeldenning commented on #78
I am still unable to reproduce this problem. If anyone can push a repo that reproduces this would help. The back button works when navigating at http://coexisting-angular-microfrontends.surge.sh/.

Your code is forcing an [angular change detection tick](https://angular.io/api/core/testing/tick) every time that the route changes. Which is pretty similar to what older versions of single-spa-angular

[2019-06-06 21:34] #78 closed

[2019-06-06 21:36] joeldenning commented on #72
See [my other comment](https://github.com/CanopyTax/single-spa-angular/issues/64#issuecomment-499665214) that is related to APP_BASE_HREF. I would recommend setting the base href to `/` instead of `/`.

I'm closing this because of inactivity, but feel free to reopen if there's more to discuss.

[2019-06-06 21:36] #72 closed

[2019-06-06 21:37] joeldenning commented on #71
The first thing to check with this is if you are calling `event.preventDefault()` on form submission, which is what prevents the page reload.

I am closing this because I don't have a way to reproduce the problem. Feel free to comment further or reopen with a repo that reproduces the problem.

[2019-06-06 21:37] #71 closed

[2019-06-06 22:12] joeldenning commented on #70
The issue with the serve package is reported here: https://github.com/zeit/serve/issues/525.

I will be submitting a PR to serve to fix this

[2019-06-06 22:27] joeldenning commented on #70
Just submitted https://github.com/zeit/serve-handler/pull/89 which fill fix `serve` to work in windows. In the meantime, I have [downgraded coexisting-angular-microfrontends to 10.1.1](https://github.com/joeldenning/coexisting-angular-microfrontends/commit/7d7050c8dd02d19fc350788a7d349f465b850167), which works around the issue until that PR is merged.

Closing this since it's now working.

[2019-06-06 22:27] #70 closed

[2019-06-07 02:55] joeldenning commented on #65
Awesome, glad to hear that you got everything resolved.

[2019-06-07 02:55] #65 closed

[2019-06-07 02:56] joeldenning commented on #63
Closing this due to inactivity. Feel free to reopen with further comments and questions.

[2019-06-07 02:56] #63 closed

[2019-06-07 04:12] joeldenning commented on #59
Here's a solution that works for this. I'm open to ideas to making this easier, but I'll post this here as a solution and close this issue for now

app.component.html ([example](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/app1/src/app/app.component.html#L9))
[code]

app.component.ts ([example](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/ma

[2019-06-07 04:12] #59 closed

[2019-06-07 04:14] joeldenning commented on #58
Closing because original issue seems to be solved.

[2019-06-07 04:14] #58 closed

[2019-06-07 04:27] #41 closed

[2019-06-07 04:28] joeldenning commented on #51
This actually is the `--prefix` option with `ng new`. See the documentation for it here: https://github.com/CanopyTax/single-spa-angular#configuring-multiple-apps

[2019-06-07 04:28] #51 closed

[2019-06-07 04:28] joeldenning commented on #18
Closing this because of inactivity - happy to add this if people ask for it.

[2019-06-07 04:28] #18 closed

[2019-06-07 11:02] ss00445018 opened #81 "Interapp communication with apps on different servers"
Hi, @joeldenning

I was trying to achieve inter app communication with my base as coexisting-angular-microfrontends (tried the example and it was very helpful).

I have 4-5 buttons on app1, and based on the users click, i would like the contents in app2 to populate accordingly. Just like the example both the apps are on different servers (4201, 4202).

Kindly assist with the approach to be followe

[2019-06-07 16:36] joeldenning commented on #81
Options:

1. **Use routes** (preferred solution). Have each of the buttons in app1 be `<a routerLink="/some-route"></a>`. Then in app2, use routes to control which content is rendered. This is by far the best solution, if it makes sense for your situation.

2. **Use ESM modules** to communicate.
In app2's single-spa.main.ts
[code]

3. **Fire events**. You can either look for an npm library that do

[2019-06-07 16:36] #81 closed

[2019-06-11 05:53] kbjerke commented on #64
Seems like if I change app1 and app2 to "/", then the "micro-app" won't even load. It just redirects to the root path.

[2019-06-11 18:44] joeldenning commented on #64
update your other routes to have `/app1/` in them or `/app2`. So the base route is empty, but the actual routes have the prefix in them

[2019-06-14 15:41] movimento opened #82 "(Angular 8): Not able to build application"
I'm new to angular, and just trying to follow the Readme instructions...
but can't build the application.

**_$ ng build_**
Could not find the implementation for builder single-spa-angular:build
Error: Could not find the implementation for builder single-spa-angular:build
    at WorkspaceNodeModulesArchitectHost.resolveBuilder

Somehow I think that the problem is with Angular and CLI  **8** suppor

[2019-06-17 21:01] joeldenning opened #83 "Angular 8 Support"
This issue is a master issue for all things for getting initial support of Angular 8

- [ ] https://github.com/CanopyTax/single-spa-angular/issues/52
- [ ] https://github.com/CanopyTax/single-spa-angular/issues/82

[2019-06-17 21:02] joeldenning commented on #82
Yeah single-spa-angular is not yet compatible with angular@8. Very much on the roadmap, though. I created https://github.com/CanopyTax/single-spa-angular/issues/83 to track overall progress.

[2019-06-22 11:43] cleisommais commented on #82
I had the same issue, however, if you change the version only "@angular-devkit/build-angular" and "@angular/cli" devDependencies you will fix the issue. In my case, are 4 different Angular 8 projects with Material Design and Google Charts, after correct changes everything works fine.
The dependencies with the new version:

-     "@angular-devkit/build-angular": "~0.13.0",
-     "@angular/cli": "~7

[2019-06-22 11:44] cleisommais commented on #52
I had the same issue, however, if you change the version only "@angular-devkit/build-angular" and "@angular/cli" devDependencies you will fix the issue. In my case, are 4 different Angular 8 projects with Material Design and Google Charts, after correct changes everything works fine.
The dependencies with the new version:

-     "@angular-devkit/build-angular": "~0.13.0",
-     "@angular/cli": "~7

[2019-06-23 14:51] joeldenning opened #84 "Enhance schematics so that they automatically add EmptyRoute"
See https://github.com/CanopyTax/single-spa-angular/blob/fbafd823bdde4ddeca2f9b259d5b927c6eb9e17e/README.md#add-a-route.

All of this could probably be done with a schematic ^ - the user already answers whether they're doing routing or not.

[2019-06-23 15:00] joeldenning opened #85 "Figure out webpack public path and make schematic for it"
See related https://github.com/systemjs/systemjs/issues/1939 and https://github.com/joeldenning/coexisting-angular-microfrontends/blob/53d2a7e8f1e3ef2658113aed22b29ebb7eebe065/app1/src/set-public-path.ts#L2

[2019-06-23 18:16] ernestlv opened #86 "Browser back button does not work when using Angular Router and Single SPA"
In Angular 7 if you use angular router to switch between a home page and details page everything works OK as long as you use "routerLink" in an anchor tag but if you click the browser back or forward button seems angular change-detection stops working. Components are rendered but Template properties are not updated.

I cloned the coexisting-angular-microfrontends repo and updated it with an exampl

[2019-06-23 18:34] joeldenning commented on #86
Just tried this out and I saw the issue. We might need to reinstate [this hacky code](https://github.com/CanopyTax/single-spa-angular/blob/8f8304a851b7ae09416c0cf78adbd04fecc59a3c/src/single-spa-angular.js#L48-L62) to get change detection working.

Can you try adding the `applicationRef.tick()` inside of a `single-spa:routing-event` event listener and let me know if it works? Angular change detect

[2019-06-24 00:22] ernestlv commented on #86
applicationRef.tick() did not quite work. I used ngZone.run() instead. That seems to fix the issue

check here -> https://github.com/ernestlv/angular-spa/blob/master/app2/src/main.single-spa.ts

[2019-06-24 05:46] joeldenning commented on #86
Interesting -- I took a look at this last night as well. I'll look into Zone.run() as a solution.

[2019-06-24 06:52] joeldenning commented on #86
Resolved via #89

[2019-06-24 06:52] #86 closed

[2019-06-24 07:04] joeldenning commented on #86
Released in [3.0.0-beta.24](https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-beta.24)

[2019-06-24 09:12] kbjerke commented on #64
Your suggestion worked, I may have misunderstood you previously. Appreciate the response. Closing it :)

[2019-06-24 09:12] #64 closed

[2019-06-24 18:19] ernestlv commented on #86
Hello

I tried release 3.0.0-beta.24 but getting below error on "npm start"

ERROR in node_modules/single-spa-angular/lib/browser-lib/single-spa-angular.d.ts(1,38): error TS2307: Cannot find module 'single-spa'.

Looks like this line:
import { AppProps, LifeCycles } from 'single-spa'

is looking for "single-spa" in the node_modules of the child application.

[2019-06-25 13:37] joeldenning opened #90 "Bug: typescript fails if you don't have single-spa installed"
See https://github.com/CanopyTax/single-spa-angular/issues/86#issuecomment-505122646

[2019-06-25 13:37] joeldenning commented on #86
Ah I added single-spa as a peer dependency to single-spa-angular for it's types, but yeah that won't be downloaded by default. Workaround is to `npm install single-spa` inside of your projects.

I've opened https://github.com/CanopyTax/single-spa-angular/issues/90 to track this

[2019-06-25 14:18] ernestlv commented on #86
I am testing the NgZone.run approach. Browser back button now works OK but “single-spa:routing-event” is fired at least three times. If we have a few Angular components with several other nested components, that use @input, @output decorators. Component performance becomes very slow, after I navigated back using browser back button. However, if I use routerLink “single-spa:routing-event” is fired

[2019-06-26 02:57] WaBriones commented on #83
@joeldenning , just a question and a user of your single-spa-angular helper. We're currently on Angular 7 and have single-spa-angular for our microfrontend approach. With Angular 8, doesn't the dynamic loading of Angular 8 support what single-spa offers? Sorry, just a newbie question when it comes to micro frontends.

[2019-06-26 11:06] #90 closed

[2019-06-26 11:14] joeldenning commented on #90
Pretty sure this is fixed with beta.15 -- I added single-spa as a dependency. @ernestlv

[2019-06-26 14:58] joeldenning commented on #83
@WaBriones could you point me to some resources to read about the Angular 8 "dynamic loading"? Most of what I've read about Angular 8 has been related to Ivy Compiler, or also the stuff described [in this blog post](https://blog.angularindepth.com/embrace-yourself-angular-8-is-coming-1bf187c8f0bf)

[2019-06-27 01:40] WaBriones commented on #83
Hey there, found it here: https://medium.com/@tomastrajan/why-and-how-to-lazy-load-angular-libraries-a3bf1489fe24

Unless I misunderstood the concept entirely.

[2019-07-05 05:41] #85 closed

[2019-07-05 05:42] joeldenning commented on #59
I have found a good strategy for this. The best way to load assets with single-spa is now described in https://github.com/CanopyTax/single-spa-angular#angular-assets. See related #85

[2019-07-05 05:55] #84 closed

[2019-07-05 06:00] joeldenning commented on #83
Hey @WaBriones, thanks for the link. single-spa applications are closest to what the blog author calls "sub-applications". One big difference in implementation approach between what he encourages in the blog post vs what we do in single-spa is that single-spa does not require nor encourage a parent/child relationship between your single-spa applications, whereas "sub-applications" do require that.

[2019-07-05 06:30] WaBriones commented on #83
Right! I understand now, I forgot the main feature of single-spa is that its framework agnostic. So, if say we go the pure Angular route, would that negate the need for single-spa?

[2019-07-05 06:34] joeldenning commented on #83
Going pure angular with single-spa offers some good things, including independent deployments for each of the single-spa applications, as well as separate git repos, separate build processes, etc. All within the same SPA.

Not sure if other angular solutions offer that kind of thing or not, but I think that using pure angular and single-spa together makes sense to gain those benefits. ^

[2019-07-05 09:49] WaBriones commented on #83
With that, when do you think the support for Angular 8 will push through? :)

[2019-07-05 15:53] joeldenning commented on #83
Your timing is great -- I worked on Angular 8 support yesterday and plan on continuing to do so today. I hope to finish Angular 8 support today, but don't really know if there will be unforeseen hurdles. I'm currently working on #82

[2019-07-05 22:56] #83 closed

[2019-07-06 02:26] joeldenning commented on #82
This is fixed in beta 27 and release candidate 0

https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-rc.0

[2019-07-06 02:26] #82 closed

[2019-07-06 15:14] joeldenning commented on #62
I believe this is related to [not having an EmptyRouteComponent as the `**` route](https://github.com/liuyiba/Single-spa-angular-cross-domain/blob/master/app2/app2/src/app/app-routing.module.ts#L8). Additionally, you need to add the APP_BASE_HREF with useValue `/`as a provider in app-routing module. See [this documentation](https://github.com/CanopyTax/single-spa-angular#add-a-route) for how to fi

[2019-07-06 15:14] #62 closed

[2019-07-06 15:30] joeldenning commented on #83
Angular 8 is supported in [single-spa-angular@3.0.0-rc.0](https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-rc.0)

[2019-07-06 19:47] joeldenning commented on #59
See new documentation for this at https://single-spa.js.org/docs/ecosystem-angular.html#angular-assets

[2019-07-08 02:04] WaBriones commented on #83
Thank you so much Joel!

[2019-07-08 09:27] RamyaGowrugolla opened #92 "Single SPA as standalone apps"
It is mentioned in your [documentation for Angular 7](https://single-spa.js.org/docs/ecosystem-angular.html#serving) that Single SPAs cannot be opened up as a html file and these applications all share one html file. In our use case we need to keep these Single SPAs independently accessible too. They will be hosted separately as stand alone websites. This was apparently possible in the older singl

[2019-07-08 21:11] joeldenning commented on #92
Maintaining two slightly different deployed instances of the same code seems like it could be tough to maintain, but yes it should still be possible with single-spa-angular@3.

To do this:

1) Inside of your angular.json, change `projects.{projectName}.architect.build.builder` and `projects.{projectName}.architect.serve.builder` back to the original Angular defaults. For `build`, change it back to

[2019-07-08 21:11] #92 closed

[2019-07-09 08:17] petemcwilliams opened #93 "rc.0 is not backwards compatible with angular 7"
Was it necessary to force the package to insist on Angular 8 cli etc.  Ionic is still on Angular v7 which is causing conflicts.

[2019-07-09 09:50] ashuaggarwal94 opened #94 "Back Button Not working!!"
Hi,

I have been facing an issue with the single spa framework and angular routing, in which when i move from one component after performing the functionality like search and then i move to another component. And then, press the browser back button and the UI is not getting rendered correctly or functionality doesn't work the way it should.
For reproducing the issue, the below repo has been create

[2019-07-09 12:05] amaneer94 commented on #94
I am facing the same kinda problem.

[2019-07-09 14:53] joeldenning commented on #93
I didn't "insist" on Angular 8. single-spa-angular@3.0.0-rc.0 is compatible with both Angular 7 and Angular 8. I tested it with Angular 7 three times before publishing.

You have not reported any specific error, shared a stacktrace, or a way to reproduce the error. Which makes your reported issue impossible for me to debug. Your issue frustrates me because it seems argumentative and full of assump

[2019-07-09 14:53] #93 closed

[2019-07-09 15:05] petemcwilliams commented on #93
[code]
etc

[2019-07-09 15:08] joeldenning commented on #93
Those are warnings, not errors.

I am trying this out again locally to see if I can find an error. Thus far, I ran into an error that is not what you showed in your output. The error is related to a difference between my local development flow with `npm link` and what happens when it's not local development.

[2019-07-09 15:13] petemcwilliams commented on #93
Ok, I accept they are warnings rather than errors, they do concern me though, I would expect if a module author is allowing other versions of third party packages then there should not be the warnings indicating that a later version of the software is not installed.

I did not mean to seem argumentative or wind you up, if you read the words in their exact meaning then it is more precise than argum

[2019-07-09 15:31] joeldenning commented on #93
Interpreting written text can be hard.

However, you doubling down and saying that your words had a "precise" meaning is also frustrating. Your original post was (1) very unclear with no relevant information contained within it, (2) based on a false assumption, and (3) complaining about and accusing the maintainers of this project ("was it necessary to insist"). You have indicated that I just didn

[2019-07-09 15:54] joeldenning commented on #93
single-spa-angular@3.0.0-rc.1 is released with a fix for this https://github.com/CanopyTax/single-spa-angular/releases/tag/v3.0.0-rc.1

[2019-07-09 16:08] joeldenning commented on #94
I'm taking a look at this now - hopefully I can find the issue.

[2019-07-09 16:40] joeldenning commented on #94
The behavior that I'm seeing is that the back button works but that when you attempt to search again that I get an error. Is the below gif what you're seeing?

![back-button-1](https://user-images.githubusercontent.com/5524384/60907056-db6f9480-a235-11e9-986c-4af011f755c6.gif)

[2019-07-10 06:15] ashuaggarwal94 commented on #94
My bad!!! Changed the code, can you please pull the code changes and try now!!
We are not getting the error now!! even in above case we should not have got the error. But we got. As of now instead of two way binding i have declared a template variable now.

Thanks,
Ashutosh

[2019-07-11 03:31] deepdmistry opened #95 "NPM Warning for requiring @angular-builders/custom-webpack@^8"
Using single-spa-angular@3.0.0-rc.1

Other details of system:
[code]

[2019-07-11 19:07] #95 closed

[2019-07-18 16:38] joeldenning commented on #94
With your new changes to the code, I am no longer seeing any errors and the back button is working perfectly. I tested in both Firefox and Chrome.

![back-button-bug](https://user-images.githubusercontent.com/5524384/61475474-18c7d680-a948-11e9-8b3e-569385adebee.gif)

Is this different than what you're seeing locally?

[2019-07-24 10:07] amaneer94 commented on #78
Hi @joeldenning
I am still having the same problem with browser back/forward buttons even I have upgraded the single-spa-angular to ^3.0.1.
I have been able to prepare a repo, you would be able to produce the issue.

https://github.com/amaneer94/single-spa

[2019-07-24 10:09] amaneer94 commented on #78
![Peek 2019-07-24 15-04](https://user-images.githubusercontent.com/16270049/61785386-0dcbe500-ae25-11e9-88b4-5b65007a1cce.gif)

[2019-07-25 08:57] amaneer94 opened #96 "What is the best way to notify the user that one or many applications are updated on server and the user needs to reload (hard-reload) the browser?"
As we know that the co-existing applications are cached. The previous version of the applications keeps showing until we hard-reload the browser (Ctrl + F5). Is there any way we can notify the end user that new version of that particular application is updated and he/she needs to hard reload the browser.

[2019-07-25 15:41] joeldenning commented on #96
A couple options:

1) Put the code for each service into a directory with the commit hash. See https://app.staging.jumpsoftware.com/import-map.json, https://openmrs-spa.org/import-map.json, and https://cdn.canopytax.com/sofe-manifest.json for import maps that use this method. See https://github.com/openmrs/openmrs-esm-root-config/blob/master/.travis.yml and https://travis-ci.org/openmrs/openmrs-es

[2019-07-25 15:41] #96 closed

[2019-07-25 22:30] rknash18 opened #97 "Single SPA Portal with multiple applications not working in IE11"
We have a spa portal with multiple applications and its working in chrome and firefox but not in  IE.  please let me know we need to make any changes specific to IE browser.

single-spa-angular version : 3.0.0-beta.21

![image](https://user-images.githubusercontent.com/36893778/61913051-899b5f80-af01-11e9-9560-e8723b06b85d.png)

[2019-07-25 22:37] joeldenning commented on #97
Hi @rknash18. Internet Explorer support is explained in https://single-spa.js.org/docs/ecosystem-angular.html#internet-explorer. That section of the docs should show you how to resolve this.

Closing for now but feel free to comment with further discussion

[2019-07-25 22:37] #97 closed

[2019-07-27 18:54] joeldenning opened #98 "Implement generic component for rendering single-spa parcels."
See https://single-spa.js.org/docs/ecosystem-react.html#parcels for how single-spa-react does this.

[2019-07-31 16:12] amaneer94 commented on #78
Hi, @joeldenning I am looking forward to hearing from you.

[2019-07-31 23:12] rknash18 opened #99 "SPA Portal- Bootstrap styles"
Bootstrap less files are overriding when navigating between applications in a spa portal.

when navigating from APP1 to APP2 , styles from APP1 are overriding the styles in APP2.

[2019-08-01 04:35] joeldenning commented on #99
single-spa doesn't change the global nature of css rules, but there are many well established patterns for scoping your css to only one component at a time or within an application. For example, you can [scope your css](https://angular.io/guide/component-styles) with Angular, or you can wrap your applications in a div and then scope your css that way:

[code]

[2019-08-01 04:35] #99 closed

[2019-08-01 16:06] joeldenning commented on #94
<img width="864" alt="image" src="https://user-images.githubusercontent.com/5524384/62309086-fc499500-b443-11e9-8cfe-7653664f7c12.png">

Link to repo that demos the problem: https://github.com/korjikk/angular-single-spa-routing-issue

[2019-08-01 22:06] RaviCk57 opened #100 "Bootstrap LESS files issues while navigating between apps"
Hi,

Looked at the previous issues related to bootstrap CSS but none of them helped me. Below is my issue.
When I'm in an App1 after logging in. It works great. Everyhting looks perfect. no alignment issues.
But after I go to App2 and then back to App1, the pages look messy. After inspecting it I found out: the .less are adding up and casuing the issue but turns out i have no less files in Node mo

[2019-08-01 22:07] RaviCk57 commented on #100
![issue1](https://user-images.githubusercontent.com/49765088/62330608-cb3a8600-b47e-11e9-9dc0-5f05d04b4655.PNG)

[2019-08-02 14:03] ashuaggarwal94 commented on #94
Hi @joeldenning ,

I tried downgrading the router but it had started giving me error while i was building the project.
One more thing that i have observed is we are able to run the application if we are using enter (the way u are doing) but the submit button is not working!!

<input (keyup.enter)="onClick()" />

We had found an alternative to the problem as of now by using ChangeDetectorRef and ca

[2019-08-02 20:40] joeldenning commented on #100
Only load one version of bootstrap. Do this in the root html file instead of inside of any of the apps. Your code probably has a js import or css import loading the bootstrap files, and you should delete those lines of code in favor of the root html file loading bootstrap

[2019-08-02 20:40] #100 closed

[2019-08-04 23:57] joeldenning commented on #60
oops accidentally closed. Reopening now

[2019-08-12 18:53] rknash18 commented on #94
I am experiencing the similar issue when using the browser back button.

![back button issue](https://user-images.githubusercontent.com/36893778/62890091-541bb200-bd08-11e9-8c95-e6c60c0f39eb.gif)

[2019-08-14 04:29] joeldenning commented on #94
Since it's been hard for me to get around to this issue, I scheduled some time on my calendar Friday morning to look into this. Which will hopefully guarantee that some attention is given to this issue, since it appears to be severe and common.

[2019-08-14 19:28] sand-head commented on #94
we're running into a similar issue when using resolvers with our routing in two different Angular apps running on versions 7 & 8.

starting on a route with a resolver attached, if we navigate off of that route using a `[routerLink]`, then click the native browser back button to head back to the original route, a `NavigationStart` event fires and we hit the resolver, but we then receive a `Navigati

[2019-08-15 17:35] sand-head commented on #94
we've discovered that our issue was being caused by having more than one Angular router on page at a time when using a resolver on one of them and pressing either back or forward in the native browser controls. we're worked around this for now by removing the router on our navbar application, and things seem to be working well.

[2019-08-16 05:19] joeldenning commented on #78
I will look at this tomorrow, in conjunction with looking at #94

[2019-08-16 17:14] joeldenning commented on #94
@korjikk I just took a look at https://github.com/korjikk/angular-single-spa-routing-issue. There is no bug there. It does not demonstrate a problem with single-spa-angular. Instead it just is a duplicate of https://github.com/CanopyTax/single-spa-angular/issues/53, which is a harmless console warning.

I'm going to take a look into other github issues that reproduce this problem.

[2019-08-16 17:15] joeldenning commented on #94
@ashuaggarwal94 do you have a github issue that reproduces the problem? Our discussions above were me unsuccessfully trying to reproduce the problem, and the repo you provided did not demonstrate the problem.

[2019-08-16 17:16] joeldenning commented on #94
@rknash18 could you provide a github repo that replicates the issue. I am unable to fix this without having a way of reproducing the problem.

[2019-08-16 17:21] joeldenning commented on #94
@sand-head that's an interesting insight about Angular Router resolvers.

Could you create a github repo that demonstrates the problem that occurs when you have resolvers? Also, am I understanding you correctly that it was **only** happening when using a [resolver](https://angular.io/guide/router#fetch-data-before-navigating), not when there was no resolver?

[2019-08-16 17:30] joeldenning commented on #94
@amaneer94 I was able to reproduce the problem that you described in https://github.com/CanopyTax/single-spa-angular/issues/78#issuecomment-514569613 that is demonstrated by https://github.com/amaneer94/single-spa.

Your project does not have an Angular Router resolver like @sand-head indicated was part of his issue. I am taking a look at this right now to try to diagnose.

[2019-08-16 17:47] joeldenning commented on #94
I unfortunately have to take off right now, but learned a few things while looking at @amaneer94's issue. First thing is that I think that this might be related to #86. Which would explain why @ashuaggarwal94's code that does `this.ref.detectChanges();` is a work around for the problem.

Angular's change detection, which is related to NgZone and zone.js, is somehow getting confused such that it's

[2019-08-16 18:57] korjikk commented on #94
@joeldenning , thank you for checking out the repo with the issue. Seems that i wasn't clear enough in stating the reproduction steps. Please check the GIF below, it clearly demonstrates the bug stated by me (routing breaks with 'single-spa').

![bug repro](https://user-images.githubusercontent.com/16175764/63191162-89116700-c070-11e9-88c6-a62f640a3ee1.gif)

[2019-08-16 22:42] joeldenning commented on #94
Ah okay, thanks for the clarification. I'll take a look at that repo while debugging this.

[2019-08-20 13:48] metallidevils opened #101 "Cannot load font-awesome and material-icons"
Hi,

I have a single-spa-angular website that is mostly working. However no matter where I set the deployUrl, whenever my application tries to download the icons related to material-icons or font-awesome, the app tries to download them from the server hosting the index.html, not the single-spa angular application. Any help would be appreciated!

[2019-08-20 16:13] joeldenning commented on #101
Angular 7? Or Angular 8?

[2019-08-20 16:14] metallidevils commented on #101
Angular 8. Also same problem with ngx data table. Basically any dependency
that tries to load a font, fails. Everything else works.

On Tue, Aug 20, 2019 at 12:13 PM Joel Denning <notifications@github.com>
wrote:

[2019-08-20 16:26] joeldenning commented on #101
Is this happening during `ng serve` or `ng build`? When I last looked at this, the `--deployUrl` fixed it, but it took me seriously 4 hours to realize that that is what was needed. You might be on your own for this one, because my desire to debug your project for 4 hours is pretty low 😄

My experience with angular cli is that if you keep on adding cli arguments it sometimes will work.

[2019-08-20 16:26] #101 closed

[2019-08-27 09:57] mohamedJeddi commented on #74
Hi @HemendPatel63 how id you fix this issue using IIS core extension please ,?!!! Because i have the same issue !!!

[2019-08-28 14:22] mohamedJeddi commented on #74
Okay thanks for your response and I'll will try it

Le mer. 28 août 2019 à 3:20 PM, HemendPatel63 <notifications@github.com> a
écrit :

[2019-08-29 07:15] RamyaGowrugolla commented on #92
Hi Joel,
Further to your suggested approach above. How does the application have to be packaged and deployed? we generally generate bundles with the Angular CLI [ng build --prod/test/dev ] and deploy the bundles on IIS (.NET web server, Internet Information Services).

[2019-08-29 14:51] joeldenning commented on #92
Could you clarify if you're asking about the application's bundling and deployment as a single-spa application or as a normal Angular application? The answer is different for each

[2019-09-04 03:25] RamyaGowrugolla commented on #92
Need it for both Joel. It would be preferable to have the same deployment/package work for both the single spa and the normal angular application.  It is a Microfrontend architecture with stand alone apps that also need to be working as normal angular apps.

[2019-09-04 17:19] joeldenning commented on #92
This is not part of the my design goals of single-spa-angular. You can follow the instructions [from my previous post](https://github.com/CanopyTax/single-spa-angular/issues/92#issuecomment-509393411) that show how it might be possible, but it is not something that is recommended or actively supported.

[2019-09-10 20:16] joeldenning opened #102 "Lazy loaded routes cause problems"
See https://github.com/joeldenning/coexisting-vue-microfrontends/issues/6#issuecomment-529284977. cc @yangangzhang

[2019-09-12 19:21] mzadrozny opened #103 "Problem with creating ng8 single-spa"
Can you help me with this? https://github.com/mzadrozny/test-spa
 I think i did everything like in documentation, but still cant get this working. I don't get any error in browser or in console, just app.component doesn't render/working :x

I try to make this with this part of documentation

https://single-spa.js.org/docs/ecosystem-angular.html

[2019-09-13 16:33] rknash18 opened #104 "Reloading core portal from app not working"
I have a SPA portal application with 3 individual apps and I can navigate through each applications with out any issues but when I try to reload the core portal from  individual app its not working.

when I am in app2 and trying to re-load the portal using  this.router.navigateByUrl('/') , the url on the browser changes but the portal not loading.

setting window.location.href = '/'  working but t

[2019-09-13 17:35] joeldenning commented on #104
Could you please provide a github repo that demonstrates the problem?

[2019-09-13 17:37] joeldenning commented on #103
Please follow the tutorial at http://single-spa-playground.org/playground, which will help you diagnose many potential problems.

If that doesn't help you get it working, reopen this issue.

[2019-09-13 17:40] joeldenning commented on #103
Ah actually I just now saw that you already have tried single-spa-playground in https://github.com/CanopyTax/single-spa-playground/issues/7.

What is the URL that you are trying to download the angular application from? If you go to that url in the browser, does it properly load?

[2019-09-13 18:54] #104 closed

[2019-09-16 07:26] quocnt opened #105 "Custom webpack splitChunks"
Hi,
I just added this custom webpack script on **extra-webpack.config.js** for caching common framework and angular library.

[code]
seem like it's error. If I remove it. It will work. So can we do that or anyway ?
thanks

![image](https://user-images.githubusercontent.com/4684829/64940324-e24a0180-d88d-11e9-8ebf-5e38e281a852.png)

[2019-09-16 15:46] joeldenning commented on #105
Webpack has two ways of doing code splits: 1) dynamic import and entry points, 2) optimizations block in webpack config. Only option 1 works with single-spa. This does not mean that your bundle is un-optimized. It’s just different approaches to bundling.

The reason that single spa requires option 1 is that single spa applications do not own their own html file, but rather share it with all the ot

[2019-09-16 15:46] #105 closed

[2019-09-16 23:44] quocnt commented on #105
Hi @joeldenning , thanks for your explanation.
![image](https://user-images.githubusercontent.com/4684829/65000367-888d1a00-d915-11e9-9a49-f46eb6a7afc7.png)

In my projects, shared as framework, app1 and app2 are using shared common modules so I just though split chunks then replace script html tag from app1, app2 to the same url might cache it.

In my case, is there any way if we must to use opti

[2019-09-17 04:51] joeldenning commented on #105
Interesting, thanks for the diagram and explanation. I would not recommend using commons chunks plugin to share between different bundles. Instead I would use in-browser ES modules in your import map.

In other words, make all of the shared things (like @angular/core) be in your import map. Then make them [webpack externals](https://webpack.js.org/configuration/externals/) in each angular applicat

[2019-09-19 14:52] metallidevils opened #106 "Trying to understand why MiniCssExtractPlugin is manually removed"
Hi,

I am looking at the example webpack config here:

https://github.com/CanopyTax/single-spa-angular/blob/b8b4daf87af4100935f6febee31a715d8e7529c8/src/builders/single-spa-webpack-builder.ts

I'm trying to understand the need for

  removePluginByName(mergedConfig.plugins, 'IndexHtmlWebpackPlugin');
  removeMiniCssExtract(mergedConfig);

I understand that the systemjs import will not work if thes

[2019-09-19 22:08] filoxo commented on #106
I think they're added to the webpack config by default when generated using the angular-cli. See https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/src/angular-cli-files/models/webpack-configs/styles.ts#L21
I have no idea where this resides in the generated project.

[2019-09-22 17:40] joeldenning commented on #106
The reason for removing IndexHTMLWebpackPlugin:

single-spa applications do not have their own html files. They all share one html file. This is why it is called "single" spa (there's only one SPA).

The IndexHTMLWebpackPlugin creates an html file for each application, which is not needed nor usable in the single-spa architecture.

The reason for removing MiniCssExtractPlugin:

The MiniCssExtractP

[2019-09-22 17:40] #106 closed

[2019-09-25 13:46] justrebeka opened #107 "coexisting-angular-microfrontends with angular 5 sub app"
Hello.

I am using the project coexisting-angular-microfrontends (https://github.com/joeldenning/coexisting-angular-microfrontends) and I am trying to add an angular 5 project as a child. The issue is that I get the following error when trying to click the link for my Angular 5 app:
_Access to script at 'http://localhost:4700/main.bundle.js' from origin 'http://localhost:4100' has been blocked by

[2019-09-25 20:51] alyssonnogueira commented on #104
Could you, tell Us what work around works? I'm with same problem here. Seems the HTML component is not rendering, but the ngOnInit is called, like router is not activate.

[2019-09-26 05:56] joeldenning commented on #107
Hi @justrebeka, thanks for the clear description and for having tried out everything in the documentation.

I'm not sure either. I don't know the differences between angular-cli.json and angular.json that occurred when Angular 6 came out. I do know that in Angular 6 there is a `builders` property that you can use.

The `builders` stuff is really important for `ng serve` to work properly -- in orde

[2019-09-26 13:30] justrebeka commented on #107
Hi @joeldenning . Thank you for your answer.

Below is my webpack.config.js file:

const fs = require('fs');
const path = require('path');
const CopyWebpackPlugin = require('copy-webpack-plugin');
const CircularDependencyPlugin = require('circular-dependency-plugin');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const rxPaths = require('rxjs/_esm5/path-mapping');
const autoprefixer =

[2019-09-26 19:04] joeldenning commented on #107
error ts2304: cannot find name `__webpack_public_path__`. when building the project

This is because typescript isn't aware of a variable called `__webpack_public_path__` until you `npm install @types/webpack-env`. See https://www.npmjs.com/package/@types/webpack-env for more info. You can also just add `// @ts-ignore` above the line of code and that will fix it.

I created https://github.com/just

[2019-09-27 12:50] justrebeka commented on #107
Thank you for your answer. I am unfortunately not able to make the app run, as I have an
 Cannot GET /
error even if I run the application standalone. If you have time you can have a look, I have updated app4 project.

Br, Rebeka

[2019-10-03 09:46] varora1406 commented on #103
Hey, I tried to add my angular application which is running at localhost to https://single-spa-playground.org/playground. But it failed to load with error
Error: Could not download app -- server didn't respond with javascript code, but with 'text/html; charset=UTF-8'

What is that I am not understanding correctly with playground documentation?

[2019-10-03 16:02] joeldenning commented on #103
@varora1406 what url are you attempting to download the angular application from?

[2019-10-07 04:26] HemendPatel63 commented on #60
I  am getting the similar issue when same name module existing in two different apps with lazylaod (with BrowserAnimationsModule)

![image](https://user-images.githubusercontent.com/49240619/66285051-83761780-e890-11e9-9b66-e4782707d5fd.png)

Try to navigate from app1 to app2 having the same module with lazyloading.

[2019-10-10 03:57] born2excite opened #108 "CORS policy" blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource"
Any help is much appreciated :)

### Problem
Access to script at https://platform-api.sharethis.com/js/sharethis.js
is blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource

**Proposed fix**
I've enabled CORS on the Origin Server for static resources, including js but the js from sharethis is still being blocked. so, I'm wondering if I can add a secon

[2019-10-10 06:21] joeldenning commented on #108
This issue doesn’t seem related to single-spa at all?

I don’t know what https://platform-api.sharethis.com/js/sharethis.js is. If all you are trying to do is execute it is a JavaScript file, I’d recommend just using a script tag for it, since script tags do not require CORS in order to work. Only fetch/Ajax requires cors.

I’m closing this because I see no connection to single-spa here. Feel free

[2019-10-10 06:21] #108 closed

[2019-10-10 22:06] mzadrozny commented on #103
I find my problem was with wrong single-spa playground configuration, The isseu can be closed now :)

[2019-10-10 22:06] #103 closed

[2019-10-14 16:24] SunilManthenaG01 commented on #60
When I have two different apps both where lazy loaded and using BrowserAnimationsModule and while navigating between each other have same module names errors the above errors for me as well.

[2019-10-31 09:53] AndrewGlazier opened #113 "URL Redirection Infinite Loop"
Issue seems to relate to this comment;
https://github.com/CanopyTax/single-spa-angular/issues/94#issuecomment-520550455
Creating a new ticket as I cannot reproduce using the browser back button.

This bug is reproducible in the vanilla example for coexisting angular micro-frontends found here:
https://github.com/joeldenning/coexisting-angular-microfrontends

Reproduction steps;
Using the navigatio

[2019-10-31 18:07] joeldenning commented on #113
I do not have time to work on this issue - outside contributions would be greatly appreciated.

[2019-11-04 13:01] Magefo opened #114 "Angular doesn't trigger detect changes between coexisting microfrontends"
The problem is related to detect changes on angular projects, when you build a portal and at least two angular microfrontends, when you fire an event in the mf1 and the mf2 is listening through router change or single spa update lifecycle the mf2 doesn't updte until you interact with it.

[2019-11-04 16:12] joeldenning commented on #114
Hi Magefo - the bug you've reported here is one that we've seen periodically for about 4 years. We have put in several workarounds in the past and then taken them out when they don't quite work out. This has been previously discussed in https://github.com/CanopyTax/single-spa-angular/issues/86

Our current workaround is this:

https://github.com/CanopyTax/single-spa-angular/blob/master/src/browser

[2019-11-05 13:53] Magefo commented on #114
thank you!

[2019-11-05 13:53] #114 closed

[2019-11-06 18:34] rknash18 commented on #113
@AndrewGlazier I have fixed this issue by adding the onSameUrlNavigation: 'reload' option to router module in angular.

[2019-11-07 07:47] joeldenning commented on #94
Can those in this thread confirm if the workaround suggested in https://github.com/CanopyTax/single-spa-angular/issues/113#issuecomment-550442522 works for them?

If so let's try to incorporate it into single-spa-angular.

[2019-11-07 07:48] joeldenning commented on #113
Oh wow thank you for sharing that @rknash18. It would be great if that workaround works for everyone else's issues they've been having, too. I've commented in #94 asking others to test if this works for them.

If it does, let's look into incorporating this into single-spa-angular so that all benefit from it.

[2019-11-07 10:09] ashuaggarwal94 commented on #113
Hi @joeldenning , @rknash18  ,

The solution provided in the comment does not work for me I m stilling using the changeDectection ref as an alternative.

[2019-11-07 17:06] rknash18 commented on #113
@ashuaggarwal94 I am not sure about the issue you are experiencing , I have fixed issue with router trying go back on forth when I clicked on a menu option.

[2019-11-08 17:31] vultix opened #115 "scss source maps are included in main bundle file"
### Problem
When creating a production build using single-spa-angular for an application that uses scss and has source maps enabled, the outputted main.js file contains the scss source map.

This causes the application styles to grow exponentially, especially when using scss dependencies like angular material.

### Steps to Reproduce

- Follow the [single-spa-angular Angular CLI start guide](https

[2019-11-08 20:58] joeldenning commented on #115
👍 thanks for the good description on this.

Do you know which webpack loader is used for Angular + Sass applications? Is it https://webpack.js.org/loaders/sass-loader/?

To fix this, we'd want to modify [the webpack config](https://github.com/CanopyTax/single-spa-angular/blob/master/src/webpack/index.ts) to [maybe turn off sass-loader's sourceMap option](https://webpack.js.org/loaders/sass-loader/

[2019-11-17 10:12] danyjaen commented on #60
Same error here.

When I navigate to a nested route and came back to a previous page, the change detection doesn't work, I have to manually put a detectChanges().

I'm using also Angular material and BrowserAnimationsModule and when I came back from another route I'm not able to use, for example, the datepicker. Things appear after a click event, but never automatically.

[2019-11-22 07:43] vultix commented on #94
@joeldenning That workaround does seem to fix the issue.

[2019-11-22 10:55] revenger1986 opened #116 "Angular 8 Lazy Load modules"
Hi,

I'm trying to use single-spa-angular, but i'm unsure how to use Lazy Loading of Modules.
In the 'child' application i have this routing

  {
    path: 'settings',
    children: [
      {
        path: '',
        loadChildren: () => import('../app/modules/test/test.module').then((m) => m.TestModule),
      },
    ]
  },
  { path: '**', component: EmptyRouteComponent }
];

When I navigate to '

[2019-11-24 19:50] joeldenning commented on #94
That's unfortunate. I do not plan on working on this issue in the near future and would gladly accept someone taking this up and finding a fix for it.

[2019-11-24 19:52] joeldenning commented on #116
Failing to load webpack chunks is related to [webpack public path](https://webpack.js.org/guides/public-path/#root). See [these single-spa docs](https://single-spa.js.org/docs/faq/#code-splits) for information on how to fix it. Also see https://github.com/joeldenning/systemjs-webpack-interop

[2019-11-24 19:52] #116 closed

[2019-11-30 00:01] Den-dp opened #117 "Fix npm audit warnings"
[code]

[2019-11-30 00:03] Den-dp opened #118 "Fix tests"
[code]

[2019-11-30 01:15] Den-dp opened #119 "Setting `libraryName` via `architect.build.options` fails with error"
When trying to set `libraryName` via `angular.json` (as per https://single-spa.js.org/docs/ecosystem-angular/#use-angular-builder)
[code]
I see the following error:
[code]
--------------

Just to workaround it I also tried to override it in `extra-webpack.config.js` by passing options into `singleSpaAngularWebpack()` but found that this function do not use the second argument (see discussion https

[2019-11-30 01:37] Den-dp commented on #117
Can be easily and safely fixed after reviving tests. #118

[2019-12-02 07:44] joeldenning commented on #118
I confirmed this locally. I'd gladly review a PR for this. Also it would probably be good to add a Travis CI build for PRs that run the tests.

[2019-12-02 07:45] joeldenning commented on #117
Why does reviving tests have to be done first? Pull requests accepted on this.

[2019-12-02 07:50] joeldenning commented on #119
Are you using Angular 7 or Angular 8?

If Angular 8, note that the single-spa-angular custom builder doesn't work and you should follow [these instructions](https://single-spa.js.org/docs/ecosystem-angular#angular-8) which set you up with [`@angular-builders/custom-webpack`](https://www.npmjs.com/package/@angular-builders/custom-webpack)

[2019-12-02 13:50] Den-dp commented on #117
TL;DR: it requires semver-major dependency updates and green tests are a good acceptance criteria.

------
`npm audit fix` leaves 2 unresolved vulnerabilities with the following warning message

[code]

[2019-12-02 14:03] Den-dp commented on #119
@joeldenning my bad then. I initially thought that `"options": { "libraryName": "hello" }` support should be possible even for Angular 8 (and @angular-builders/custom-webpack).

[2019-12-02 18:10] joeldenning commented on #119
No it's only for the Angular 7 builder. For overriding webpack config in Angular 8, you can modify it inside of [`extra-webpack.config.js`](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/app1/extra-webpack.config.js)

[2019-12-02 18:10] #119 closed

[2019-12-02 18:11] joeldenning commented on #117
The tests never really provided great coverage of the functionality, so I doubt they'd catch everything with this. A manual test is probably best to verify this, as described [here](https://github.com/CanopyTax/single-spa-angular/blob/master/CONTRIBUTING.md)

[2019-12-03 14:16] arnevdv opened #120 "ZoneJS error when opening application with /:id route"
There seems to occure an error when I load an angular microservice directly. This error does not occure when I navigate to a route from within that microservice with `this.router.navigateByUrl('/microfrontend/' + data.id)`

So if I load for example this url (with example id 12345) from scratch: http://www.wrapper.com/microfrontend/12345, i got the following error.

![image](https://user-images.git

[2019-12-04 07:15] joeldenning commented on #120
This error usually means that you're trying to download a json file but it's actually downloading an html file. The way that that happens is when the server is configured to always return the index html file for all pages, which is what is used for SPAs.

To diagnose, I'd look in the network tab of the devtools and find the request that is causing this. It will likely have an HTTP status of 200, b

[2019-12-04 09:23] arnevdv commented on #120
You gave me a hint in the right direction. In the index.html file there was a backslash missing to import my importmap.json.

This
`<script type="systemjs-importmap" src="importmap.json"></script>`
pointing to
`http://www.wrapper.com/microfrontend/importmap.json`

instead of
`<script type="systemjs-importmap" src="/importmap.json"></script>`
pointing to
`http://www.wrapper.com/importmap.json`

Thi

[2019-12-04 09:33] #120 closed

[2019-12-05 07:16] joeldenning commented on #120
👍 glad to hear that you got it working

[2019-12-05 15:10] joeldenning commented on #118
This occurs when you don't build before running the tests. Do the following and the tests work:

[code]

[2019-12-05 15:10] #118 closed

[2019-12-05 15:14] joeldenning commented on #117
The tests weren't actually broken. This can be addressed now. PRs accepted.

[2019-12-05 18:25] gubertcalixto commented on #113
I identified that this loop starts (in reroute.js file)
![image](https://user-images.githubusercontent.com/28396856/70262495-35d43900-1773-11ea-9954-95d6c4a6dd09.png)
In my case performAppChanges reached 400 times until the page was available again

[2019-12-06 04:11] gubertcalixto commented on #113
My current guess is this [line](https://github.com/CanopyTax/single-spa/blob/master/src/navigation/navigation-events.js#L109). I think the second line
`urlReroute(createPopStateEvent(state))`
is runned after the second router change, causing unexpected behavior since browser is already changing again (to new url) and single-spa is processing the old url.
PS: **JUST A GUESS**, trying to debug it a

[2019-12-06 12:57] joeldenning commented on #113
Thanks for helping to debug this - why would single-spa's code have the old url? Angular router should call `replaceState` with the new url, not the old one.

[2019-12-08 04:26] gubertcalixto commented on #113
What I meant was that single-spa reroute is happening during an router change, which causes the bug, but not sure about it at all, just like single spa is processing during another route change.

[2019-12-10 13:16] joeldenning commented on #98
Community contributions welcome for this

[2019-12-10 15:59] ricardofct commented on #98
Do you have any advice/ idea regarding the construction of generic component ?

[2019-12-10 16:10] joeldenning commented on #98
I think the consumer of the component would want an API somewhat like this?

[code]

And would import that parcel component from single-spa-angular and register it in one of their modules.

The implementation of the parcel component would roughly be the following:

1. In ngOnInit, call single-spa's mountParcel() function
2. Whenever prop1 changes, call `parcel.update()`
3. In ngOnDestroy, call sin

[2019-12-11 16:50] ricardofct commented on #98
I did first baby steps here: https://github.com/ricardofct/single-spa-angular/tree/angular-parcel

[2019-12-11 16:52] ricardofct commented on #98
But I need to learn a lot to implement this, I think!

[2019-12-12 15:46] joeldenning commented on #98
Could you please open this up as a PR?

[2019-12-14 03:36] gubertcalixto commented on #113
Test it out for about 2 hours. I'm creating an repo with the bug!
Notice that loop starts after "finishUpAndReturn" method is called twice, @joeldenning, any idea?

[2019-12-14 04:00] gubertcalixto commented on #113
Created an [repo](https://github.com/gubertcalixto/single-spa-crazy-route) that reproduces the bug @joeldenning

[2019-12-14 11:23] joeldenning commented on #113
I am not going to look at this bug anytime soon. I do not use Angular for any projects ever and this bug is a hard one that I tried in the past. The only path forward for this to be fixed is community contribution.

[2019-12-15 03:43] gubertcalixto commented on #113
Notice something that might be the bug!!!
## Base Code
[code]
## The Result
![image](https://user-images.githubusercontent.com/28396856/70857654-7baaa300-1ed1-11ea-8fec-01861b609779.png)
This image shows the arguments send to replaceState and to pushState.

## What I Found Out
1. As you can see, urls has **/test** prefix
- This is because I added `provide: APP_BASE_HREF, useValue: '/test'`, making

[2019-12-16 02:43] gubertcalixto commented on #113
Notice that the problem is in the following line
If I delete the following line, bug is fixed.
https://github.com/CanopyTax/single-spa/blob/3c17910b46f4b529a29eb850da70b97896ecb662/src/navigation/reroute.js#L118

@TheMcMurder (git blamed this code). I just need to know why is this code there. Because I not sure what might happen if I just delete it. And what you suggest, should I try to get why is

[2019-12-18 22:06] joeldenning commented on #98
Implemented in #122. This is now pending release

[2019-12-23 10:57] revenger1986 commented on #116
I still didn't manage to resolve my issue. A pointer in the right direction would be much appreciated.
I was able to set the publicpath, but I'm unsure how to do this

"Set either output.jsonpFunction or output.library to ensure that each app's webpack doesn't collide with other apps' webpack. jsonpFunction is preferred."   (mentioned in the docs of single-spa)

I tried changing the extra-webpack.

[2019-12-23 13:57] revenger1986 commented on #116
For now it looks like I solved my issue with lazy loading.

in main.single-spa.ts i had to do this (it has to be the first code in the file)

`import { setPublicPath } from 'systemjs-webpack-interop';
setPublicPath('app1');`

and my extra-webpack.config.js now looks like this

`const singleSpaAngularWebpack = require('single-spa-angular/lib/webpack').default

module.exports = (angularWebpackConfig

[2019-12-23 23:09] joeldenning commented on #116
👍 glad you figured it out

[2019-12-26 01:45] prasekhar opened #123 "Application 'angular' died in status LOADING_SOURCE_CODE: Cannot read property 'bootstrap' of undefined"
I am getting LOADING_SOURCE_CODE error. I tried many times with different apps. still had the same issue.

import singleSpaAngular from 'single-spa-angular';
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { NgZone } from '@angular/core';
import { Router } from '@angular/router';
import mainModule from './main-module.ts';
const lifecycles = singleSpaAngular({
  b

[2019-12-30 17:46] joeldenning commented on #123
I'd need more information to diagnose this. The full stacktrace from the browser would be the most useful to start. Also, a github repo that demonstrates the problem would be helpful.

[2019-12-31 02:24] prasekhar commented on #123
i have provided in the title. here is the github repo.

(https://github.com/prasekhar/micro-front-end/tree/develop)

[2020-01-02 07:13] varora1406 opened #124 "Export unregisterApplication method with SingleSpa object"
I am working on a project to fullfil my need for unregistering application in 1 language, and registering again in 2nd language.

I see unregisterApplication method implementation, it's available in SingleSpa and will work for my requirement

[2020-01-04 00:37] joeldenning commented on #124
The unregisterApplication api is intentionally only exposed to the single-spa devtools. Using it would be an antipattern, and so we do not allow it.

Could you help me understand what you mean here? The only language that works in the browser is javascript. Are you talking about different frameworks?

Could you please explain what you're trying to accomplish? I am very confident that it can be don

[2020-01-04 05:57] varora1406 commented on #124
We have differenr build in Angular for i18n (Internationalization).
If user switch language (from English to something else), I required to switch Application build.

But I figured now, unloadApplication, changing URL of build, and loading again has helped me in achieving it

[2020-01-06 04:44] #124 closed

[2020-01-06 21:32] joeldenning commented on #124
Yes, you can unloadApplication, clear out the module from the SystemJS registry, and that should work, too.

[2020-01-06 23:31] joeldenning commented on #123
You did not provide a stacktrace.` Application 'angular' died in status LOADING_SOURCE_CODE: Cannot read property 'bootstrap' of undefined` is not a stacktrace. It is an error message. A stacktrace includes the call stack. Additionally in this case, there are two relevant stack traces and you have provided neither of them.

The `Cannot read property 'bootstrap' of undefined` error is a side effect

[2020-01-06 23:31] #123 closed

[2020-01-15 22:56] TheMcMurder commented on #113
Full disclosure: I don't use angular for any projects.

I don't recall specifically why that line of code exists, but this is a really complicated interaction between two different libraries: angular-routing, and single-spa. They both operate with different ideas about how routing is to be accomplished and who is in control of routing.

I'll try to take a look at the repo you created, but if I'm u

[2020-01-16 03:50] gubertcalixto commented on #113
@TheMcMurder Actually is totally reproducible in Chrome (using Windows at least). The bug happens 100% in my repo using the following settings:
Chrome v78
Windows 10

[2020-01-16 23:46] kylethebaker commented on #113
Also can confirm this happens in several of our angular micro-apps, running both the latest chrome and firefox nightly. It doesn't happen on every navigation event, but when it does happen it will happen consistently for a particular one.

This is something that I'm investigating as well, I'll post here if I figure anything out.

[2020-01-19 02:09] kisslove commented on #113
the redirection infinite loop stills exist.any solutions?

[2020-01-19 08:38] kisslove commented on #113
I try all solutions above,but failed. so i spend one day to solve the problem.luckily,it is fixed for me.
update file:src/navigation/navigation-events.js
details as my fork: [https://github.com/kisslove/single-spa/blob/master/src/navigation/navigation-events.js](url)

[2020-01-19 14:24] gubertcalixto commented on #113
@kisslove Could you explain your [commit](https://github.com/kisslove/single-spa/commit/4e100aefe52fdfabd77bf7e5f38ee525a0589f1a), why adding "isNavGoOrBack" made it work? I think your commit is about go back in browser bug, but actually the route loop can occur in others situations (in my [repo ](https://github.com/gubertcalixto/single-spa-crazy-route)I made an example only using 1 redirect after

[2020-01-20 02:14] kisslove commented on #113
@gubertcalixto I add ‘isNavGoOrBack‘ ,that just make a distinction between click back-forward in browser and normal route. because the [popstate ](https://developer.mozilla.org/en-US/docs/Web/API/Window/popstate_event) event will be triggered by doing a browser action such as a click on the back or forward button (or calling history.back() or history.forward() in JavaScript).
Normal route will tri

[2020-01-20 02:36] kisslove commented on #113
@gubertcalixto I test your [repo](https://github.com/gubertcalixto/single-spa-crazy-route/blob/master/test-app/src/app/two/two.component.ts#L16),it works after using my update.

[2020-01-20 11:03] pankajparkar commented on #113
This issue only happens if user click on two different single spa link in a fraction of second. To fix this issue I disabled the links until any of the single page application is loading.

When any application loads via single-spa, it runs below events at start and end.
start - single-spa:before-routing-event
end - single-spa:routing-event
In between there are other events also gets called.

[code

[2020-01-20 17:33] gubertcalixto commented on #113
@kisslove maybe you could create an PR with your correction for single spa. The bugs that I know/heard about was:
1. Reproduced in my [repo](https://github.com/gubertcalixto/single-spa-crazy-route) (fast change of route or using route promises)
2. The bug you tested (navigate back/forward using browser actions)
3. Another one that happened because of multiple angular redirects in production becaus

[2020-01-20 20:12] kylethebaker commented on #113
@pankajparkar The cases where I see it is when the back button is pressed or when doing a single direct navigation from using the router (not triggered by user interaction). It's possible though that either of those are causing cascading navigation events (guards, redirects, etc), so the theory of "too many navigation's too quickly" is valid.

I'm using the fork by @kisslove and it appears to be w

[2020-01-21 08:25] kisslove commented on #113
@gubertcalixto , @kylethebaker .Notice that my pre updates could lead to some display problems when it routes between multi angular micro-fronts.
Now,my solution is that adding a setTimeout fn to solve the loop.it also appears to be working.
only update [here](https://github.com/CanopyTax/single-spa/blob/master/src/navigation/navigation-events.js#L110).

[code]

[2020-01-21 23:46] kylethebaker commented on #113
@kisslove with the setTimeout it's worse for me, I get stuck in the loop but it recovers after a few seconds (so no longer infinite but still won't work for us). I've noticed with the original change that I still do a really quick back-and-forth redirect when it happens, it just stops early enough that it's not very noticeable.

I'm also digging around with the navigation trying to see if I can ge

[2020-01-22 11:47] pankajparkar commented on #113
Our application bundles are quite heavy, they take seconds to load, and when these bundles are downloading and bootstrapping the application, if user try to switches between applications, redirection get into infinite loop.

The solution I applied is based on my assumption seems to be working for me. It could have been wrong in this approach. Please suggest if there is better way to fix this issue

[2020-01-22 11:51] pankajparkar commented on #113
@kylethebaker I will give a shot with @kisslove 's solution. Just curious to know, after updating the single-spa code, how you're utilising this modified package. From forked git repository, or you have hosted this package somewhere else?

[2020-01-26 01:45] jualoppaz commented on #64
Hi! @joeldenning . I have just experimented the same error with my app https://single-spa-with-npm-packages.herokuapp.com (credentials **admin / 12345**) in the Angular section, and I had to set the **APP_BASE_HREF** property to / and add the /angular prefix in every router links and routes definitions as @kbjerke had.

I didn't experiment this issue with **Vue**, so it seems to be an **Angular Ro

[2020-01-26 04:17] joeldenning commented on #64
Feel free to PR the docs with this

[2020-01-27 04:30] kylethebaker commented on #113
@pankajparkar We have a private npm package registry that we use for internal packages, I forked it and published there.

There might be a simpler way to do it, but I updated the package name to `@our-namespace/single-spa` and also updated the `typings.d.ts` to reflect this new name, then updated the consumer app's package.json and imports to use the new package.

[2020-01-27 04:48] pankajparkar commented on #113
@kylethebaker Thanks for sharing the way.
I'm afraid doing that, because in future `single-spa` releases, I won't be receiving any updates, Every update has to done manually.

[2020-01-28 13:03] cpasslack opened #126 "How do you isolate your css of angular apps in angular 8?"
Since Angular 8 we ran into a problem were css from different angular apps were overwritten by other angular apps on other routes (mainly global css i think). Previously we had a dirty hack in our custom webpack config. We added a custom loader to module.rules matching all .js files and replacing every occurrence of  _ngcontent- and _nghost- with _ngcontent-appName and _nghost-appName. Unfortunate

[2020-01-28 20:24] joeldenning commented on #126
Approach 1 - angular style scopes

See https://angular.io/guide/component-styles#style-scope

Approach 2 - manually scope the css under container

[code]

[code]

[2020-01-28 20:24] #126 closed

[2020-02-10 14:11] Lykathia opened #127 "ng schematics not registering correct extra-webpack path w/ multi-project repository structure"
ng new --createApplication false workspace
    cd workspace
    ng g application demo
    ng add single-spa-angular

Followed by running the application, results in:

    An unhandled exception occurred: Cannot find module '/path/to/workspace/root/./extra-webpack.config.js'

I believe it is just missing the project path in the schematic:
https://github.com/single-spa/single-spa-angular/blob/f72e44

[2020-02-10 14:17] Lykathia commented on #127
Looks like the path issue is present in a few of the `angular.json` file modifications.

[2020-02-12 03:12] joeldenning opened #128 "Angular 9 problem - main.single-spa.ts is missing from the Typescript compilation"
[code]

[2020-02-12 03:14] joeldenning commented on #127
Was this with Angular 8 or Angular 9? Did you run ng serve in the root directory, or inside of `projects/demo`?

I tried this with both Angular 8 and 9 locally  and was unable to reproduce that problem.

[2020-02-12 03:16] joeldenning commented on #128
Looks like we need a schematic for modifying the tsconfig to fix this. I confirmed locally that adding `"main.single-spa.ts"` to the tsconfig.app.json file fixes the error

[2020-02-12 03:19] Lykathia commented on #127
Angular 9, all from the root directory. I messed up and had `ng add single-spa-angular` should be `ng add single-spa-angular --project demo`. I had reproduced twice, was a very clean project.

[2020-02-12 03:25] joeldenning commented on #127
I was able to reproduce the error this time. Here were the steps I took:

[code]

I had never tried serving an Angular sub project before, which likely is why this was never addressed. Your proposed fix of switching to `${clientProject.root}/extra-webpack.config.js` sounds great to me. Would you be willing to send in a PR to fix?

[2020-02-12 04:46] Lykathia commented on #127
Sure thing -- I wasn't super confident what ripple effects there could be when I opened this issue, but I've been playing around with everything a lot more since then. Looks pretty isolated.

I'll try to get something up tomorrow, or, at least by week end.

[2020-02-12 09:55] qaxqaxqax commented on #128
From my experience unmount also does not work with 9.0.0

[2020-02-12 16:27] joeldenning commented on #128
@qaxqaxqax can you create a new issue for that? I'd like to trap each issue with Angular 9 separately

[2020-02-13 09:31] SwapnilChidrawar opened #129 "Unable to Load Resources from single spa Application"
Hi,
I am using Single Spa framework ,in which i am using 4 different angular apps. I have images specific to each and every asset folder.I am also using assertUrl to load the images. it works fine on my local but when i deployed these 4 apps as a separate sites in IIS, resources from each and every app, are loading with the root port. ex

app1 as one image angular.png and it is listing on port 420

[2020-02-13 09:41] SwapnilChidrawar commented on #129
Also when i refresh the page, it says HTTP 404 not found. Suppose I am on localhost:4200/page1 and when i refresh browser it says not found

[2020-02-15 01:24] joeldenning commented on #113
Perhaps releated - https://github.com/single-spa/single-spa/issues/438#issue-564495428

[2020-02-15 02:26] gubertcalixto commented on #113
After a long time debugging, found out that, at least the bug that is in my repo, occurs due to this [line](https://github.com/single-spa/single-spa/blob/master/src/navigation/reroute.js#L113).
I still could not found the reason of the problem but may have some ideas / conclusions (**I AM NOT 100% WHAT I'M SAYING**):

1. When Angular navigates to an route using a promise which gets in a **catch**,

[2020-02-16 04:08] joeldenning commented on #113
I debugged this a while ago and came to the same conclusion @gubertcalixto. My best guess is that Angular Router relies on all navigation events occurring via the router and within the same Zone. In single-spa, other applications sometimes cause navigation events which causes problems for Angular Router. Also, even within a single application the problem can occur because single-spa delays the `po

[2020-02-16 04:41] joeldenning commented on #129
Webpack public path is the important concept here. See https://single-spa.js.org/docs/faq/#code-splits and https://webpack.js.org/guides/public-path/#root.

With Angular CLI, you can set the public path for your deployed files with Angular CLI `--deploy-url https://some-url.com/app1`. See more at https://stackoverflow.com/questions/47885451/angular-cli-build-using-base-href-and-deploy-url-to-acces

[2020-02-16 04:41] #129 closed

[2020-02-17 04:45] SwapnilChidrawar commented on #129
Hi, I have successfully added deploy url option while building app, it successfully shows the proper url but now it says requested resource not found even the resource is present on provided url

[2020-02-17 05:29] SwapnilChidrawar commented on #129
Above mentioned issue has been resolved now only problem is when i am refreshing the app it says HTTP Error 404.0 - Not Found for entire app

[2020-02-17 20:14] joeldenning commented on #129
This sounds like server configuration issues, or a bug in your deployment script that puts the files in the wrong place. I can't debug why the files on your server aren't loading properly, but it sounds like the single-spa-angular stuff is now resolved.

[2020-02-18 09:57] kyro38 opened #130 "Angular 9 - Not unmounting"
Since upgrade to Angular 9, I've noticed that the angular app in not unmounting correctly.

When the route is changed and no app is replacing the angular app, the angular doesn't disappear. But it gets more weird. The `(click)` methods are not called.

So some unmounting is happening but the app stays in the DOM.

It seems, I'm [not the only one who](https://github.com/single-spa/single-spa-angula

[2020-02-19 02:10] joeldenning commented on #130
👍 thanks for reporting this. I hope to tackle all Angular 9 issues in the next few weeks.

[2020-02-19 03:18] SwapnilChidrawar commented on #129
Everything has been resolved now.. Thanks for your help

[2020-02-19 04:04] SwapnilChidrawar opened #131 "Uncaught TypeError: Cannot read property 'injector' of undefined"
Hi..

I am trying to integrate the existing angular version 8 application to single spa. For that I have also followed the steps provided by the official documentation. After doing all these stuff, when i am trying to start my microfront end app, system is giving me a wearied error that is **Cannot read property injector of undefined.**  I looked around this issue and I found same issue encountere

[2020-02-19 10:23] SwapnilChidrawar commented on #131
Somehow I managed to fix this error. but now new error is generated. **died in status LOADING_SOURCE_CODE: "does not export an unmount function or array of functions"** There was one error related to this but specific to react application not with the angular. [1](https://github.com/joeldenning/single-spa-es5-angularjs/issues/1)

[2020-02-20 06:28] SwapnilChidrawar opened #132 "Unable to export single spa life cycle methods in Angular aplication"
I am creating angular application with the single spa. when we integrate single spa feature with the existing angular application, it creates it's new main file and considers that while starting the application. Now, my concern is I am using some async operation and providing that while starting the app like below in the main.js file:

[code]

when single spa loads its private main file to the app

[2020-02-20 09:10] sonalmusale22 commented on #131
I am also facing the same issue. Could you please help.

[2020-02-21 17:19] Lykathia commented on #127
note: life and work both got pretty crazy for various reasons. Haven't forgotten about this :)

[2020-02-23 18:58] joeldenning commented on #127
👍 no problem - looking forward to your PR

[2020-02-23 19:03] joeldenning commented on #131
When single-spa fails to mount an application, it attempts to unmount it immediately. The `Cannot read property 'injector' of undefined` error is related to it failing to immediately unmount after the failed mount.

The fix is to solve the problem causing it to fail to mount in the first place. In your first post, that is the `ServiceError: Unexpected content type`. You should debug that problem.

[2020-02-23 19:03] #131 closed

[2020-02-23 19:08] joeldenning commented on #132
You should move your asynchronous logic into either the `bootstrap` or `mount` lifecycles ([documentation](https://single-spa.js.org/docs/building-applications#bootstrap)).

Example code:

[code]

[2020-02-23 19:08] #132 closed

[2020-02-24 05:39] SwapnilChidrawar commented on #132
Hi, Thanks for the solution but unfortunately it is also not working. After integrating your solution, I got below error:

![another error](https://user-images.githubusercontent.com/17702699/75130757-fecc4e80-56f5-11ea-817b-1729796ad47c.PNG)

I tried debugging that it seems to be in lifecycle helper file

![another error code](https://user-images.githubusercontent.com/17702699/75130773-1277b500-56

[2020-02-26 15:21] aniketavhad13 opened #137 "Lazy Load Module Not Working"
I am using angular-7 with single-spa and want to load module using lazy load approach but unfortunately, I am getting
[code]

 also chunk is not creating for lazy-load modules.

Can someone help me to get rid out of this.

[2020-02-27 17:59] matt-gold opened #138 "single-spa-angular schematics output fails lint for Angular CLI projects"
#### Description
Adding single-spa-angular to a fresh Angular CLI app fails lint with the Angular CLI default tslint.json.
This is caused by missing semicolons and newlines in asset-url.ts, single-spa-props.ts, and a missing property shorthand in main.single-spa.ts

#### To Reproduce
- Create a fresh Angular app from the CLI
        ```ng new sample-app```
- Add single-spa-angular using the schema

[2020-02-27 20:01] HemTech opened #139 "change detection is not working with lazy loading module"
we are using angular 8 with single spa. we have implemented lazy loading and notice an issue when lazy loading module have multiple child routes and you navigate from one child route to another.

we have created a sample app using the microfronend demo app. https://github.com/joeldenning/coexisting-angular-microfrontends

Updated Repo (Added lazy loading module): https://gitlab.com/Hemendra.patel/

[2020-02-29 17:39] joeldenning commented on #132
That error indicates that your array of lifecycle functions is incorrect. Each item in the array must be a function, but one of the items in your array is not.

[2020-02-29 18:12] joeldenning commented on #137
This usually means that the attempt to download the lazy loaded file is responding with an HTML file instead of a javascript file. Which means that the file is being downloaded from the wrong location.

Use `--deploy-url` as specified in https://single-spa.js.org/docs/ecosystem-angular#building. See example [here](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/master/app1/pa

[2020-02-29 18:12] #137 closed

[2020-02-29 18:15] joeldenning commented on #138
Hi @matt-gold, thanks for the good bug report. Would you be willing to submit a pull request fixing the lint issues? The files to modify are found in https://github.com/single-spa/single-spa-angular/tree/master/src/schematics/ng-add/_files

[2020-02-29 18:16] joeldenning commented on #139
Duplicate of https://github.com/single-spa/single-spa-angular/issues/94. I'm closing this in favor of that issue - feel free to comment there.

[2020-02-29 18:16] #139 closed

[2020-02-29 18:51] joeldenning commented on #113
From https://github.com/single-spa/single-spa/issues/438:

Sure! Single-spa overrides window.addEventListener and window.removeEventListener to prevent single-spa applications that are about to be unmounted from receiving a [PopStateEvent](https://developer.mozilla.org/en-US/docs/Web/API/PopStateEvent) or [HashChangeEvent](https://developer.mozilla.org/en-US/docs/Web/API/HashChangeEvent). Since si

[2020-03-04 05:34] aniketavhad commented on #137
I investigated the cause for this and came to conclusion that issue because of `"single-spa-angular": "^3.0.1`" cap in the version of single-spa.

When i removed cap from `package.json` and reinstall the dependency then it works for me.

[2020-03-05 00:00] joeldenning commented on #137
What cap are you referring to? The `^3.0.1` version of single-spa-angular should work fine - the `^` will install the latest version (3.1.0)

[2020-03-05 10:26] riya332 commented on #130
I was stuck over 2 days in the same situation. I tried several things but none of them worked. I thought it was a problem with angular routing.  Finally, realized only after downgrading to angular @ 8 , That the problem exists only in A9 apps. I have downgraded to A8 and changed the version of     **"@angular-devkit/build-angular":  "^0.803.24",** It works for me.

[2020-03-08 03:43] joeldenning commented on #130
I'm not sure when I'll get to Angular 9 support - I am not very strong in Angular and usually ZoneJS + Angular Router kick my ass when it comes to making Angular work with single-spa. I'd very gladly accept pull requests that do this.

[2020-03-10 14:15] victorlevasseur opened #140 "Parcel is not updating when custom props are changed in the host app"
Hi,

I just began to use single-spa with single-spa-angular to try the Parcel feature. It seems that the Angular parcel component is ready to allow custom props updates (see https://github.com/single-spa/single-spa-angular/blob/master/src/browser-lib/parcel-lib/parcel.component.ts#L66) but the singleSpaAngular function to create a Parcel config is not providing an update function (see https://gith

[2020-03-10 14:30] richardbladh commented on #130
A very naive suggestion is to add the following line at the end of the function unmount in single-spa-angular.ts
It seems to remove the DOM at least but I'm not sure what other things might still be there...
getContainerEl(opts.domElementGetter).innerHTML = '';

[2020-03-10 16:21] victorlevasseur commented on #140
Here is what I added to make the update work without touching the single-spa-angular code base:
[code]

Maybe we can add an updateFunction in the singleSpaAngular function.

[2020-03-10 17:34] joeldenning commented on #140
Hi @victorlevasseur - yes let's add an `update` lifecycle to single-spa-angular. I think that calling `singleSpaPropsSubject.next()` is the easiest and best way. Thank you for being willing to a submit a PR for this - I'll be happy to review it and get it published once it's merged.

[2020-03-10 17:37] joeldenning commented on #130
@richardbladh thanks for jumping in on this issue - you are correct that would sort of work but the problem is that the `onDestroy` lifecycles would not be called in that situation.

Currently we unmount angular by doing the following:

https://github.com/single-spa/single-spa-angular/blob/5f7b1604d0fbdb42d0dc950538907e5dbfef43dd/src/browser-lib/single-spa-angular.ts#L110

Where bootstrappedModule

[2020-03-10 18:42] robinvdbroek commented on #130
There seems to be a different execution of the bootstrap function, looking from debugger the bootstrappedModule has type `NgModuleRef$1` in Angular 9, vs. `NgModuleRef_` in Angular 8, which is probably due to Ivy's new rendering engine.

Also noteworthy is an error that occurs on line 130 of single-spa-angular.js where the `animationEngine` is resolved from an injector (`opts.bootstrappedModule.in

[2020-03-10 18:55] joeldenning commented on #130
That is good news - single-spa-angular was working around a bug in the animation engine, but from what you said it appears that that might be fixed as of Angular 9. If so, the single-spa-angular browser lib should continue doing the workaround for old versions of angular, but no longer do it for Angular 9. Related code (click to see full comment):

https://github.com/single-spa/single-spa-angular/

[2020-03-10 22:26] richardbladh commented on #130
Ok, so I ended up with a temporary solution where I implement OnDestroy in my app component.
Then in the ngOnDestroy method I reuse the domElementGetter-function that I provided in the app registration in single spa to find the root element. Then I just set innerHTML of that element to an empty string.

It works for now as a "solution" for me since it will only affects the Angular application that

[2020-03-11 15:41] joeldenning commented on #140
Resolved in #141

[2020-03-11 15:41] #140 closed

[2020-03-15 15:26] SB17 opened #143 "API call not working from Angular 8 micro-front end app"
I have created a **root-config** using the **create-single-spa** CLI.
This runs on port 9000. The npm script section for the root application is:
  "scripts": {
    "start": "webpack-dev-server --mode=development --port 9000 --env.isLocal=true",
    "lint": "eslint src",
    "test": "jest",
    "prettier": "prettier --write './**'",
    "build": "webpack --mode=production"
  }

Furthermore, I crea

[2020-03-16 23:17] joeldenning commented on #143
This appears to be a bug specific to your code. I created [this branch of coexisting-angular-microfrontends](https://github.com/joeldenning/coexisting-angular-microfrontends/blob/http/app1/src/app/app.component.ts)) that shows that `this.http.get('')` works with full urls.

[2020-03-16 23:17] #143 closed

[2020-03-17 03:12] xiaomengHuang opened #144 "single-spa-angular externals not working for Angular 8"
as the title, i got some problems when use single spa angular for Angular 8.

after adding single-spa-angular to the project, when i update the externals in the extra-webpack.config.js, the externals is not working. here is the code.

[code]
it's not working in Angular 8 but working in Angular 7, same code.

in Angular 8 i got an error in Container Project.

Unable to resolve specifier 'ng.core'

[2020-03-17 23:09] joeldenning commented on #144
Are you using SystemJS as the module loader? Or what is providing the externals to the bundle?

If you are using SystemJS, check your import map for `ng.core`. You can do this by checking the browser dev tools Inspector tab and looking for `systemjs-importmap`.

You can also check it by running the following in the browser console:

[code]

[2020-03-19 06:43] xiaomengHuang commented on #144
@joeldenning Sorry, maybe i didn't say it clearly.

first, in my case i have 6 micro front-end need to be display in the same page, so what i'm trying to do is reduce the bundle size, remove the same framework scripts from each micro front-end. That's the reason why i put the `@angular/core` in the externals.

second, let me list my steps here:

* add the script global name in the externals. like

[2020-03-19 09:32] krzyswiatkowski opened #145 "Dynamic HTMLElements as app mounting points"
### **What's wrong?**
`domElementGetter` expects to find DOM element immediately. Dynamically created DOM element causes throwing error: `domElementGetter did not return a valid dom element`

### **Expected behaviour**
`domElementGetter` should take into account that DOM element on which app will be mounted might be created dynamically.

### **Suggested solution**
Call `domElementGetter` with reas

[2020-03-19 10:11] krzyswiatkowski commented on #145
@joeldenning I Would much appreciate if you could take a look on this issue & implemented solution as we're in desperate need of that fix :)

[2020-03-19 23:24] alalicon577 opened #147 "url reference in CSS is relative to the root config but not to the micro-frontend"
hi Joel, I have images in my assets folder and I am able to display them using the pipe as you have mentioned in the documentation. However, in the CSS I could not use the pipe and so the images/svgs are not showing up because it's looking at the main root config url and not the micro-frontend's url. Do you have any solution to this?

thank you

[2020-03-20 03:28] joeldenning commented on #147
Hi @alalicon577, you need to configure the webpack public path in order for asset URLs to work properly. More information is at https://single-spa.js.org/docs/ecosystem-angular#angular-assets

[2020-03-20 03:28] #147 closed

[2020-03-20 03:50] joeldenning commented on #145
You can provide your own domElementGetter that ensures the dom element is created correctly. [Here is an example](https://github.com/react-microfrontends/navbar/blob/master/src/react-mf-navbar.js#L21)

[code]

Alternative:

[code]

[2020-03-20 03:50] #145 closed

[2020-03-20 05:14] amilaI opened #148 "Angular 9 Prod Build Error with Terser. ERROR in polyfills-es5.js from Terser with Invalid assignment error."
### Problem
I created a single-spa-angular app using following commands and updated it to Angular 9.0.7.
[code]

When I build the app with via ```ng build --prod --deploy-url http://localhost:4203/```, I'm getting the following error, however, ```ng serve --disable-host-check --port 4203 --deploy-url http://localhost:4203/ --live-reload false``` works fine.

### Error Description
`
ERROR in polyfi

[2020-03-20 05:23] erlloyd commented on #94
I just wanted to add another example repo that shows the problem as well, which I'm using to dig into the problem as I have time: https://github.com/erlloyd/single-spa-poc

The repro steps once the repo is up and running are:
1. Open http://localhost:9000
2. Click on the Ships navbar
3. click the Toggle button, notice how text appears and disappears
4. Click on Millineum Falcon. This hits another

[2020-03-20 11:30] krzyswiatkowski commented on #145
@joeldenning Thank you for that, it does heelp.
We had a case where DOMElement for our child-app was connected to parent-angular-router so when user left child-app-URL the element was destroyed (parent angular-router changed it for another one)

We will be creating DOMElement for child-app in `domElementGetter` - this might result in 2 same elements on page (one created by angular-router and one c

[2020-03-20 14:23] TheMcMurder commented on #148
We plan on supporting it soon, but we don't currently support Angular 9.

I know it's frustrating, it's frustrating to us too. Every 6 months we have to refactor support for angular, because they make so many systemic changes to the build and don't allow normal customization of the build.

[2020-03-20 14:24] TheMcMurder commented on #148
Actually I'm going to leave this open while we work on Angular 9

[2020-03-20 14:39] joeldenning commented on #94
Hi @erlloyd - could you try out the new `urlRerouteOnly` option that was released yesterday in single-spa@5.2.0? More info at https://github.com/single-spa/single-spa/releases/tag/v5.2.0 and https://single-spa.js.org/docs/api/#start.

Another angular user indicated that this helped things for them - I have hopes that it might help this bug, too

[2020-03-20 14:46] joeldenning commented on #145
👍 glad to hear it worked for you

[2020-03-21 09:30] amilaI commented on #148
Is there any workaround that we can do?

[2020-03-21 22:17] joeldenning commented on #148
No - single-spa-angular doesn't yet work in Angular 9

[2020-03-22 03:53] joeldenning commented on #144
Hi @xiaomengHuang - I cloned your repo and tried it locally and it appeared to me that the externals were working. Could you clarify what error you are experiencing? Is there a stacktrace you could share?

[2020-03-22 18:02] SB17 opened #149 "Unresolved dependency in mounted Angular 8 app"
Hello,

I am facing an unresolved dependency issue in an Angular 8 application that I am trying to load into single-spa. I did the following:

1. Created a root config (using npm init single spa)

2. Converted an existing Angular 8 application using Angular schematics (ng add single-spa-angular)

3. Verified that all the schematics files have been created

4. Configured the routes (APP_BASE_HREF,

[2020-03-22 18:37] joeldenning commented on #149
This seems related to AbpUserConfigurationService, not to single-spa. Do you know which parameter is missing from it? The `(?)` seems to indicate that the error message didn't report which parameter was missing.

[2020-03-22 19:04] SB17 commented on #149
Thanks for your quick reply. The AbpUserConfigurationService comes from a library packaged as npm which my code uses. It has an HttpClient injected into it.

I cloned that repo and commented the AbpUserConfigurationService and its references in its entirety. But doing so results in same error with some other class in that library. This is what led me to think that the library code itself is not be

[2020-03-22 19:33] erlloyd commented on #94
Unfortunately, @joeldenning One of the first things I tried was using the `urlRerouteOnly` flag with no change for this problem. In my case the problem exhibits from switching between two routes both handled by a micro-frontend written in angular 8, when using the back button. I'm still trying to investigate, but I believe it's definitely something that's messing up Zone.js

[2020-03-23 03:35] webblocksapp commented on #148
You can build with `ng build --prod` setting the target to es5 in your `tsconfig.json` file while arrives support for es2015. The disadvantage is that you will get a lot of warnings in your browser because es5 uses SystemJS for importing your angular components, and es2015 uses `import` instead of `SystemJS.import()`

`"compilerOptions": {
    ...
    "target": "es5",
    ...
`

I'm working with e

[2020-03-23 04:29] amilaI commented on #148
Yeah. It worked. This helps until we get a new single-spa-angular version. :) Thanks

[2020-03-23 05:11] varunpandurangaiah opened #150 "Mounting application 'app1' did not resolve or reject for 3000 milliseconds -- we're no longer going to warn you about it."
I am getting an error while mounting a boilerplate angular application, Any idea?

![image](https://user-images.githubusercontent.com/20150953/77283638-dafb2900-6cf2-11ea-961f-5550e9155429.png)

[2020-03-23 05:27] varora1406 opened #151 "Support for Angular 9?"
I want to upgrade my app to Angular 9, but can't do until unless singla spa angular library can support it's changes.

Can we link bugs/things to do in Angular 9 support.
Plus let me know if I could be of any help here, would love to contribute to this. 💯

[2020-03-24 14:46] joeldenning commented on #151
Hi @varora1406, I'd love help in getting support for Angular 9. Here are the issues I am aware of. I'd gladly accept pull requests that address them.

- https://github.com/single-spa/single-spa-angular/issues/148
- https://github.com/single-spa/single-spa-angular/issues/130
- https://github.com/single-spa/single-spa-angular/issues/128

[2020-03-24 15:12] joeldenning commented on #150
The warning message means exactly what it says. The [`mount` lifecycle](https://single-spa.js.org/docs/building-applications#mount) is returning a promise that is never resolving / rejecting.

This is likely due to the code throwing an error during mount and is likely unrelated to single-spa.

[2020-03-25 07:34] aniketavhad opened #152 "Run Angular Multiple Projects in One App Using Single-Spa"
I have a requirement to create, Two projects in same `angular.json` and Run both the projects at a time. But my observation says single-spa point to `"defaultProject": "My-App"` which is present in angular.json.

Without single-spa it is possible to run both projects using following command,
`ng s --project="My-App"` But the same way i can't able to run with single-spa. It gives me below error,

[

[2020-03-25 20:02] joeldenning commented on #152
This appears to be a duplicate of https://github.com/single-spa/single-spa-angular/issues/127. @Lykathia suggested a fix in that issue - I would be very open a pull request implementing the fix.

I'm closing this issue in favor of #127, so we can track it all in one place.

[2020-03-25 20:02] #152 closed

[2020-03-25 20:27] joeldenning commented on #149
Hmm this is hard to diagnose with the information provided, and it doesn't necessarily seem related to single-spa or single-spa-angular.

I'm going to close this since I don't think it's an issue with single-spa-angular - if you discover that it is related then please reopen.

[2020-03-25 20:27] #149 closed

[2020-03-31 10:49] tanviavula commented on #151
When i am trying build angular9  getting following error:
src\single-spa\asset-url.ts is part of the TypeScript compilation but it's unused.
Add only entry points to the 'files' or 'include' properties in your tsconfig.

ERROR in polyfills-es5.cb08cc69731928070aff.js from Terser
Invalid assignment [polyfills-es5.cb08cc69731928070aff.js:9,40]

[2020-04-05 21:03] arturovt commented on #60
@jaspreet1234567 I cloned your repo and the issue really presents there. But the issue disappeared when I upgraded `single-spa-angular` to `3.0.0`.

@HemTech @SunilManthenaG01 @danyjaen gentlemen, your issues are impossible to test and resolve unless you provide _minimal reproducible examples_.

[2020-04-05 23:18] arturovt commented on #94
@erlloyd hey man. I cloned your repo and was able to reproduce your issue and reached the bottom of the Mariana Trench while debugging.

---

Yeah, it's related to zone.js. The problem is that zone.js patches `history.pushState` and tracks if it's called from the right context. `single-spa` overrides `history.replaceState`, if you log it to the console you'll see something like `ƒ (t){var n=vt.app

[2020-04-06 10:43] muhlba91 commented on #113
@joeldenning @gubertcalixto we are facing the same issue. Is there any progress or are there ideas on how to get it fixed? :)

[2020-04-06 11:47] aniketavhad commented on #137
When trying to refresh lazy load module path in local environment then i am getting `Uncaught SyntaxError: Unexpected token '<'`.
I have added deploy-url too.

I am using `"single-spa-angular": "3.0.1"` version

Anything i am missing here to add?

[2020-04-06 14:40] erlloyd commented on #94
@arturovt That analysis is awesome! It seems to confirm what I was seeing but couldn't get to the bottom of. Obviously yanking code from @angular/router isn't the best from a maintainability standpoint (for example, I'm curious if this will continue to work with angular 9) but I think it makes sense why it fixes the issue!

[2020-04-06 14:46] arturovt commented on #94
@erlloyd

You're 100% right. I am not a fan of this solution either. I will try to look for other approaches but it definitely will require something "to patch" and "to wrap into zone".

[2020-04-06 16:02] arturovt commented on #94
@erlloyd

It will. This piece of router code has never changed. I made a PR yesterday (#153) to add support for Angular 9 that resolves multiple issues. Awaiting captain! :D

[2020-04-06 16:23] joeldenning commented on #113
Hi @muhlba91 - as I've said above, I would appreciate outside contribution on this issue.

Angular router and ZoneJS are extremely complex (I've read their source code!) and have been difficult for me to debug. I personally do not use Angular very often and single-spa-angular is often a source of pain and frustration for me, since I find Angular's approach (with schematics, hidden webpack config,

[2020-04-06 17:08] muhlba91 commented on #113
Yeah, I totally see your point here and I’m not deep into frontend development myself and prefer more lightweight frameworks like vue and debugging such code is not my favorite thing to spend my days with. 😄 (And kudos for reading through both libraries and your open answer is really appreciated! 👍)

Well, business needs and companies go for various reason for Angular which is why I ended up diggi

[2020-04-06 18:05] joeldenning commented on #113
See https://github.com/single-spa/single-spa-angular/issues/113#issuecomment-592981422 and https://github.com/single-spa/single-spa/releases/tag/v5.2.0

[2020-04-06 18:09] joeldenning commented on #113
Also note that this is almost certainly related to https://github.com/single-spa/single-spa-angular/issues/94

[2020-04-06 18:16] joeldenning commented on #94
Thanks for the very in-depth analysis. Nice work on it. Let's try out your solution and see if it helps everyone out.

One question on it, that we could maybe talk about in a PR, is whether `replaceUrl` should always be true, or should only be true if the URL has changed? But let's get your PR up and discuss it there.

[2020-04-06 18:17] #138 closed

[2020-04-06 19:07] joeldenning commented on #60
Thanks @arturovt - I'm closing this issue as fixed in single-spa-angular@3. If that turns out not to be true, please provide a minimal reproducible example.

[2020-04-06 19:07] #60 closed

[2020-04-06 19:14] joeldenning commented on #137
That error indicates that the URL you are attempting to download the single-spa application from responded with an HTML file instead of a JS file. This is often due to the reasons [described here](https://github.com/systemjs/systemjs/blob/error-codes/docs/errors.md#4)

[2020-04-06 19:47] #128 closed

[2020-04-06 19:59] arturovt commented on #150
@varunpandurangaiah could you provide a _minimal reproducible example_, please? Thus we could clone it locally, test it and help you to resolve an issue. W/o any reproduction the issue has to be closed and re-opened when it's provided.

[2020-04-07 04:44] aniketavhad commented on #137
Given link is not exist. can you please provide the valid link.

[2020-04-07 04:45] aniketavhad commented on #137
Given link is not exist. can you please provide the valid link.

[2020-04-07 06:24] werts opened #157 "Can route-reuse-strategy workaround?"
Hi, thanks for the greate single-spa-angular solution and the same as single-spa
In my application,we implemented the called tab-navigtion by angular's RouteReuseStrategy.
and is there a way for single-spa-angular?
since some errors throwed by @angular/router that
[code]
and how can i make it workaround?

[2020-04-07 13:34] arturovt commented on #94
@erlloyd

I'm working on adding E2E tests that will be a quality gate and provide a way of "sanity check" to ensure that issues are resolved. I was able to reproduce the current behaviour there:

https://github.com/single-spa/single-spa-angular/pull/156/files#diff-564a9067420e8879beb180b8e6b77b77

Regarding this issue, so we have 2 options to go with:

1) that option I proposed with patching route

[2020-04-07 15:21] joeldenning commented on #137
Ah the link was to a branch that was not yet merged into master yet - I merged it in yesterday and then deleted the branch, which is why the link no longer works.

Here's the new link - https://github.com/systemjs/systemjs/blob/master/docs/errors.md#4
Here's the PR I was referencing - https://github.com/systemjs/systemjs/pull/2151

[2020-04-07 15:28] joeldenning commented on #157
I'm not sure on this one. @arturovt do you have thoughts on it?

[2020-04-07 15:40] joeldenning commented on #94
Hmm I tend to agree that implementing a custom PlatformLocation seems more maintainable and less of a workaround. I think that it would be reasonable for us to expect existing users to add `getSingleSpaExtraProviders` to their code to get this bug fix. For new projects, we can add the single spa providers to the main.single-spa.ts template, so that people don't have to think about it. I vote we go

[2020-04-07 16:14] arturovt commented on #157
@werts hey. Could you provide a minimal reproducible example? Thank you.

[2020-04-07 17:52] arturovt commented on #102
@joeldenning is it related to this repo?

[2020-04-07 18:02] arturovt commented on #107
Closing this due to inactivity. Also, we don't tend to support Angular versions lower than 8 right now. All versions lower than 7 are officially marked as deprecated. Angular 7 LTS ends on 18 April 2020 (https://angular.io/guide/releases#support-policy-and-schedule). Consider moving to some new version.

[2020-04-07 18:02] #107 closed

[2020-04-07 18:28] joeldenning commented on #102
Honestly, I don't remember. Let's close this due to inactivity

[2020-04-07 18:28] #102 closed

[2020-04-07 20:55] arturovt commented on #115
Yes, when you set `sourceMap` to the single boolean value in the `angular.json` then it enables source maps for everything possible. If you want to enable source maps for JS and for styles then set it to:
[code]

[2020-04-07 20:55] #115 closed

[2020-04-07 21:01] arturovt commented on #130
It's a bug of the Ivy engine. Reported to Angular team:

https://github.com/angular/angular/issues/36449

[2020-04-08 01:40] erlloyd commented on #94
I've been following this thread, and I'll also say I prefer option 2. I agree that requiring a manual update for library consumers is preferable in my opinion to patching existing APIs...

[2020-04-08 01:45] werts commented on #157
@joeldenning @arturovt thanks a lot.
The minimal rep here https://github.com/werts/single-spa-demo.git
and the app1 and the app2 have their own route-reuse-strategy under shared dir.
something additional should be done yourself. for example, deploy-url
my desire is that navigation between app1 and app2 should not lost their states.
i have tried to remove the default unmount lifecycle function,and

[2020-04-10 19:56] arturovt commented on #144
I cloned this repo and tried to install dependencies, unfortunately I even weren't able to do that :mask:

I'm not knowledgeable in SystemJS and how it works. But what I can say is that there is a constraint of using that approach.

When you do this:
[code]

During the module concatenation process to create a main chunk Webpack maps module name to the module code wrapped into factory. So except of

[2020-04-10 21:49] arturovt commented on #117
We switched from npm to yarn. Currently `yarn audit` shows only 1 low vulnerable package that is not used in this library.

[2020-04-10 21:49] #117 closed

[2020-04-10 21:52] arturovt commented on #144
I'm closing this issue because:
* reproduction is not quite reproducible because I wasn't even able to install packages because of npm errors... :slightly_smiling_face:
* the implementation is not possible due to `NgZone` constraint

Feel free to open another issue if some problem really presents! :)

[2020-04-10 21:52] #144 closed

[2020-04-13 06:29] celian-garcia opened #168 "Schematics + documentation : Having outputhash none by default for production build"
Hi guys,
I'm new in microfrontends and I find it very cool, so first of all, nice job to make it works with so many frameworks support !
I basically struggled a moment to make my Angular app working in production mode until I find this interesting post : https://github.com/single-spa/single-spa/issues/443

Out of that, why the schematics and/or documentation wouldn't be updated with this ``--outpu

[2020-04-13 20:02] joeldenning commented on #168
I'm open to changing that. For the [recommended setup](https://single-spa.js.org/docs/recommended-setup) we usually turn off webpack chunk hashing in favor of using the CI pipeline to insert a hash as a directory, for easier imports with systemjs.

Would gladly accept a PR for this

[2020-04-14 09:08] arturovt commented on #150
@varunpandurangaiah any progress on this?

[2020-04-14 09:14] arturovt commented on #157
@werts

Could you describe the steps which I have to follow to start the application?

* go there, do this, etc.

[2020-04-14 09:53] werts commented on #157
@arturovt

- Including the nginx/prod.conf to your nginx's config

- update the aliases under prod.conf

- bind host  micro.apps 127.0.0.1

- visit micro.apps

- root-config is under demo dir.

notice: the import-maps under demo/index.html maybe changed, you should update it yourself.
and if you want to update some micro-app , single-spa-inspector helps.

[2020-04-14 09:55] arturovt commented on #157
@werts

I don't have nginx installed. Could you provide a docker config for all of that?

[2020-04-14 09:56] werts commented on #157
@arturovt sorry, i dont use docker.

[2020-04-14 09:57] arturovt commented on #157
Sorry, I will not install nginx to run that reproduction. It should be _minimal_ and _reproducible_ :slightly_smiling_face:

[2020-04-14 10:00] werts commented on #157
nginx is not necessarily, i will update it to use http-serve
and you need to start all micro-apps,i think it is more hard.

[2020-04-14 10:01] werts commented on #157
@arturovt To test single-spa-angular, i think it is the minimal repo

[2020-04-14 20:39] arturovt commented on #157
@werts we probably misunderstand each other :slightly_smiling_face: . An _MRE (minimal reproducible example)_ is intended to reproduce an error using the smallest amount of code. It saves package developers time in wading through messy code that is not relevant to the apparent bug (description taken from google ;) )

In simple words what I would like to get (_as that person who will look at your e

[2020-04-14 23:05] joeldenning opened #170 "Consider switching to destroyPlatform for unmounting?"
See https://github.com/me-12/single-spa-angular2/commit/f03cc7cc26d1f04e10db6f60453bc652504cf8b3#commitcomment-38483962 which suggests using [destroyPlatform](https://angular.io/api/core/destroyPlatform) for unmounting angular applications.

I've expressed doubt that this would work when multiple Angular applications share the same instance of Angular, and therefore share a platform. However, if I

[2020-04-14 23:16] joeldenning commented on #150
Closing due to inactivity - feel free to reopen with a demonstration of the issue

[2020-04-14 23:16] #150 closed

[2020-04-15 02:06] werts commented on #157
Aha thanks a lot

[2020-04-15 05:51] kristofdegrave commented on #170
@joeldenning I can confirm you can have multiple platforms running together. Currently I'm working on a MicroFrontend solution myself. As Macro Frontend/ shell I'm also using angular, this eases up some handling of authentication. As Micro Frontends I have a combination Angular and AngularJS applications. For this I work with angular elements. So mounting an application for me is loading the scrip

[2020-04-15 07:00] arturovt commented on #170
There are still some issues:
* you still have to get animation engine and call `flush()` manually because `destroyPlatform` is a sugar over `ngModuleRefs.forEach(ngModuleRef => ngModuleRef.destroy())`, where it keeps references to all bootstrapped modules in the current platform
* I remember `router.dispose()` was added because `ngModuleRef.destroy()` was not enough and in some situations the non-

[2020-04-15 07:09] kristofdegrave commented on #170
@arturovt, In my case I'm using the v9 versionn of angular, and in this case I can confirm the `dispose()` is called from the `onDestroy()` methode in the `router`. I checked this by adding debugger to verify they got called. I'll try to check if this is also the case when I just destroy the `ÀppModule`

[2020-04-15 07:12] arturovt commented on #170
I also checked with 9 Angular and dispose is called, but we're talking about previous versions too.

[2020-04-17 23:12] joeldenning commented on #170
What versions of Angular does this work for? We're about to release single-spa-angular@4, which will only work in angular 9 (and maybe 8). This approach is less hacky than what we currently have - should we switch to it in single-spa-angular@4?

[2020-04-18 19:46] joeldenning commented on #94
This is now fixed in single-spa-angular@4, which only works in Angular 9. We will publish a new version of single-spa-angular@3 hopefully soon with the fix for Angular 2-8.

https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0

[2020-04-18 19:51] joeldenning commented on #151
Angular 9 is now supported in single-spa-angular@4. See https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0

[2020-04-18 19:51] #151 closed

[2020-04-18 19:51] joeldenning commented on #168
This was implemented in https://github.com/single-spa/single-spa-angular/pull/169 and released in 4.0.0. See https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0

[2020-04-18 19:51] #168 closed

[2020-04-18 19:54] joeldenning commented on #98
This has been released for some time. Still need to update the documentation for it in https://github.com/single-spa/single-spa.js.org/issues/199

[2020-04-18 19:54] #98 closed

[2020-04-18 19:55] joeldenning commented on #127
This is now released in single-spa-angular@4

[2020-04-18 19:55] #127 closed

[2020-04-18 19:55] joeldenning commented on #148
This is now released in single-spa-angular@4

[2020-04-18 19:55] #148 closed

[2020-04-19 03:05] joeldenning commented on #94
The router patch approach has been implemented in #173 and released in https://github.com/single-spa/single-spa-angular/releases/tag/v3.3.1. This is for Angular versions 2-8. This bug is finally fixed (we think)! Big thanks to @arturovt for finding and fixing this.

[2020-04-19 03:05] #94 closed

[2020-04-19 03:06] joeldenning commented on #113
I believe that this is fixed in https://github.com/single-spa/single-spa-angular/releases/tag/v3.3.1 and https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0. single-spa-angular@3 is for Angular 2-8, and single-spa-angular@4 is for Angular 9. See #94 for the explanation and links to PRs that fixed it.

If someone could confirm that this is fixed in 3.3.1 and 4.0.0, please let me kn

[2020-04-19 08:40] arturovt commented on #53
Currently, I'd say that this is normal behaviour. In Angular 4-8 initial navigation is physically done outside of the Angular zone, because it's done by _single-spa_, but other navigations do not cause these warnings, this was fixed in multiple PRs some days.

[2020-04-19 08:40] #53 closed

[2020-04-19 10:03] white-collar commented on #113
I can confirm - Issue is fixed

[2020-04-19 16:42] joeldenning commented on #113
Great! Big thanks to @arturovt for finding and fixing this

[2020-04-20 15:00] MarcoBomfim opened #175 "Stuck in version 3.0.1, can't figure out why."
### Question
Hello folks, I'm working on upgrading my POC single-spa from version 3.0.1 to 3.1 or latter, but I'm stuck.

I have 7 applications, and a "main" one which is the one that has single-spa. The ONLY application where this happens, is a Angular 7 app, which is running `single-spa-angular` at version 3.0.1.

When I access my localhost address, I receive the following error message:
![Scree

[2020-04-20 17:32] joeldenning commented on #175
`Unexpected token <` means that a URL responded with HTML instead of javascript. You can see this if you go to http://localhost:4210/zone.min.b4afa454.js - it will return an HTML file instead of a javascript file.

Generally speaking, zonejs should be loaded once in your single-spa root config's HTML file, and should not be loaded again by each subsequent application. It seems like perhaps your An

[2020-04-20 18:04] MarcoBomfim commented on #175
Hey there, @joeldenning. Thanks for the prompt response. I can confirm that the file `zone.min.b4afa454.js` file in my **localhost:4210**, is returning a JS file. And, that there is only one zone.js import (latest version as recommended), and is located at **localhost:4210**'s `index.html` file.

The problem seems to be on my **localhost:4201**, which is only returning two files: `0.js`, and `main

[2020-04-20 18:12] joeldenning commented on #175
It looks like I misread the original error message. it is not zonejs that is failing to download, it's a different file. You need to find what the other file is - it should be red in the Network tab of your devtools. That file will be the one that is returning HTML instead of javascript.

The only change in single-spa-angular@3.1.0 when compared to 3.0.1 is how `System.import()` is interpreted. In

[2020-04-20 18:35] MarcoBomfim commented on #175
I can't see any `System.import()` per se, but I can see a call to `SystemJS.import()`, which is called in a `loader(alias)` function, that takes the application ie: `@platform/myapp`, and imports it. Would changing this, perhaps help with this scenario?

Also, which are the libraries that should be loaded in-browser, instead of bundled? Would you happen to know?

[2020-04-20 18:53] joeldenning commented on #175
Did you find the network request that is returning HTML when it should return JS? That is crucial to diagnosing this.

Each of your microfrontends should be an in-browser module. Additionally, you can consider making `@angular/core` and other angular libs in-browser modules in order to share them between microfrontends. However, if you haven't already set that up it's a fair amount of work so I'd

[2020-04-20 20:18] MarcoBomfim commented on #175
I can't see any network requests that are not 200s or 300s. I had a 404, but it was a logger that I typed the wrong path, but that's sorted now.

The issue remains, but I'm completely blind to what I could do next to investigate this. As for the Angular being in-browser, that's the objective in the long term, but for now I'm more worried about this issue here.

[2020-04-20 20:28] joeldenning commented on #175
The network request will have a 200 response, but it will return HTML instead of javascript. The reason is that the server is configured to return the index.html whenever it receives a request that it cannot handle. So it will be a network request to download a js file, but the response will be HTML.

Generally the URL for it is pretty easy to find in the browser console. If not, you can look in t

[2020-04-21 13:57] OriolInvernonLlaneza commented on #113
Hi @white-collar . Did you confirm it in 3.3.1 or 4.0? I'm on the process of updating our Angular 8 micros to 3.3.1 and If I navigate too fast between two of them I still get the infinite loop.

[2020-04-22 05:19] celian-garcia commented on #168
Great ! Indeed it's even better to put it in the ``angular.json`` config, I'll do so in my projects too, thanks !

[2020-04-22 13:35] MarcoBomfim commented on #175
Hey, @joeldenning! Apologies for the delay on the reply. I can see two files that may be the culprits on the requests (both returning 200).

The first one is the `locahost:4201/main.js`, which I can't even preview the response body, so I can't say for sure whether it is a JS or HTML file:
![Screenshot from 2020-04-22 10-22-48](https://user-images.githubusercontent.com/30595009/79987770-33555000-84

[2020-04-22 15:18] joeldenning commented on #175
Nice finds. Try going to those URLs in their own browser tabs to diagnose the issue. Until you can get javascript to return from those urls, things won't work. Here are some things to verify:

- Is 4201 is the correct port.
- Is ng serve running on `http` or `https`.
- Is it `/js/main.js` instead of `main.js`
- Try the things listed [here](https://github.com/systemjs/systemjs/blob/master/docs/erro

[2020-04-22 17:33] matt-gold commented on #113
I am seeing the infinite redirect bug after clicking the back button between two single-spa-angular 4.0 apps, using the latest single-spa 5.3.4.  The bug does not appear if I use @kisslove 's fork of single-spa mentioned in this thread, which is what we've been using as a workaround for this bug for the past few months.

There are a lot of moving parts in my application, but I'll try to get a repo

[2020-04-22 18:32] MarcoBomfim commented on #175
Ok, been trying to get some more info on this one, but unfortunately things are still not in the clear. I've verified the above, and can confirm that:
- The port **is** the right one,
- ng serve is ignoring host-check, and accepting both https and http requests
- the path is indeed `main.js`. I've tweaked the address to several others, and the chunk `0.js` is only accessible from `localhost:4201/m

[2020-04-27 06:23] aniketavhad commented on #76
In my case `assets/i18n/en.json' is failed to load from the particular app, Instead it is trying to search i18n into shell-app`. I am using `@ngx-translate/core` package to set locale and convert labels accordingly.

What will be the solution to load `en.json` from there respective app?

[2020-04-27 15:41] joeldenning commented on #76
See https://single-spa.js.org/docs/ecosystem-angular#angular-assets, which explains the changes needed to properly load assets when using single-spa-angular

[2020-04-27 17:35] learnwithlakshman commented on #151
While serve i am facing following issue

ERROR in The target entry-point "single-spa-angular" has missing dependencies:
 - single-spa

[2020-04-27 19:42] MarcoBomfim commented on #175
An interesting finding today, is that one of the applications that is being served along with the one that is currently broken, when we stop its execution, the broken application now works without any issues.

The application are a Vue and a Angular (the one shouting the error), and when the Vue gets disabled, the app works again. @joeldenning, do you happen to know if there are any special config

[2020-04-28 13:58] dmeagor opened #177 "Angular UI Router"
Hi,

I see that single spa works with UI router on AngularJS.  Are there any issues integrating to UI Router with Angular 8/9?  Looks like the documentation refers to the inbuilt router.

[2020-04-28 16:33] joeldenning commented on #151
@learnwithlakshman you should do `npm install --save single-spa`. This is something we still need to document after the 4.0 change, but you can see some notes about it at https://github.com/single-spa/single-spa-angular/releases/tag/v4.0.0

[2020-04-29 22:09] rDr4g0n opened #179 "Navigation between routes within an Angular 5 app fails with error `Cannot read property 'skipLocationChange' of null`"
When single-spa initially mounts my angular 5 app, the route is correctly loaded. However, if the app is currently mounted and I navigate to a different route within the same app, the navigation fails and the console includes the error `Cannot read property 'skipLocationChange' of null`.

After some sleuthing, I have discovered the source of the problem. A [recent fix](https://github.com/single-sp